/* Theme Styles 
 *
 * Styles for setting a custom theme for your site
 ===================================================*/ 
.logo { padding: 2em; }
p { font-size: 1.1em }
.home-head {
	background: url('../assets/images/stepping-stone-falls.jpg');
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: top center;
	min-height: 60vh;
}
.about-section { background: url('../assets/images/county-bldg-brutalist.jpg');
	background-repeat: no-repeat; background-size: cover; background-position: center center; 
	padding-top: 1.8em; padding-bottom: 1.8em;
}
.demo-cover-1 { background-image: url('../assets/images/apocalypse-architecture.jpg'); }
.clip-bg-demo1 {
    background-image: url('../assets/images/vacation.jpg');
}

.about-section .tabs input[type="radio"]:checked + label { background: #fff !important; } /* Force white background on active tabs on home page */
