/* Theme Styles 
 *
 * Styles for setting a custom theme for your site
 ===================================================*/ 
.logo { padding: 2em; }
p { font-size: 1.1em }
.home-head {
	background: url('../assets/images/rupp-drive-brutalism.jpg');
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	min-height: 60vh;
}

.demo-cover-1 { background-image: url('../assets/images/apocalypse-architecture.jpg'); }
.clip-bg-demo1 {
    background-image: url('../assets/images/vacation.jpg');
}
