/*************************************************
BUIX - Brutalist User Interface Experience
**************************************************/

/* BUTTONS
**********************************/
button, .button, .btn {
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	padding: 0.3em;
	line-height: 150%;
}
.blocked:hover { 
	cursor: not-allowed !important; 
}


/* NAVIGATION
**********************************/
/* Default Nav */
nav a { display: block; }
nav a.active { text-decoration: underline; }
nav a:hover { text-decoration: underline; }
nav ul li ul li a { padding-left: 0.5em; }
nav ul li ul li ul li a { padding-left: 1em; }

/* Simple Nav */
ul.simple-nav, nav.simple ul {
  font-size: 1.2em;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: transparent; /* transparent by default. Use flavors to add color! */
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

ul.simple-nav li a, nav.simple ul li a{
  display: block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 0.5em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

ul.simple-nav li span, nav.simple ul li span {
  display: none;
}

ul.simple-nav li a:hover, nav.simple ul li a:hover {
  border-top: 1px solid #fff;
}

ul.simple-nav li a:hover span, nav.simple ul li a:hover span {
  display: block;
  font-size: 0.8em;
  padding: 10px 0;
}
ul.simple-nav li.active, nav.simple ul li.active {
	font-size: 140%; font-weight: 600;
}

/* STACKS: create layers
**********************************/
.stack-auto { display: flex; }
.stack-base { z-index: 0 !important; }
.stack1 { z-index: 1 !important; }
.stack2 { z-index: 2 !important; }
.stack3 { z-index: 3 !important; }
.stack4 { z-index: 4 !important; }
.stack5 { z-index: 5 !important; }
.stack6 { z-index: 6 !important; }
.stack7 { z-index: 7 !important; }
.stack8 { z-index: 8 !important; }
.stack9 { z-index: 9 !important; }
.stack-middle { z-index: 29 !important; }
.stack-high { z-index: 49 !important; }
.stack-top { z-index: 99 !important; }

/* STICKIES: fixed positions 
**********************************/
.sticky { position: fixed; }
.sticky-bottom-right { position: fixed; bottom: 0; right: 0; }
.sticky-bottom-left { position: fixed; bottom: 0; left: 0; }
.sticky-top-right { position: fixed; top: 0; right: 0; }
.sticky-top-left { position: fixed; top: 0; left: 0; }

/* TAGS 
**********************************/
ul.tags { list-style: none; padding: 0; margin: 0; }
ul.tags li { display: inline-block; list-style-type: none; padding: 0; margin: 0.4em; }


/* REVELATIONS
**********************************/
.revelation { display: inline-block; max-width: 50%; height: auto; transition: max-width 2s; -webkit-transition: max-width 2s; }
.revelation .secret { display: none; }
.revelation:hover, .revelation:active, .revelation:focus { max-width: 100%; height: auto; cursor: pointer; }
.revelation:hover .secret, .revelation:active .secret, .revelation:focus .secret { display: block; }
