/* Brutalist Framework 1.5 CORE CSS*/
/* Load Default */
@import url('default.css');
/* Load Grid Core */
@import url('grids/core.css');
/* Load ReBAR */
@import url('rebar.css');
/* Load Flavors */
@import url('flavors.css');
/* Load BUTCH */
@import url('butch.css');
/* Load BUIX */
@import url('buix.css');
/* Load BFX */
@import url('bfx.css');
/* Load Animations */
@import url('animations.css');