/* Print Grid */
@import url('variables.css');

.printgrid, .pgrid{ 
	-moz-column-fill:auto; -webkit-column-fill:auto; column-fill:auto;
	-moz-column-count: var(--colcount); -webkit-column-count: var(--colcount); column-count: var(--colcount);
	-webkit-column-gap: var(--colgap); column-gap: var(--colgap); -moz-column-gap: var(--colgap);
	margin: 0; padding: 0;
}
.printgrid.balance, .pgrid.balance { -moz-column-fill:balance; -webkit-column-fill:balance; column-fill:balance; }
.printgrid>.c-span, .pgrid>.c-span, .c-span{-webkit-column-span: all; column-span: all;}
.printgrid>ul, .pgrid>ul, .printgrid>ol, .pgrid>ol { margin: 0; padding: 0;}

.colcount{-moz-column-count: var(--colcount); -webkit-column-count: var(--colcount); column-count: var(--colcount);}
.cc1, .col1, .single-col { -moz-column-count:1; -webkit-column-count:1; column-count:1; }
.cc2, .col2, .double-col { -moz-column-count:2; -webkit-column-count:2; column-count:2; }
.cc3, .col3, .triple-col { -moz-column-count:3; -webkit-column-count:3; column-count:3; }
.cc4, .col4, .quad-col { -moz-column-count:4; -webkit-column-count:4; column-count:4; }
.cc5, .col5, .quint-col { -moz-column-count:5; -webkit-column-count:5; column-count:5; }
.cc6, .col6, .six-col { -moz-column-count:6; -webkit-column-count:6; column-count:6; }
.cc7, .col7, .sept-col { -moz-column-count:7; -webkit-column-count:7; column-count:7; }
.cc8, .col8, .oct-col { -moz-column-count:8; -webkit-column-count:8; column-count:8; }
.cc9, .col9 { -moz-column-count:9; -webkit-column-count:9; column-count:9; }
.cc10 { -moz-column-count:10; -webkit-column-count:10; column-count:10; }
.cc11 { -moz-column-count:11; -webkit-column-count:11; column-count:11; }
.cc12 { -moz-column-count:12; -webkit-column-count:12; column-count:12; }

.colwidth{-moz-column-width: var(--colwidth); -webkit-column-width: var(--colwidth); column-width: var(--colwidth);}
.cw-cm-1 { -moz-column-width: 1cm; -webkit-column-width: 1cm; column-width: 1cm;}
.cw-cm-2 { -moz-column-width: 2cm; -webkit-column-width: 2cm; column-width: 2cm;}
.cw-cm-3 { -moz-column-width: 3cm; -webkit-column-width: 3cm; column-width: 3cm;}
.cw-cm-4 { -moz-column-width: 4cm; -webkit-column-width: 4cm; column-width: 4cm;}
.cw-cm-5 { -moz-column-width: 5cm; -webkit-column-width: 5cm; column-width: 5cm;}
.cw-cm-6 { -moz-column-width: 6cm; -webkit-column-width: 6cm; column-width: 6cm;}
.cw-cm-7 { -moz-column-width: 7cm; -webkit-column-width: 7cm; column-width: 7cm;}
.cw-cm-8 { -moz-column-width: 8cm; -webkit-column-width: 8cm; column-width: 8cm;}
.cw-cm-9 { -moz-column-width: 9cm; -webkit-column-width: 9cm; column-width: 9cm;}
.cw-cm-10 { -moz-column-width: 10cm; -webkit-column-width: 10cm; column-width: 10cm;}
.cw-cm-11 { -moz-column-width: 11cm; -webkit-column-width: 11cm; column-width: 11cm;}
.cw-cm-12 { -moz-column-width: 12cm; -webkit-column-width: 12cm; column-width: 12cm;}
.cw-em-5 { -moz-column-width: 5em; -webkit-column-width: 5em; column-width: 5em;}
.cw-em-10 { -moz-column-width: 10em; -webkit-column-width: 10em; column-width: 10em;}
.cw-em-15 { -moz-column-width: 15em; -webkit-column-width: 15em; column-width: 15em;}
.cw-em-20 { -moz-column-width: 20em; -webkit-column-width: 20em; column-width: 20em;}
.cw-em-25 { -moz-column-width: 25em; -webkit-column-width: 25em; column-width: 25em;}
.cw-em-30 { -moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em;}

.col-gap{-webkit-column-gap: var(--colgap); column-gap: var(--colgap); -moz-column-gap: var(--colgap);}
.no-gap { -webkit-column-gap: 0; -moz-column-gap: 0; column-gap: 0;}
.cg-2x { -webkit-column-gap: 2em; -moz-column-gap: 2em; column-gap: 2em;}
.cg-3x { -webkit-column-gap: 3em; -moz-column-gap: 3em; column-gap: 3em;}
.cg-4x { -webkit-column-gap: 4em; -moz-column-gap: 4em; column-gap: 4em;}
.cg-5x { -webkit-column-gap: 5em; -moz-column-gap: 5em; column-gap: 5em;}
.cg-6x { -webkit-column-gap: 6em; -moz-column-gap: 6em; column-gap: 6em;}

/* paper sizes */
.paper {display: block; padding: 0; margin: 0 auto; width: 100%; height: auto;}
.paper>.page {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	padding: 1cm; margin: 0 auto;
}
.paper>.page.no-pad{padding: 0;}
.paper>.page.a0 { width: 33.1in; max-width: 841mm; height: 46.8in; max-height: 1189mm; }
.paper>.page.a1 { width: 23.4in; max-width: 594mm; height: 33.1in; max-height: 841mm; }
.paper>.page.a2 { width: 16.5in; max-width: 420mm; height: 23.4in; max-height: 594mm; }
.paper>.page.a3 { width: 11.7in; max-width: 297mm; height: 16.5in; max-height: 420mm; }
.paper>.page.a4 { width: 8.3in; max-width: 210mm; height: 11.7in; max-height: 297mm; }
.paper>.page.a5 { width: 5.8in; max-width: 148mm; height: 8.3in; max-height: 210mm; }
.paper>.page.a6 { width: 4.1in; max-width: 105mm; height: 5.8in; max-height: 148mm; }
.paper>.page.a7 { width: 2.9in; max-width: 74mm; height: 4.1in; max-height: 105mm; }
.paper>.page.b5 { width: 176mm; max-width: 176mm; height: 250mm; max-height: 250mm; }
.paper>.page.c5 { width: 162mm; max-width: 162mm; height: 229mm; max-height: 229mm; }
.paper>.page.letter { width: 8.5in; max-width: 216mm; height: 11in; max-height: 279mm; }
.paper>.page.gov-letter { width: 8in; max-width: 203mm; height: 10in; max-height: 254mm;}
.paper>.page.half-letter { width: 5.5in; max-width: 140mm; height: 8.5in; max-height: 216mm; }
.paper>.page.legal { width: 8.5in; max-width: 216mm; height: 14in; max-height: 356mm; }
.paper>.page.gov-legal { width: 8.5in; max-width: 216mm; height: 13in; max-height: 330mm;}
.paper>.page.tabloid { width: 11in; max-width: 279mm; height: 17in; max-height: 432mm; }
.paper>.page.ledger { width: 17in; max-width: 432mm; height: 11in; max-height: 279mm; }
.paper>.page.jr-legal { width: 5in; max-width: 127mm; height: 8in; max-height: 203mm; }