/* B3GRID
BRUTAL BLOCKS 'n BRICKS GRID
**********************************/

.blocks, .block-wrap, .bricks, .brick-wrap { /* Wrapper for blocks and bricks */
	display: flex; display: -webkit-flex; display: -ms-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; 
	box-sizing: border-box;
	align-items: baseline; 
} 
.blocks.row, .bricks.row { flex-direction: row; -webkit-flex-direction: row; -moz-flex-direction: row; } /* Align items in a horizontal row */
.blocks.col, .bricks.col { flex-direction: column; -webkit-flex-direction: column; -moz-flex-direction: column; } /* Align items in a vertical column */
.blocks p, .bricks p { display: block; width: 100%; }
.blocks.center, .bricks.center { justify-content: center; align-content: center; align-items: center; } /* Center items within these containers */
.blocks.around, .bricks.around { align-content: space-around; align-items: baseline;  }
.blocks.stretch { align-items: stretch !important; } 
.block { display: block; flex: 1; -ms-flex: 1; -webkit-flex: 1; flex-grow: 1; }
.brick { display: inline-block; margin: 0; padding: 1em; }
.brick.right { float: right; }
.brick.left { float: left; }

/* Alignments - vertically align individual blocks and bricks */
.block.top, .brick.top { align-self: flex-start; -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; }
.block.middle, .brick.middle { align-self: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }
.block.bottom, .brick.bottom { align-self: flex-end; -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; }

/* Directions */
.blocks.reverse, .bricks.reverse { -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }

/* Widths - works with both blocks and bricks */
.b20 { -webkit-flex-basis: 20%; flex-basis: 20%; width: 20%; max-width: 20%; }
.b25 { -webkit-flex-basis: 25%; flex-basis: 25%; width: 25%; max-width: 25%; }
.b33 { -webkit-flex-basis: 33.33%; flex-basis: 33.33%; width: 33.33%; max-width: 33.33%; }
.b40 { -webkit-flex-basis: 40%; flex-basis: 40%; width: 40%; max-width: 40%; }
.b50 { -webkit-flex-basis: 50%; flex-basis: 50%; width: 50%; max-width: 50%; }
.b60 { -webkit-flex-basis: 60%; flex-basis: 60%; width: 60%; max-width: 60%; }
.b75 { -webkit-flex-basis: 75%; flex-basis: 75%; width: 75%; max-width: 75%; }
.b100 { -webkit-flex-basis: 100%; flex-basis: 100%; width: 100%; max-width: 100%; }

/* Growth Rates */
.block.g0, .block.no-grow { flex-grow: 0; -webkit-flex-grow: 0; -moz-flex-grow: 0; }
.block.g1 { flex-grow: 1; -webkit-flex-grow: 1; -moz-flex-grow: 1; }
.block.g2 { flex-grow: 2; -webkit-flex-grow: 2; -moz-flex-grow: 2; }
.block.g3 { flex-grow: 3; -webkit-flex-grow: 3; -moz-flex-grow: 3; }
.block.g4 { flex-grow: 4; -webkit-flex-grow: 4; -moz-flex-grow: 4; }
.block.g5 { flex-grow: 5; -webkit-flex-grow: 5; -moz-flex-grow: 5; }

/* Heights */
.blocks.bh20, .block.bh20, .bricks.bh20 { height: 20vh; }
.blocks.bh25, .block.bh25, .bricks.bh25 { height: 25vh; }
.blocks.bh33, .block.bh33, .bricks.bh33 { height: 33vh; }
.blocks.bh50, .block.bh50, .bricks.bh50 { height: 50vh; }
.blocks.bh75, .block.bh75, .bricks.bh75 { height: 75vh; }
.blocks.bh100, .block.bh100, .bricks.bh100 { height: 100vh; }

/* Media Queries */
@media only screen and (min-width:481px) and (max-width:960px) {}

@media only screen and (min-width:320px) and (max-width:480px) {
	.b20, .b33 { width: 50%; max-width: 50%; flex-basis: 50%; -webkit-flex-basis: 50%; }
}

@media only screen and (max-width:320px) {
	.b20, .b25, .b33, .b40, .b50, .b60, .b75 { width: 100%; max-width: 100%; -webkit-flex-basis: 100%; flex-basis: 100%; }
}