/* Datatable */
.datatable {}
.datatable tr {color: #333;}
.datatable tr:nth-child(odd){background: #bdbdbd;}
.datatable tr:nth-child(even){background: #d8d8d8;}
.datatable tr:first-of-type{background: #333; color: #eee; text-transform: uppercase; font-weight: 600;}

/* Datarecords */
.datarecords {
	display:flex;
	flex-direction: column; -moz-flex-direction: column; -webkit-flex-direction: column;
}