/* Default Theme Style
===================================================*/ 
header { padding: 1em 0 1em 0; }

.home-head { background-image: url('../files/images/kitty/brutalmoodykat.jpg');
	background-size: 75% auto; background-position: right center; background-repeat: no-repeat;
	display: block; width: 100%; 
}
.home-head:hover { background-image: url('../files/images/kitty/bfx-kat.jpg'); cursor: default;}
.glitchybox { width: 220px; max-width: 220px; height: 220px; display: inline-block; position: absolute; left: 3em; top: 8em; }
.link-block { text-align: left; background-size: cover; background-position: center center; background-repeat: no-repeat; padding-top: 2.25em; }
.link-block h3, .link-block p { background: rgba(0,0,0,0.8); color: #fff; text-shadow: 2px 2px #ff0000; padding: 0.25em; display: inline-block; text-align: left;}
.link-block h3 { border-radius: 40%; -webkit-border-radius: 40%; font-size: 2.5em; }
.link-block h3 i {display:inline-block; background: #ff0000; padding: 4px; margin-right: 10px; border-radius: 50%; -webkit-border-radius: 50%; color: #000; text-shadow: 2px 2px #fff; }
.link-block p { margin: 0.5em 0 0.5em 0; min-height: 3.5em; }
.link-block button { margin: 0; padding: 0; }
.link-block.rebar { background-image: url('../files/images/gelora/rebar.jpg');}
.link-block.bicons { background-image: url('../files/images/kitty/anarchistkat-sq.jpg');}
.link-block.bfx { background-image: url('../files/images/kitty/bfx-kat.jpg');}
.link-block.buix { background-image: url('../files/images/gelora/backup-sq.jpg');}
.link-block.butch { background-image: url('../files/images/gelora/brutal-mood-4.jpg');}
.link-block.flavors { background-image: url('../files/images/gelora/crazy-grin.jpg');}
.link-block.bell { background-image: url('../files/images/gelora/brutal-mood-1.jpg');}
.link-block.grids { background-image: url('../files/images/gelora/fenced.jpg');}
.link-block.boils { background-image: url('../files/images/gelora/grainy-meditation.jpg');}

.home-head h1 { display: inline-block; font-size: 2em; }
.home-head .stackswitch { max-width: 250px;}
.dontpress { width: 150px; height: 150px; padding-top: 2em; border-radius: 50%; -webkit-border-radius: 50%; display: inline-block; font-size: 1.5em; line-height: 140%; }
.about-btn, .pr-btn { 
	width: 150px; height: 150px; padding-top: 1.75em;
	border-radius: 50%; -webkit-border-radius: 50%; display: inline-block;
	background-repeat: no-repeat; background-size: cover; background-position: center center; 
	font-size: 1.5em; line-height: 140%; 
}
.about-btn { background-image: url('../files/images/liminal-blood.jpg'); }
.pr-btn { background-image: url('../files/images/edgespace.jpg'); }
.git-btn { width: 150px; height: 150px; background: #000; color: #fff; padding-top: 2.5em; border-radius: 50%; -webkit-border-radius: 50%; display: inline-block; line-height: 140%; font-size: 1.5em;  }

.bpmodal { background-image: url('../files/images/gelora/grainy-meditation.jpg'); background-size: cover; background-position: center top; background-repeat: no-repeat; }
.page-title, .page-desc { display: inline-block; float: left; clear: left; }
.page-title { padding: 8px; margin: 20px; background: rgba(0,0,0,0.8); }
.page-desc { max-width: 80%; padding: 1em; margin: 20px 20px 20px 40px; background: rgba(0,0,0,0.8);}
.page-desc h2 { margin: 0; line-height: 150%; width: 100%; display: block; }
.page-desc p::before { display: block; content: ''; width: 20%; height: 4px; background: #fff; margin-top: 8px; margin-bottom: 8px; padding: 0; }
.about-section { background: url('../files/images/county-bldg-brutalist.jpg');
	background-repeat: no-repeat; background-size: cover; background-position: center center; 
	padding-top: 1.8em; padding-bottom: 1.8em;
}
.demo-cover-1 { background-image: url('../files/images/apocalypse-architecture.jpg'); }
.about-section .tabs input[type="radio"]:checked + label { background: #fff !important; } /* Force white background on active tabs on home page */

.d1, .d2, .d3, .d4 { background: url('../files/images/brutalist001.jpg');}

@media only screen and (max-width:600px) { 
	.glitchybox { width: 170px; height: 170px; }
	.glitchybox .xlarge-thumb { height: 150px; width: auto; }
	.glitchybox .jumbo-thumb { height: 190px; width: auto;}
}
@media only screen and (min-width: 481px) and (max-width:600px) { .b33.link-block { width: 50%; max-width: 50%; flex-basis: 50%; -webkit-flex-basis: 50%;}}
@media only screen and (max-width:768px) { .about-btn, .pr-btn, .git-btn, .dontpress {width: 120px; height: 120px; font-size: 1.25em; padding-top: 1.5em; }
	.git-btn { padding-top: 2.25em; }
}