/* CORE TEMPLATE STYLES
 *
 * Styles for setting a custom theme
 ==========================================*/ 

p { font-size: 1.1em }

/* Splash Page 001 */
.splash-cover {
	height: 100vh;
	background-image: url('../files/images/rough-concrete.jpg');
	background-position: center; background-size: cover;
}
.feature-cover {
	background-image: url('../files/images/angle2.jpg');
	background-position: center; background-size: cover;
}

/* Splash Page 002 */
.splash-cover-002 {
	height: 60vh;
	background-image: url('../files/images/angle1.jpg');
	background-position: center; background-size: cover;
}

/* Blog Post Basic */
.full-width-block { display: block; width: 100%; }
.blog-post-cover {
	height: 45vh; display: block;
	background-image: url('../files/images/stepping-stone-falls.jpg');
	background-position: center; background-size: cover;
}
@media only screen and (max-width: 700px) {
	.blog-post-cover { height: 80vh; }
}
.blog-post-thumb { max-width: 90px; margin: 0 auto !important; }
.tags li { padding: 0.3em !important; }

/* Event */
.event-cover {
	background-image: url('../files/images/apocalypse-architecture.jpg');
	background-position: center; background-size: cover;
}
.event-cover h1 { font-size: 2.35em; }
.event-cover .date { font-size: 1.33em; line-height: 140%; font-weight: 600;}
.event-cover .date .time { font-size: 0.75em; font-weight: 900; }

/* Email Boilerplate 01 */
.email-body { width: 600px; margin: 0 auto !important; }
@media only screen and (max-width: 620px) {
	.email-body { width: 100%; }
}