@font-face {
    font-family: 'BilboINC';
    src: url('BilboINC.eot');
    src: url('BilboINC.eot?#iefix') format('embedded-opentype'),
        url('BilboINC.woff2') format('woff2'),
        url('BilboINC.woff') format('woff'),
        url('BilboINC.ttf') format('truetype');
    font-weight: normal; font-style: normal; font-display: swap;
}
.bilbo-inc,.bilbo{font-family: 'BilboINC';}