/* Bento Grid */
@import url('variables.css');

.bentogrid { display: block; padding: 0; margin: 0; }
.bentogrid>*{
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.bentogrid.soften>*{
	border-radius: var(--rounding); -webkit-border-radius: var(--rounding);
} 
.bentogrid>*>a{display: block; width: 100%; height: 100%;}