/* MOLDS -> SHAPES */
.shape.quadrant.top-left{
	-webkit-shape-outside: circle(100% at 100% 100%);
	shape-outside: circle(100% at 100% 100%);
	-webkit-clip-path: circle(100% at 100% 100%);
	clip-path: circle(100% at 100% 100%);
}
.shape.quadrant.top-right{
	-webkit-shape-outside: circle(100% at 0 100%);
	shape-outside: circle(100% at 0 100%);
	-webkit-clip-path: circle(100% at 0 100%);
	clip-path: circle(100% at 0 100%);
}
.shape.quadrant.bottom-left{
	-webkit-shape-outside: circle(100.0% at 100% 0);
	shape-outside: circle(100.0% at 100% 0);
	-webkit-clip-path: circle(100.0% at 100% 0);
	clip-path: circle(100.0% at 100% 0);
}
.shape.quadrant.bottom-right{
	-webkit-shape-outside: circle(100% at 0 0);
	shape-outside: circle(100% at 0 0);
	-webkit-clip-path: circle(100% at 0 0);
	clip-path: circle(100% at 0 0);
}
.shape.semicircle.north{
	-webkit-shape-outside: circle(50% at 50% 100%);
	shape-outside: circle(50% at 50% 100%);
	-webkit-clip-path: circle(50% at 50% 100%);
	clip-path: circle(50% at 50% 100%);
}
.shape.semicircle.south{
	-webkit-shape-outside: circle(50% at 50% 0);
	shape-outside: circle(50% at 50% 0);
	-webkit-clip-path: circle(50% at 50% 0);
	clip-path: circle(50% at 50% 0);
}
.shape.semicircle.east{
	-webkit-shape-outside: circle(50% at 0 50%);
	shape-outside: circle(50% at 0 50%);
	-webkit-clip-path: circle(50% at 0 50%);
	clip-path: circle(50% at 0 50%);
}
.shape.semicircle.west{
	-webkit-shape-outside: circle(50% at 100% 50%);
	shape-outside: circle(50% at 100% 50%);
	-webkit-clip-path: circle(50% at 100% 50%);
	clip-path: circle(50% at 100% 50%);
}

.shape.triangle{
	-webkit-shape-outside: polygon(50% 0%, 0 100%, 100% 100%);
	shape-outside: polygon(50% 0%, 0 100%, 100% 100%);
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
}
.shape.triangle.decline{
	-webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
	shape-outside: polygon(0 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 100%, 0 100%);
}
.shape.triangle.incline{
	-webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
	shape-outside: polygon(100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
	clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.shape.pentagon{
	-webkit-shape-outside: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	shape-outside: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	-webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.shape.hexagon{
	-webkit-shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.shape.heptagon{
	-webkit-shape-outside: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
	shape-outside: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
	-webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
	clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.shape.octagon{
	-webkit-shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	-webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.shape.star{
	-webkit-shape-outside: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	shape-outside: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.shape.chevron-right{
	-webkit-shape-outside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
	shape-outside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
	-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.shape.chevron-left{
	-webkit-shape-outside: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	shape-outside: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	-webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.shape.point-right{
	-webkit-shape-outside: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	shape-outside: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.shape.point-left{
	-webkit-shape-outside: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
	shape-outside: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
	-webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
	clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}
.shape.parallelogram{
	-webkit-shape-outside: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	shape-outside: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.shape.rhombus{
	-webkit-shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.shape.home{
	-webkit-shape-outside: polygon(50% 0%, 100% 40%, 90% 40%, 90% 100%, 10% 100%, 9% 40%, 0 40%);
	shape-outside: polygon(50% 0%, 100% 40%, 90% 40%, 90% 100%, 10% 100%, 9% 40%, 0 40%);
	-webkit-clip-path: polygon(50% 0%, 100% 40%, 90% 40%, 90% 100%, 10% 100%, 9% 40%, 0 40%);
	clip-path: polygon(50% 0%, 100% 40%, 90% 40%, 90% 100%, 10% 100%, 9% 40%, 0 40%);
}
.shape.diamond{
	-webkit-shape-outside: polygon(50% 0%, 92% 15%, 100% 33%, 55% 100%, 45% 100%, 0 33%, 9% 15%);
	shape-outside: polygon(50% 0%, 92% 15%, 100% 33%, 55% 100%, 45% 100%, 0 33%, 9% 15%);
	-webkit-clip-path: polygon(50% 0%, 92% 15%, 100% 33%, 55% 100%, 45% 100%, 0 33%, 9% 15%);
	clip-path: polygon(50% 0%, 92% 15%, 100% 33%, 55% 100%, 45% 100%, 0 33%, 9% 15%);
}
.shape.fat-frame{
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
	clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
.shape.frame{
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 16% 100%, 16% 16%, 84% 16%, 84% 84%, 16% 84%, 16% 100%, 100% 100%, 100% 0%);
	clip-path: polygon(0% 0%, 0% 100%, 16% 100%, 16% 16%, 84% 16%, 84% 84%, 16% 84%, 16% 100%, 100% 100%, 100% 0%);
}
.shape.heart{
	-webkit-shape-outside: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
	shape-outside: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
	-webkit-clip-path: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
	clip-path: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
}
.shape.message{
	-webkit-shape-outside: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
	shape-outside: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.shape.rabbet{
	-webkit-shape-outside: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
	shape-outside: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
	-webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
	clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
.shape.cliff-right{
	-webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%, 27% 88%, 57% 57%, 81% 13%);
	shape-outside: polygon(100% 0, 100% 100%, 0 100%, 27% 88%, 57% 57%, 81% 13%);
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 27% 88%, 57% 57%, 81% 13%);
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 27% 88%, 57% 57%, 81% 13%);
}
.shape.cliff-left{
	-webkit-shape-outside: polygon(73% 88%, 100% 100%, 0 100%, 0 0, 19% 13%, 43% 57%);
	shape-outside: polygon(73% 88%, 100% 100%, 0 100%, 0 0, 19% 13%, 43% 57%);
	-webkit-clip-path: polygon(73% 88%, 100% 100%, 0 100%, 0 0, 19% 13%, 43% 57%);
	clip-path: polygon(73% 88%, 100% 100%, 0 100%, 0 0, 19% 13%, 43% 57%);
}