/* B3GRID 2.2 */
.blocks, .block-wrap, .bricks, .brick-wrap, .tiles { /* Wrapper for blocks, bricks, tiles */
	display: flex; display: -webkit-flex; display: -ms-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; 
	box-sizing: border-box; align-items: baseline; 
} 
.blocks.row, .bricks.row, .tiles, .block-wrap.row, .brick-wrap.row { flex-direction: row; -webkit-flex-direction: row; -moz-flex-direction: row; } /* Align items in a horizontal row */
.blocks.row-rev, .bricks.row-rev, .tiles-rev, .block-wrap.row-rev, .brick-wrap.row-rev { flex-direction: row-reverse; -webkit-flex-direction: row-reverse; -moz-flex-direction: row-reverse;}
.blocks.col, .bricks.col, .brick-wrap.col, .block-wrap.col { flex-direction: column; -webkit-flex-direction: column; -moz-flex-direction: column; } /* Align items in a vertical column */
.blocks.col-rev, .bricks.col-rev, .brick-wrap.col-rev, .block-wrap.col-rev { flex-direction: column-reverse; -webkit-flex-direction: column-reverse; -moz-flex-direction: column-reverse;}
.blocks ul, .blocks ul li, .bricks ul, .bricks ul li, ul.bricks, ul.blocks, ul.tiles li { padding: 0; margin: 0; }
.blocks p, .bricks p, .block-wrap p, .brick-wrap p { display: block; width: 100%; }
.block.featured, .brick.featured, .block.first, .brick.first { order: -1 !important; }

.block {display: block; flex: 1; -ms-flex: 1; -webkit-flex: 1; flex-grow: 1;}
.brick {display: inline-block; margin: 0; padding: 0.5em;}

/* Tiles */
ul.tiles {list-style-type: none; width: 100%; padding: 0; margin: 0; flex-direction: row; flex-wrap: wrap;}
ul.tiles li {align-self: stretch; -webkit-align-self: stretch; max-width: 50%;}
ul.tiles.padded > li {padding: 1em;}
ul.tiles li a {display: block; width: 100%; padding: 1em;}

/* Alignments */
.block.start, .brick.start, .bricks.start, .blocks.start, .block-wrap.start, .brick-wrap.start, .tiles.start { 
	align-self: flex-start !important; align-items: flex-start !important; -ms-flex-align: start; justify-content: flex-start;
}
.block.end, .brick.end, .block-wrap.end, .blocks.end, .bricks.end, .brick-wrap.end, .tiles.end { 
	align-self: flex-end !important; align-items: flex-end !important;; -ms-flex-align: end; justify-content: flex-end;
}
.blocks.center, .block-wrap.center, .bricks.center, .brick-wrap.center, .brick.center, .block.center, .tiles.center { 
	align-self: center; align-items: center; justify-content: center; align-content: center;
}
.around { justify-content: space-around !important;}
.evenly { justify-content: space-evenly !important;}
.between { justify-content: space-between !important;}
.stretch { align-self: stretch !important; align-items: stretch !important; align-content: stretch !important;} 
.baseline { align-items: baseline !important; align-self: baseline !important;}
.brick.float-left, .block.float-left {float: left;}
.brick.float-right, .block.float-right {float: right;}

/* Widths */
.b10 { -webkit-flex-basis: 10%; flex-basis: 10%; width: 10%; max-width: 10%; }
.b20 { -webkit-flex-basis: 20%; flex-basis: 20%; width: 20%; max-width: 20%; }
.b25 { -webkit-flex-basis: 25%; flex-basis: 25%; width: 25%; max-width: 25%; }
.b30 { -webkit-flex-basis: 30%; flex-basis: 30%; width: 30%; max-width: 30%; }
.b33 { -webkit-flex-basis: 33.33%; flex-basis: 33.33%; width: 33.33%; max-width: 33.33%; }
.b40 { -webkit-flex-basis: 40%; flex-basis: 40%; width: 40%; max-width: 40%; }
.b50 { -webkit-flex-basis: 50%; flex-basis: 50%; width: 50%; max-width: 50%; }
.b60 { -webkit-flex-basis: 60%; flex-basis: 60%; width: 60%; max-width: 60%; }
.b66 { -webkit-flex-basis: 66.66%; flex-basis: 66.66%; width: 66.66%; max-width: 66.66%; }
.b70 { -webkit-flex-basis: 70%; flex-basis: 70%; width: 70%; max-width: 70%; }
.b75 { -webkit-flex-basis: 75%; flex-basis: 75%; width: 75%; max-width: 75%; }
.b80 { -webkit-flex-basis: 80%; flex-basis: 80%; width: 80%; max-width: 80%; }
.b90 { -webkit-flex-basis: 90%; flex-basis: 90%; width: 90%; max-width: 90%; }
.b100 { -webkit-flex-basis: 100%; flex-basis: 100%; width: 100%; max-width: 100%; }

/* Growth Rates */
.block.g0, .block.no-grow { flex-grow: 0; -webkit-flex-grow: 0; -moz-flex-grow: 0; }
.block.g1 { flex-grow: 1; -webkit-flex-grow: 1; -moz-flex-grow: 1; }
.block.g2 { flex-grow: 2; -webkit-flex-grow: 2; -moz-flex-grow: 2; }
.block.g3 { flex-grow: 3; -webkit-flex-grow: 3; -moz-flex-grow: 3; }
.block.g4 { flex-grow: 4; -webkit-flex-grow: 4; -moz-flex-grow: 4; }
.block.g5 { flex-grow: 5; -webkit-flex-grow: 5; -moz-flex-grow: 5; }
.block.g6 { flex-grow: 6; -webkit-flex-grow: 6; -moz-flex-grow: 6; }

/* View Heights */
.bh20 { height: 20vh;}
.bh25 { height: 25vh;}
.bh30 { height: 30vh;}
.bh33 { height: 33vh;}
.bh40 { height: 40vh;}
.bh50 { height: 50vh;}
.bh60 { height: 60vh;}
.bh66 { height: 66vh;}
.bh70 { height: 70vh;}
.bh75 { height: 75vh;}
.bh80 { height: 80vh;}
.bh100 { height: 100vh;}

/* Quick Widths */
.sixths > .block, .sixths > .brick, ul.tiles.sixths li {width: calc(100% / 6); max-width: 16.66%;}
.fifths > .block, .fifths > .brick, ul.tiles.fifths li {width: calc(100% / 5); max-width: 20%;}
.quarters > .block, .quarters > .brick, .fourths > .block, .fourths > .brick, ul.tiles.quarters li, ul.tiles.fourths li {width: calc(100% / 4); max-width: 25%;}
.thirds > .block, .thirds > .brick, ul.tiles.thirds li {width: calc(100% / 3); max-width: 33.33%;}
.halves > .block, .halves > .brick, ul.tiles.halves li {width: calc(100% / 2); max-width: 50%;}
.full, .full > .block, .full > .brick, ul.tiles.full li { width:100%; max-width: 100%;}
/* Basic Heights */
.h100 { height: 100%; max-height: 100%;}
.h75 { height: 75%; max-height: 75%;}
.h66 { height: 66.66%; max-height: 66.66%;}
.h50 { height: 50%; max-height: 50%;}
.h33 { height: 33.33%; max-height: 33.33%;}
.h25 { height: 25%; max-height: 25%;}

/* Media Queries */
@media only screen and (min-width: 601px) and (max-width: 768px) {
	ul.tiles.fifths li, .fifths .brick, .fifths .block {width: calc(100% / 3); max-width: 33.33%; -webkit-flex-basis: 33.33%; flex-basis: 33.33%;}
	ul.tiles.fifths li:nth-child(5n+4), ul.tiles.fifths li:nth-child(5n),
	.fifths .block:nth-child(5n+4), .fifths .brick:nth-child(5n+4), .fifths .brick:nth-child(5n), .fifths .block:nth-child(5n) {
		width: 50%; max-width: 50%; flex-basis: 50%; -webkit-flex-basis: 50%;
	}
}
@media only screen and (min-width: 481px) and (max-width: 600px) { 
	ul.tiles.sixths li {width: calc(100% / 3); max-width: 33.33%; -webkit-flex-basis: 33.33%; flex-basis: 33.33%;}
	ul.tiles.fifths li {width: 50%; max-width: 50%; -webkit-flex-basis: 50%; flex-basis: 50%;}
	ul.tiles.fifths li:nth-child(5n), ul.tiles.fifths li:last-child {width: 100%; max-width: 100%; flex-basis: 100%; -webkit-flex-basis: 100%;}
	ul.tiles.quarters li, ul.tiles.fourths li, .fourths .block,
	.fourths .brick, .quarters .brick, .quarters .block {width: 50%; max-width: 50%; flex-basis: 50%; -webkit-flex-basis: 50%;}
}
@media only screen and (min-width:321px) and (max-width:480px) {
	.b10, .b20 {width: calc(100% / 4); max-width: 25%; -webkit-flex-basis: 25%; flex-basis: 25%;}
	.b30 {width: calc(100% / 3); max-width: 33.33%; -webkit-flex-basis: 33.33%; flex-basis: 33.33%;}
	.b40, .b60, ul.tiles.thirds li, ul.tiles.fourths li, ul.tiles.fifths li, ul.tiles.sixths li, .quarters, .sixths {width: 50%; max-width: 50%; -webkit-flex-basis: 50%; flex-basis: 50%;}
	.b66, .b70, .b75, .b80, .b90, ul.tiles.fifths li:last-child, .thirds, .fifths {width: 100%; max-width: 100%; -webkit-flex-basis: 100%; flex-basis: 100%;}
}
@media only screen and (max-width:320px) {
	.b25, .b75, ul.tiles.fourths li, ul.tiles.fifths li, ul.tiles.sixths li, .quarters, .sixths {width: 50%; max-width: 50%; -webkit-flex-basis: 50%; flex-basis: 50%;}
	.b10, .b20, .b30, .b33, .b40, .b60, .b66, .b70, .b80, .b90, ul.tiles.thirds li, ul.tiles.halves li,
	ul.tiles.fifths li:last-child, .thirds, .halves, .fifths {
		width: 100%; max-width: 100%; -webkit-flex-basis: 100%; flex-basis: 100%;
	}
}