/*************************************************
BUIX - Brutalist User Interface Experience
**************************************************/

/* NAVIGATION
**********************************/
/* Default Nav */
nav a { display: block; }
nav a.active { text-decoration: underline; }
nav a:hover { text-decoration: underline; }
nav ul li ul li a { padding-left: 0.5em; }
nav ul li ul li ul li a { padding-left: 1em; }