/* general editor */
body {background: #000; color: #32CD32; font-family: 'Courier New', monospace; }
header {padding: 0 20px 0 20px; margin: 0;}
h1 {font-size: 44px; font-weight: 600; margin: 0; padding: 0; line-height: 120%;}
header a, header a:link, header a:visited {text-decoration: none; color: #0080fe;}
header a:hover, header a:focus{color: #f2ef35;}
details summary {background: #00ff00; color: #000; font-weight: 600; text-transform: uppercase;}
.details {padding: 8px 8px 32px 8px;}
a,a:link,a:visited{color: #ffff00; border-bottom: 1px dotted #ffff00;}
a:hover{color: #ff0000; border-bottom: 1px dotted #ff0000;}
small{font-size: 80%;}
.limebox{border-radius: 1rem; border: 1px solid #00ff00; padding: 1rem;}
.limebox h3, .limebox h4 { margin: 0; padding: 8px; font-weight: 600;}
.limebox h3 {background: #00ff00; color: #000;}
.modal-content{background: #fff;}
.block.record {border-bottom: 2px solid #f2f2f2; margin-bottom: 8px; }
.block.record:nth-child(odd){background: #1c1c1c;}
.record h4 a:link, .record h4 a:visited{text-decoration: underline; color: #ffff00;}
.record h4 a:hover {color: #fff;}
.record h4 {margin: 0; padding: 0; font-weight: 600; font-size: 22px; line-height: 150%;}
.record h4.title {font-size: 18px;}
.record p a, .record p a:visited { text-decoration: none; color: #ffff00; }
.record p a:hover { color: #fff;}
.record ul.details {list-style:none; padding: 0 !important; margin: 0 !important; }
.record ul.details li { font-size: 12px !important; font-weight: 600; min-width: 1.5em;
	background: #2e2e2e; color: #32CD32; border: 1px solid #32CD32; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	display: inline-block; padding: 4px 6px 4px 6px; margin: 3px;
}
.record span.color-sample {display: inline-block; width: 18px; height: 18px; border: 2px solid #fff;}
.edit-btn, .del-btn, .add-btn, .btn-save, .danger-btn, .mark-btn, .restrict-btn {
	text-align: center; display: inline-block; padding: 8px; margin: 4px;
	font-size: 16px; font-weight: 600; font-family: 'Trebuchet MS', sans-serif;
}
.del-btn-o, .generate-btn { display: inline-block; text-align: center; padding: 8px; margin: 4px; font-size: 16px; font-weight: 600; font-family: 'Trebuchet MS', sans-serif;}
.padded-body { padding: 30px; background: #f2f2f2; color: #6b6b6b;}
i.con{display: inline-block; width: 30px; text-align: center; filter: grayscale(100%); -webkit-filter: grayscale(100%); font-style: normal;}
.edit-btn { background: #0080fe; color: #fff;}
.mark-btn { background: #32cd32; color: #fff;}
.mark-btn:hover {background: #fff; color: #32cd32;}
.edit-btn:hover {background: #fff; color: #0080fe;}
.generate-btn{background: #ffff00; text-shadow: 2px 2px #000;}
.generate-btn:hover{background: #333;}
.generate-btn.disabled {background: #6e6e6e;}
.del-btn, .del-btn-o { background: #ff0000; color: #ffff00;}
.del-btn:hover, .del-btn-o:hover {background:#ffff00; color: #ff0000;}
.add-btn,.danger-btn {top: 20px; z-index: 199; font-size: 22px; position: sticky; position: -webkit-sticky;}
.add-btn {background:#af37fa; color: #fff;}
.restrict-btn { background: #FE9A2E; color: #000; text-shadow: 2px 2px #000; }
.restrict-btn:hover {background: #ff0000; color: #000;}
.reloadbtn{background: #32cd32; color: #fff; display: inline-block; font-weight: 600; font-size: 18px; width: 42px; top: 20px; padding: 4px; position: sticky; position: -webkit-sticky; border: none; }
.danger-btn {background: #ff0000; color: #ffff00;}
.add-btn:hover {background: #fff; color: #af37fa;}
.danger-btn:hover{background: #ffff00; color: #ff0000;}
.btn-save {background:#0ca623; color: #fff;}
.btn-save:hover{background: #fff; color: #0ca623;}
.modal-content .warning { color: #ff0000 !important;}
.modal-content .modal-title.addnew {color: #fff; background: #af37fa; padding: 8px; }
.modal-content .modal-title.edit {color:#fff; background: #0080fe; padding: 8px;}
.modal-content form {color: #333;}
.modal-content form .block-wrap .block { padding: 0 10px 0 10px;}
a.help:link,a.help:visited{
	border: 1px solid #ffff00; display: block; background: #000; 
	display: inline-block; width: 1.8rem; height: 1.8rem; text-align: center; 
	border-radius: 50%; -webkit-border-radius: 50%; font-size: 1.2rem;
}
a.help:hover{background: #00ff00;}

/* GENERAL FORM STYLE */
form label, form .label { display: inline-block; background: #d1d1d1; font-family: 'Courier New', monospace; color: #000; font-weight: 600; padding: 4px;}
form input[type="number"]{max-width: 120px;}
form select, form input[type="date"] {font-weight: 600; font-size: 18px; color: #000;}
input[type=text],input[type=email],input[type=number],input[type=url], input[type=password],
input[type=datetime-local], input[type=date], input[type=time], textarea{
	background: #000; color: #ffff00; padding: 8px; font-size: 16px; 
	border: 2px solid #00ff00; -webkit-border-radius: 4px; border-radius: 4px; max-width: 80%;
}

input[type=datetime-local], input[type=date], input[type=time] {
	background: #00ff00; color: #000; border: 2px solid #ffff00; font-weight: 600;
}
input[type=checkbox]{float:left;}
form select { background: #000; color: #ffff00; margin-bottom: 18px;
	max-width: 80%; border: 2px solid #00ff00; border-radius: 4px; -webkit-border-radius: 4px;
}
.form-group {padding: 8px; border: 1px solid #00ff00; border-radius: 4px; -webkit-border-radius: 4px; margin: 8px 0 8px 0;}

/* custom range */
.range-input {
  -webkit-appearance: none; appearance: none; 
  width: 100%; cursor: pointer; margin-top: 1.5rem;
  outline: none; border-radius: 15px;
  height: 6px; background: #ccc;
}
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none; appearance: none; 
  height: 15px; width: 15px;
  background-color: #f50;
  border-radius: 50%; border: none;
  transition: .2s ease-in-out;
}
.range-input::-moz-range-thumb {
  height: 15px; width: 15px;
  background-color: #f50;
  border-radius: 50%; border: none;
  transition: .2s ease-in-out;
}
.range-input::-webkit-slider-thumb:hover { box-shadow: 0 0 0 10px rgba(255,85,0, .1);}
.range-input:active::-webkit-slider-thumb { box-shadow: 0 0 0 13px rgba(255,85,0, .2);}
.range-input:focus::-webkit-slider-thumb { box-shadow: 0 0 0 13px rgba(255,85,0, .2);}
.range-input::-moz-range-thumb:hover { box-shadow: 0 0 0 10px rgba(255,85,0, .1);}
.range-input:active::-moz-range-thumb { box-shadow: 0 0 0 13px rgba(255,85,0, .2);}
.range-input:focus::-moz-range-thumb { box-shadow: 0 0 0 13px rgba(255,85,0, .2);}
.range-slider { flex: 1; }
.sliderticks { display: flex; justify-content: space-between; padding: 0 10px;}
.sliderticks span {
  display: flex; justify-content: center;
  width: 1px; height: 10px;
  background: #d3d3d3; line-height: 40px;
}

/* progress bar */
progress[value] { 
	--w: 100%;
	--color: linear-gradient(#fff8,#fff0),
    repeating-linear-gradient(135deg,#0003 0 10px,#0000 0 20px),
    /* if < 30% "red" */
    linear-gradient(red 0 0) 0 /calc(var(--w)*.3 - 100%) 1px,
    /* if < 60% "orange" */
    linear-gradient(orange 0 0) 0 /calc(var(--w)*.6 - 100%) 1px,
    /* else "green" */
    green;
  --background: lightgrey; 
  -webkit-appearance: none; -moz-appearance: none; appearance: none;
  border: none; width: 100%; margin: 0; border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em; background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em; background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em; background: var(--color);
}