/* MOLDS -> SHAPES */

.mold-shape {display:block; }
.mold-shape>.shape{width: 100%; height: 100%; }
.mold-shape>.shape>.shape-left, .mold-shape>.shape>.shape-right{
	height: 100%; width: 50%; display:inline-block;
}
.mold-shape>.shape>.shape-left{float:left;}
.mold-shape>.shape>.shape-right{float:right;}

/* ROUND SHAPES */
.shape.quadrant.top-left{
	-webkit-shape-outside: circle(100% at 100% 100%);
	shape-outside: circle(100% at 100% 100%);
	-webkit-clip-path: circle(100% at 100% 100%);
	clip-path: circle(100% at 100% 100%);
}
.shape.quadrant.top-right{
	-webkit-shape-outside: circle(100% at 0 100%);
	shape-outside: circle(100% at 0 100%);
	-webkit-clip-path: circle(100% at 0 100%);
	clip-path: circle(100% at 0 100%);
}
.shape.quadrant.bottom-left{
	-webkit-shape-outside: circle(100% at 100% 0);
	shape-outside: circle(100% at 100% 0);
	-webkit-clip-path: circle(100% at 100% 0);
	clip-path: circle(100% at 100% 0);
}
.shape.quadrant.bottom-right{
	-webkit-shape-outside: circle(100% at 0 0);
	shape-outside: circle(100% at 0 0);
	-webkit-clip-path: circle(100% at 0 0);
	clip-path: circle(100% at 0 0);
}
.shape.semicircle.north{
	-webkit-shape-outside: circle(50% at 50% 100%);
	shape-outside: circle(50% at 50% 100%);
	-webkit-clip-path: circle(50% at 50% 100%);
	clip-path: circle(50% at 50% 100%);
}
.shape.semicircle.south{
	-webkit-shape-outside: circle(50% at 50% 0);
	shape-outside: circle(50% at 50% 0);
	-webkit-clip-path: circle(50% at 50% 0);
	clip-path: circle(50% at 50% 0);
}
.shape.semicircle.east{
	-webkit-shape-outside: circle(50% at 0 50%);
	shape-outside: circle(50% at 0 50%);
	-webkit-clip-path: circle(50% at 0 50%);
	clip-path: circle(50% at 0 50%);
}
.shape.semicircle.west{
	-webkit-shape-outside: circle(50% at 100% 50%);
	shape-outside: circle(50% at 100% 50%);
	-webkit-clip-path: circle(50% at 100% 50%);
	clip-path: circle(50% at 100% 50%);
}

/* LOVE TRIANGLES */
.shape.triangle{
	-webkit-shape-outside: polygon(50% 0%, 0 100%, 100% 100%);
	shape-outside: polygon(50% 0%, 0 100%, 100% 100%);
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
}
.shape.triangle-flip{
	-webkit-shape-outside: polygon(100% 0%, 50% 100%, 0% 0%);
	shape-outside: polygon(100% 0%, 50% 100%, 0% 0%);
	-webkit-clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
}
.shape.triangle.point-left{
	-webkit-shape-outside: polygon(100% 0%, 100% 100%, 0% 50%);
	shape-outside: polygon(100% 0%, 100% 100%, 0% 50%);
	-webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
	clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}
.shape.triangle.point-right{
	-webkit-shape-outside: polygon(100% 50%, 0% 100%, 0% 0%);
	shape-outside: polygon(100% 50%, 0% 100%, 0% 0%);
	-webkit-clip-path: polygon(100% 50%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 50%, 0% 100%, 0% 0%);
}
.shape.triangle.decline{
	-webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
	shape-outside: polygon(0 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 100%, 0 100%);
}
.shape.triangle.incline{
	-webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
	shape-outside: polygon(100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
	clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.shape.triangle.decline-flip{
	-webkit-shape-outside: polygon(100% 0%, 100% 100%, 0% 0%);
	shape-outside: polygon(100% 0%, 100% 100%, 0% 0%);
	-webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
}
.shape.triangle.incline-flip{
	-webkit-shape-outside: polygon(100% 0%, 0% 100%, 0% 0%);
	shape-outside: polygon(100% 0%, 0% 100%, 0% 0%);
	-webkit-clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
}
/* PENTAGONS */
.shape.pentagon, .mold-shape.pentagon, .mold-shape.pentagon>.shape{
	-webkit-shape-outside: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	shape-outside: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	-webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.shape.pentagon.outside-l, .mold-shape.pentagon>.shape>.shape-left{
	-webkit-shape-outside: polygon(0% 38%, 36% 100%, 0% 100%, 0% 0%, 100% 0%);
	shape-outside: polygon(0% 38%, 36% 100%, 0% 100%, 0% 0%, 100% 0%);
	-webkit-clip-path: polygon(0% 38%, 36% 100%, 0% 100%, 0% 0%, 100% 0%);
	clip-path: polygon(0% 38%, 36% 100%, 0% 100%, 0% 0%, 100% 0%);
}
.shape.pentagon.outside-r, .mold-shape.pentagon>.shape>.shape-right{
	-webkit-shape-outside: polygon(100% 0%, 100% 100%, 64% 100%, 100% 38%, 0% 0%);
	shape-outside: polygon(100% 0%, 100% 100%, 64% 100%, 100% 38%, 0% 0%);
	-webkit-clip-path: polygon(100% 0%, 100% 100%, 46% 100%, 100% 38%, 0% 0%);
	clip-path: polygon(100% 0%, 100% 100%, 64% 100%, 100% 38%, 0% 0%);
}

/* HEXAGONS  */
.shape.hexagon, .mold-shape.hexagon, .mold-shape.hexagon>.shape{
	-webkit-shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.shape.hexagon.outside-r, .mold-shape.hexagon>.shape>.shape-right{
	-webkit-shape-outside:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 75%, 100% 25%);
	shape-outside:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 75%, 100% 25%);
	-webkit-clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 75%, 100% 25%);
	clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 75%, 100% 25%);
}
.shape.hexagon.outside-l, .mold-shape.hexagon>.shape>.shape-left{
	-webkit-shape-outside:polygon(0% 0%, 100% 0%, 0% 25%, 0% 75%, 100% 100%, 0% 100%);
	shape-outside:polygon(0% 0%, 100% 0%, 0% 25%, 0% 75%, 100% 100%, 0% 100%);
	-webkit-clip-path:polygon(0% 0%, 100% 0%, 0% 25%, 0% 75%, 100% 100%, 0% 100%);
	clip-path:polygon(0% 0%, 100% 0%, 0% 25%, 0% 75%, 100% 100%, 0% 100%);
}

/* HEPTAGONS */
.shape.heptagon, .mold-shape.heptagon, .mold-shape.heptagon>.shape{
	-webkit-shape-outside: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
	shape-outside: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
	-webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
	clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.shape.heptagon.outside-r, .mold-shape.heptagon>.shape>.shape-right{
	-webkit-shape-outside: polygon(100% 0%, 100% 100%, 0% 100%, 50% 100%, 100% 60%, 80% 20%, 0% 0%);
	shape-outside: polygon(100% 0%, 100% 100%, 0% 100%, 50% 100%, 100% 60%, 80% 20%, 0% 0%);
	-webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 50% 100%, 100% 60%, 80% 20%, 0% 0%);
	clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 50% 100%, 100% 60%, 80% 20%, 0% 0%);
}
.shape.heptagon.outside-l, .mold-shape.heptagon>.shape>.shape-left{
	-webkit-shape-outside: polygon(100% 0%, 20% 20%, 0% 60%, 50% 100%, 100% 100%, 0% 100%, 0% 0%);
	shape-outside: polygon(100% 0%, 20% 20%, 0% 60%, 50% 100%, 100% 100%, 0% 100%, 0% 0%);
	-webkit-clip-path: polygon(100% 0%, 20% 20%, 0% 60%, 50% 100%, 100% 100%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 20% 20%, 0% 60%, 50% 100%, 100% 100%, 0% 100%, 0% 0%);
}

/* OCTAGONS */
.shape.octagon, .mold-shape.octagon, .mold-shape.octagon>.shape{
	-webkit-shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 70% 100%, 0% 70%, 0% 30%);
	-webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 70% 100%, 0% 70%, 0% 30%);
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.shape.octagon.outside-l, .mold-shape.octagon>.shape>.shape-left{
	-webkit-shape-outside: polygon(0% 0%, 100% 0%, 0% 30%, 0% 70%, 100% 100%, 0% 100%);
	shape-outside: polygon(0% 0%, 100% 0%, 0% 30%, 0% 70%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 30%, 0% 70%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 0% 30%, 0% 70%, 100% 100%, 0% 100%);
}
.shape.octagon.outside-r, .mold-shape.octagon>.shape>.shape-right{
	-webkit-shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 70%, 100% 30%);
	shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 70%, 100% 30%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 70%, 100% 30%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 70%, 100% 30%);
}
.mold-shape.octagon>.shape>.shape-left, .mold-shape.octagon>.shape>.shape-right{width: 30%;}

/* NONAGONS */
.shape.nonagon, .mold-shape.nonagon, .mold-shape.nonagon>.shape{
	-webkit-shape-outside: clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
	shape-outside: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
	-webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
	clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.shape.nonagon.outside-l, .mold-shape.nonagon>.shape>.shape-left{
	-webkit-shape-outside: polygon(100% 0%, 34% 12%, 0% 43%, 12% 78%, 50% 100%, 100% 100%, 0% 100%, 0% 0%);
	shape-outside: polygon(100% 0%, 34% 12%, 0% 43%, 12% 78%, 50% 100%, 100% 100%, 0% 100%, 0% 0%);
	-webkit-clip-path: polygon(100% 0%, 34% 12%, 0% 43%, 12% 78%, 50% 100%, 100% 100%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 34% 12%, 0% 43%, 12% 78%, 50% 100%, 100% 100%, 0% 100%, 0% 0%);
}
.shape.nonagon.outside-r, .mold-shape.nonagon>.shape>.shape-right{
	-webkit-shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 100%, 88% 78%, 100% 43%, 66% 12%);
	shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 100%, 88% 78%, 100% 43%, 66% 12%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 100%, 88% 78%, 100% 43%, 66% 12%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 100%, 88% 78%, 100% 43%, 66% 12%);
}

/* RHOMBUS */
.shape.rhombus.outside-l, .mold-shape.rhombus>.shape>.shape-left{
	-webkit-shape-outside: polygon(100% 0%, 0% 50%, 100% 100%, 0% 100%, 0% 0%);
	shape-outside: polygon(100% 0%, 0% 50%, 100% 100%, 0% 100%, 0% 0%);
	-webkit-clip-path: polygon(100% 0%, 0% 50%, 100% 100%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 0% 50%, 100% 100%, 0% 100%, 0% 0%);
}
.shape.rhombus, .mold-shape.rhombus, .mold-shape.rhombus>.shape{
	-webkit-shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.shape.rhombus.outside-r, .mold-shape.rhombus>.shape>.shape-right{
	-webkit-shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 50%);
	shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 50%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 50%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 50%);
}
/* DIRECTIONAL */
.shape.chevron-right{
	-webkit-shape-outside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
	shape-outside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
	-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.shape.chevron-left{
	-webkit-shape-outside: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	shape-outside: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	-webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.shape.point-right{
	-webkit-shape-outside: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	shape-outside: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.shape.point-left{
	-webkit-shape-outside: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
	shape-outside: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
	-webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
	clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.shape.arrowhead-right{
	-webkit-shape-outside: polygon(0% 0%, 100% 50%, 0% 100%, 25% 50%);
	shape-outside: polygon(0% 0%, 100% 50%, 0% 100%, 25% 50%);
	-webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 25% 50%);
	clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 25% 50%);
}
.shape.arrowhead-left{
	-webkit-shape-outside: polygon(100% 0%, 75% 50%, 100% 100%, 0% 50%);
	shape-outside: polygon(100% 0%, 75% 50%, 100% 100%, 0% 50%); 
	-webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0% 50%);
	clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0% 50%);
}

/* MISC SHAPES */
.shape.star{
	-webkit-shape-outside: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	shape-outside: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.shape.bolt{
	-webkit-shape-outside: polygon(100% 0%, 75% 25%, 90% 25%, 60% 55%, 75% 55%, 0% 100%, 33% 66%, 15% 66%, 55% 33%, 25% 33%);
	shape-outside: polygon(100% 0%, 75% 25%, 90% 25%, 60% 55%, 75% 55%, 0% 100%, 33% 66%, 15% 66%, 55% 33%, 25% 33%);
	-webkit-clip-path: polygon(100% 0%, 75% 25%, 90% 25%, 60% 55%, 75% 55%, 0% 100%, 33% 66%, 15% 66%, 55% 33%, 25% 33%);
	clip-path: polygon(100% 0%, 75% 25%, 90% 25%, 60% 55%, 75% 55%, 0% 100%, 33% 66%, 15% 66%, 55% 33%, 25% 33%);
}
.shape.parallelogram{
	-webkit-shape-outside: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	shape-outside: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.shape.home{
	-webkit-shape-outside: polygon(50% 0%, 100% 40%, 90% 40%, 90% 100%, 10% 100%, 10% 40%, 0 40%);
	shape-outside: polygon(50% 0%, 100% 40%, 90% 40%, 90% 100%, 10% 100%, 10% 40%, 0 40%);
	-webkit-clip-path: polygon(50% 0%, 100% 40%, 90% 40%, 90% 100%, 10% 100%, 10% 40%, 0 40%);
	clip-path: polygon(50% 0%, 100% 40%, 90% 40%, 90% 100%, 10% 100%, 10% 40%, 0 40%);
}
.shape.diamond{
	-webkit-shape-outside: polygon(50% 0%, 92% 15%, 100% 33%, 55% 100%, 45% 100%, 0 33%, 9% 15%);
	shape-outside: polygon(50% 0%, 92% 15%, 100% 33%, 55% 100%, 45% 100%, 0 33%, 9% 15%);
	-webkit-clip-path: polygon(50% 0%, 92% 15%, 100% 33%, 55% 100%, 45% 100%, 0 33%, 9% 15%);
	clip-path: polygon(50% 0%, 92% 15%, 100% 33%, 55% 100%, 45% 100%, 0 33%, 9% 15%);
}
.shape.fat-frame{
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
	clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
.shape.frame{
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 16% 100%, 16% 16%, 84% 16%, 84% 84%, 16% 84%, 16% 100%, 100% 100%, 100% 0%);
	clip-path: polygon(0% 0%, 0% 100%, 16% 100%, 16% 16%, 84% 16%, 84% 84%, 16% 84%, 16% 100%, 100% 100%, 100% 0%);
}
.shape.heart{
	-webkit-shape-outside: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
	shape-outside: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
	-webkit-clip-path: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
	clip-path: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
	/*-webkit-shape-outside: path('M15,45 A30,30,0,0,1,75,45 A30,30,0,0,1,135,45 Q135,90,75,130 Q15,90,15,45 Z');
	shape-outside: path('M15,45 A30,30,0,0,1,75,45 A30,30,0,0,1,135,45 Q135,90,75,130 Q15,90,15,45 Z');
	-webkit-clip-path: path('M15,45 A30,30,0,0,1,75,45 A30,30,0,0,1,135,45 Q135,90,75,130 Q15,90,15,45 Z');
	clip-path: path('M15,45 A30,30,0,0,1,75,45 A30,30,0,0,1,135,45 Q135,90,75,130 Q15,90,15,45 Z');*/
}
.shape.hourglass{
	-webkit-shape-outside: polygon(0% 0%, 100% 0%, 60% 50%, 100% 100%, 0% 100%, 40% 50%);
	shape-outside: polygon(0% 0%, 100% 0%, 60% 50%, 100% 100%, 0% 100%, 40% 50%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 60% 50%, 100% 100%, 0% 100%, 40% 50%);
	clip-path: polygon(0% 0%, 100% 0%, 60% 50%, 100% 100%, 0% 100%, 40% 50%);	
}
.shape.bowtie{
	-webkit-shape-outside: polygon(50% 40%, 100% 0%, 100% 100%, 50% 60%, 0% 100%, 0% 0%);
	shape-outside: polygon(50% 40%, 100% 0%, 100% 100%, 50% 60%, 0% 100%, 0% 0%);
	-webkit-clip-path: polygon(50% 40%, 100% 0%, 100% 100%, 50% 60%, 0% 100%, 0% 0%);
	clip-path: polygon(50% 40%, 100% 0%, 100% 100%, 50% 60%, 0% 100%, 0% 0%);
}
.shape.message{
	-webkit-shape-outside: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
	shape-outside: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.shape.rabbet{
	-webkit-shape-outside: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
	shape-outside: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
	-webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
	clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
.shape.cross{
	-webkit-shape-outside: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	shape-outside: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	-webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.shape.plus{
	-webkit-shape-outside: polygon(33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%, 33% 33%);
	shape-outside: polygon(33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%, 33% 33%);
	-webkit-clip-path: polygon(33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%, 33% 33%);
	clip-path: polygon(33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%, 33% 33%);
}
.shape.plus.outside-l, .mold-shape.plus>.shape>.shape-left{
	-webkit-shape-outside: polygon(0% 0%, 100% 0%, 100% 33%, 0% 33%, 0% 66%, 100% 66%, 100% 100%, 0% 100%);
	shape-outside: polygon(0% 0%, 100% 0%, 100% 33%, 0% 33%, 0% 66%, 100% 66%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 33%, 0% 33%, 0% 66%, 100% 66%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 33%, 0% 33%, 0% 66%, 100% 66%, 100% 100%, 0% 100%);
}
.shape.plus.outside-r, .mold-shape.plus>.shape>.shape-right{ 
	-webkit-shape-outside: polygon(100% 0%, 100% 100%, 0% 100%, 0% 66%, 100% 66%, 100% 33%, 0% 33%, 0% 0%);
	shape-outside: polygon(100% 0%, 100% 100%, 0% 100%, 0% 66%, 100% 66%, 100% 33%, 0% 33%, 0% 0%);
	-webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 66%, 100% 66%, 100% 33%, 0% 33%, 0% 0%);
	clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 66%, 100% 66%, 100% 33%, 0% 33%, 0% 0%);
}
.mold-shape.plus>.shape>.shape-right, .mold-shape.plus>.shape>.shape-left{width: 33%;}

/* Natural */
.shape.cliff-right{
	-webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%, 27% 88%, 57% 57%, 81% 13%);
	shape-outside: polygon(100% 0, 100% 100%, 0 100%, 27% 88%, 57% 57%, 81% 13%);
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 27% 88%, 57% 57%, 81% 13%);
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 27% 88%, 57% 57%, 81% 13%);
}
.shape.cliff-left{
	-webkit-shape-outside: polygon(73% 88%, 100% 100%, 0 100%, 0 0, 19% 13%, 43% 57%);
	shape-outside: polygon(73% 88%, 100% 100%, 0 100%, 0 0, 19% 13%, 43% 57%);
	-webkit-clip-path: polygon(73% 88%, 100% 100%, 0 100%, 0 0, 19% 13%, 43% 57%);
	clip-path: polygon(73% 88%, 100% 100%, 0 100%, 0 0, 19% 13%, 43% 57%);
}
.shape.cave-right {
	-webkit-shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 90%, 80% 75%, 90% 50%, 80% 25%, 50% 10%);
	shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 90%, 80% 75%, 90% 50%, 80% 25%, 50% 10%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 90%, 80% 75%, 90% 50%, 80% 25%, 50% 10%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 90%, 80% 75%, 90% 50%, 80% 25%, 50% 10%);
}
.shape.cave-left {
	-webkit-shape-outside: polygon(100% 0%, 50% 10%, 25% 25%, 10% 50%, 25% 75%, 50% 90%, 100% 100%, 0% 100%, 0% 0%);
	shape-outside: polygon(100% 0%, 50% 10%, 25% 25%, 10% 50%, 25% 75%, 50% 90%, 100% 100%, 0% 100%, 0% 0%);
	-webkit-clip-path: polygon(100% 0%, 50% 10%, 25% 25%, 10% 50%, 25% 75%, 50% 90%, 100% 100%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 50% 10%, 25% 25%, 10% 50%, 25% 75%, 50% 90%, 100% 100%, 0% 100%, 0% 0%);
}
.shape.flower {
	-webkit-clip-path: polygon(23.92% 22.67%,24.66% 23.14%,25.40% 23.61%,26.14% 24.09%,26.87% 24.56%,27.61% 25.04%,28.35% 25.51%,29.09% 25.99%,29.83% 26.46%,30.57% 26.94%,31.31% 27.41%,32.05% 27.89%,32.79% 28.36%,33.53% 28.84%,34.27% 29.31%,35.00% 29.79%,35.74% 30.26%,36.48% 30.74%,37.22% 31.21%,37.96% 31.69%,38.70% 32.16%,39.44% 32.64%,40.18% 33.11%,40.92% 33.59%,41.66% 34.06%,42.40% 34.53%,43.13% 35.01%,43.87% 35.48%,44.61% 35.96%,45.35% 36.43%,46.09% 36.91%,46.83% 37.38%,47.57% 37.86%,48.31% 38.33%,49.05% 38.81%,49.79% 39.28%,50.53% 39.76%,51.26% 40.23%,52.00% 40.71%,52.74% 41.18%,53.48% 41.66%,54.22% 42.13%,54.96% 42.61%,55.70% 43.08%,56.44% 43.56%,57.18% 44.03%,57.92% 44.51%,58.66% 44.98%,59.39% 45.46%,60.13% 45.93%,60.87% 46.40%,61.61% 46.88%,62.35% 47.35%,63.09% 47.83%,63.83% 48.30%,64.57% 48.78%,65.31% 49.25%,66.05% 49.73%,66.79% 50.20%,67.52% 50.68%,68.26% 51.15%,69.00% 51.63%,69.74% 52.10%,70.48% 52.58%,71.22% 53.05%,71.96% 53.53%,72.70% 54.00%,73.44% 54.48%,74.18% 54.95%,74.92% 55.43%,75.65% 55.90%,76.39% 56.38%,77.13% 56.85%,77.87% 57.33%,78.61% 57.80%,79.35% 58.27%,80.09% 58.75%,80.83% 59.22%,81.57% 59.70%,82.31% 60.17%,83.05% 60.65%,83.78% 61.12%,84.52% 61.60%,85.26% 62.07%,86.00% 62.55%,86.74% 63.02%,86.19% 63.12%,85.31% 63.12%,84.43% 63.12%,83.55% 63.12%,83.09% 63.29%,83.71% 63.91%,84.33% 64.53%,84.96% 65.15%,85.57% 65.78%,86.16% 66.43%,86.70% 67.13%,87.19% 67.85%,87.63% 68.61%,88.02% 69.40%,88.36% 70.21%,88.64% 71.04%,88.86% 71.89%,89.03% 72.75%,89.14% 73.62%,89.19% 74.50%,89.18% 75.38%,89.12% 76.25%,88.99% 77.12%,88.81% 77.98%,88.57% 78.83%,88.28% 79.65%,87.93% 80.46%,87.52% 81.24%,87.07% 81.99%,86.56% 82.71%,86.01% 83.39%,85.42% 84.04%,84.78% 84.64%,84.10% 85.20%,83.39% 85.72%,82.65% 86.18%,81.87% 86.60%,81.07% 86.96%,80.25% 87.27%,79.41% 87.52%,78.55% 87.71%,77.69% 87.85%,76.81% 87.93%,75.93% 87.95%,75.05% 87.91%,74.18% 87.81%,73.32% 87.65%,72.46% 87.44%,71.63% 87.17%,70.81% 86.84%,70.02% 86.46%,69.26% 86.03%,68.52% 85.55%,67.82% 85.02%,67.16% 84.44%,66.53% 83.83%,65.91% 83.21%,65.29% 82.59%,64.67% 81.96%,64.05% 81.34%,63.43% 80.72%,63.11% 80.83%,63.11% 81.71%,63.11% 82.59%,63.11% 83.47%,63.11% 84.34%,63.11% 85.22%,63.11% 86.10%,63.11% 86.98%,63.07% 87.86%,62.98% 88.73%,62.83% 89.59%,62.62% 90.45%,62.35% 91.28%,62.03% 92.10%,61.66% 92.89%,61.23% 93.66%,60.75% 94.40%,60.22% 95.10%,59.65% 95.76%,59.03% 96.39%,58.38% 96.97%,57.68% 97.51%,56.96% 98.00%,56.20% 98.44%,55.41% 98.83%,54.60% 99.17%,53.76% 99.45%,52.92% 99.67%,52.05% 99.84%,51.18% 99.95%,50.30% 100.00%,49.43% 99.99%,48.55% 99.92%,47.68% 99.80%,46.82% 99.61%,45.98% 99.37%,45.15% 99.08%,44.34% 98.72%,43.57% 98.32%,42.82% 97.86%,42.10% 97.36%,41.41% 96.80%,40.77% 96.21%,40.17% 95.57%,39.61% 94.89%,39.09% 94.18%,38.63% 93.43%,38.22% 92.66%,37.86% 91.86%,37.55% 91.04%,37.30% 90.19%,37.11% 89.34%,36.98% 88.47%,36.90% 87.59%,36.88% 86.72%,36.88% 85.84%,36.88% 84.96%,36.88% 84.08%,36.88% 83.20%,36.88% 82.33%,36.88% 81.45%,36.88% 80.57%,36.37% 80.93%,35.75% 81.55%,35.13% 82.17%,34.51% 82.79%,33.89% 83.41%,33.26% 84.03%,32.63% 84.64%,31.95% 85.20%,31.24% 85.72%,30.50% 86.18%,29.72% 86.60%,28.92% 86.96%,28.10% 87.27%,27.26% 87.52%,26.40% 87.71%,25.53% 87.85%,24.66% 87.93%,23.78% 87.95%,22.90% 87.91%,22.03% 87.81%,21.16% 87.65%,20.31% 87.44%,19.48% 87.17%,18.66% 86.85%,17.87% 86.47%,17.10% 86.03%,16.37% 85.55%,15.67% 85.02%,15.01% 84.44%,14.38% 83.83%,13.80% 83.17%,13.27% 82.47%,12.78% 81.74%,12.34% 80.98%,11.95% 80.19%,11.62% 79.38%,11.34% 78.55%,11.12% 77.70%,10.96% 76.83%,10.86% 75.96%,10.81% 75.09%,10.82% 74.21%,10.89% 73.33%,11.02% 72.47%,11.21% 71.61%,11.45% 70.76%,11.75% 69.94%,12.11% 69.14%,12.51% 68.36%,12.97% 67.61%,13.48% 66.89%,14.04% 66.21%,14.63% 65.57%,15.26% 64.95%,15.88% 64.33%,16.50% 63.71%,17.04% 63.12%,16.16% 63.12%,15.28% 63.12%,14.40% 63.12%,13.52% 63.12%,12.64% 63.11%,11.77% 63.05%,10.90% 62.93%,10.04% 62.76%,9.19% 62.52%,8.36% 62.23%,7.55% 61.88%,6.77% 61.48%,6.02% 61.03%,5.30% 60.53%,4.61% 59.98%,3.96% 59.39%,3.35% 58.76%,2.79% 58.09%,2.27% 57.38%,1.80% 56.64%,1.38% 55.86%,1.01% 55.07%,0.70% 54.25%,0.45% 53.41%,0.25% 52.55%,0.11% 51.68%,0.02% 50.81%,0.00% 49.93%,0.03% 49.06%,0.13% 48.18%,0.28% 47.32%,0.48% 46.46%,0.75% 45.63%,1.07% 44.81%,1.45% 44.02%,1.87% 43.25%,2.35% 42.51%,2.88% 41.81%,3.45% 41.14%,4.07% 40.52%,4.72% 39.93%,5.41% 39.39%,6.14% 38.90%,6.90% 38.46%,7.69% 38.07%,8.50% 37.73%,9.33% 37.45%,10.18% 37.22%,11.04% 37.06%,11.91% 36.95%,12.79% 36.90%,13.67% 36.89%,14.55% 36.89%,15.43% 36.89%,16.30% 36.89%,17.18% 36.89%,18.06% 36.89%,18.94% 36.89%,19.44% 36.74%,18.82% 36.11%,18.20% 35.49%,17.58% 34.87%,16.96% 34.25%,16.33% 33.63%,15.71% 33.01%,15.09% 32.39%,14.47% 31.77%,13.88% 31.11%,13.34% 30.42%,12.85% 29.70%,12.40% 28.94%,12.01% 28.16%,11.67% 27.35%,11.38% 26.52%,11.15% 25.67%,10.98% 24.81%,10.87% 23.94%,10.81% 23.06%,10.82% 22.18%,10.88% 21.31%,11.00% 20.44%,11.18% 19.58%,11.41% 18.73%,11.70% 17.90%,12.05% 17.10%,12.45% 16.31%,12.90% 15.56%,13.40% 14.84%,13.95% 14.16%,14.54% 13.51%,15.18% 12.90%,15.85% 12.34%,16.56% 11.82%,17.30% 11.35%,18.07% 10.93%,18.87% 10.57%,19.69% 10.26%,20.54% 10.00%,21.39% 9.80%,22.26% 9.66%,23.13% 9.58%,24.01% 9.56%,24.89% 9.59%,25.76% 9.69%,26.63% 9.84%,27.48% 10.05%,28.32% 10.31%,29.14% 10.63%,29.93% 11.01%,30.70% 11.44%,31.43% 11.92%,32.14% 12.45%,32.80% 13.02%,33.43% 13.63%,34.05% 14.25%,34.67% 14.87%,35.29% 15.50%,35.91% 16.12%,36.53% 16.74%,36.88% 16.70%,36.88% 15.82%,36.88% 14.94%,36.88% 14.06%,36.88% 13.18%,36.90% 12.31%,36.99% 11.43%,37.13% 10.57%,37.33% 9.71%,37.58% 8.87%,37.89% 8.05%,38.26% 7.25%,38.68% 6.48%,39.15% 5.74%,39.67% 5.03%,40.23% 4.36%,40.84% 3.72%,41.49% 3.13%,42.18% 2.59%,42.90% 2.09%,43.65% 1.63%,44.44% 1.23%,45.24% 0.89%,46.07% 0.60%,46.92% 0.36%,47.78% 0.19%,48.65% 0.07%,49.53% 0.01%,50.40% 0.01%,51.28% 0.06%,52.15% 0.18%,53.01% 0.35%,53.86% 0.58%,54.69% 0.87%,55.50% 1.21%,56.28% 1.61%,57.04% 2.05%,57.76% 2.55%,58.45% 3.10%,59.10% 3.69%,59.71% 4.32%,60.28% 4.99%,60.80% 5.69%,61.28% 6.43%,61.70% 7.20%,62.07% 8.00%,62.39% 8.82%,62.65% 9.66%,62.85% 10.51%,62.99% 11.38%,63.08% 12.25%,63.11% 13.13%,63.11% 14.01%,63.11% 14.88%,63.11% 15.76%,63.11% 16.64%,63.40% 16.80%,64.03% 16.18%,64.65% 15.56%,65.27% 14.94%,65.89% 14.31%,66.51% 13.69%,67.14% 13.08%,67.80% 12.50%,68.50% 11.97%,69.23% 11.49%,69.99% 11.05%,70.79% 10.67%,71.60% 10.34%,72.44% 10.07%,73.29% 9.86%,74.15% 9.70%,75.03% 9.60%,75.90% 9.56%,76.78% 9.58%,77.66% 9.65%,78.52% 9.79%,79.38% 9.98%,80.22% 10.23%,81.05% 10.53%,81.85% 10.89%,82.62% 11.31%,83.37% 11.77%,84.08% 12.28%,84.76% 12.84%,85.40% 13.45%,85.99% 14.09%,86.55% 14.77%,87.05% 15.49%,87.51% 16.24%,87.91% 17.02%,88.27% 17.83%,88.56% 18.65%,88.80% 19.50%,88.99% 20.36%,89.11% 21.22%,89.18% 22.10%,89.19% 22.98%,89.14% 23.85%,89.03% 24.73%,88.87% 25.59%,88.64% 26.44%,88.36% 27.27%,88.03% 28.08%,87.64% 28.87%,87.20% 29.63%,86.71% 30.36%,86.17% 31.05%,85.59% 31.71%,84.97% 32.33%,84.35% 32.95%,83.73% 33.57%,83.11% 34.19%,82.48% 34.81%,81.86% 35.43%,81.24% 36.06%,80.62% 36.68%,80.97% 36.89%,81.85% 36.89%,82.73% 36.89%,83.61% 36.89%,84.49% 36.89%,85.37% 36.89%,86.25% 36.89%,87.13% 36.90%,88.00% 36.94%,88.87% 37.04%,89.74% 37.20%,90.59% 37.42%,91.42% 37.70%,92.24% 38.03%,93.03% 38.42%,93.79% 38.85%,94.52% 39.34%,95.21% 39.88%,95.87% 40.46%,96.49% 41.08%,97.07% 41.74%,97.60% 42.44%,98.08% 43.18%,98.52% 43.94%,98.90% 44.73%,99.22% 45.55%,99.49% 46.38%,99.71% 47.23%,99.86% 48.10%,99.96% 48.97%,100.00% 49.85%,99.98% 50.72%,99.90% 51.60%,99.77% 52.47%,99.58% 53.32%,99.33% 54.16%,99.02% 54.99%,98.66% 55.79%,98.25% 56.56%,97.78% 57.31%,97.27% 58.02%,96.71% 58.70%,96.11% 59.33%,95.46% 59.93%,94.78% 60.48%,94.06% 60.99%,93.31% 61.44%,92.53% 61.85%,91.72% 62.20%,90.90% 62.50%,90.05% 62.74%,89.19% 62.92%,88.32% 63.04%,87.45% 63.11%,86.62% 62.95%,85.88% 62.47%,85.14% 62.00%,84.40% 61.52%,83.66% 61.05%,82.92% 60.57%,82.19% 60.10%,81.45% 59.63%,80.71% 59.15%,79.97% 58.68%,79.23% 58.20%,78.49% 57.73%,77.75% 57.25%,77.01% 56.78%,76.27% 56.30%,75.53% 55.83%,74.79% 55.35%,74.06% 54.88%,73.32% 54.40%,72.58% 53.93%,71.84% 53.45%,71.10% 52.98%,70.36% 52.50%,69.62% 52.03%,68.88% 51.55%,68.14% 51.08%,67.40% 50.60%,66.66% 50.13%,65.93% 49.65%,65.19% 49.18%,64.45% 48.70%,63.71% 48.23%,62.97% 47.75%,62.23% 47.28%,61.49% 46.80%,60.75% 46.33%,60.01% 45.85%,59.27% 45.38%,58.53% 44.91%,57.80% 44.43%,57.06% 43.96%,56.32% 43.48%,55.58% 43.01%,54.84% 42.53%,54.10% 42.06%,53.36% 41.58%,52.62% 41.11%,51.88% 40.63%,51.14% 40.16%,50.40% 39.68%,49.67% 39.21%,48.93% 38.73%,48.19% 38.26%,47.45% 37.78%,46.71% 37.31%,45.97% 36.83%,45.23% 36.36%,44.49% 35.88%,43.75% 35.41%,43.01% 34.93%,42.28% 34.46%,41.54% 33.98%,40.80% 33.51%,40.06% 33.03%,39.32% 32.56%,38.58% 32.08%,37.84% 31.61%,37.10% 31.14%,36.36% 30.66%,35.62% 30.19%,34.88% 29.71%,34.15% 29.24%,33.41% 28.76%,32.67% 28.29%,31.93% 27.81%,31.19% 27.34%,30.45% 26.86%,29.71% 26.39%,28.97% 25.91%,28.23% 25.44%,27.49% 24.96%,26.75% 24.49%,26.02% 24.01%,25.28% 23.54%);
	clip-path: polygon(23.92% 22.67%,24.66% 23.14%,25.40% 23.61%,26.14% 24.09%,26.87% 24.56%,27.61% 25.04%,28.35% 25.51%,29.09% 25.99%,29.83% 26.46%,30.57% 26.94%,31.31% 27.41%,32.05% 27.89%,32.79% 28.36%,33.53% 28.84%,34.27% 29.31%,35.00% 29.79%,35.74% 30.26%,36.48% 30.74%,37.22% 31.21%,37.96% 31.69%,38.70% 32.16%,39.44% 32.64%,40.18% 33.11%,40.92% 33.59%,41.66% 34.06%,42.40% 34.53%,43.13% 35.01%,43.87% 35.48%,44.61% 35.96%,45.35% 36.43%,46.09% 36.91%,46.83% 37.38%,47.57% 37.86%,48.31% 38.33%,49.05% 38.81%,49.79% 39.28%,50.53% 39.76%,51.26% 40.23%,52.00% 40.71%,52.74% 41.18%,53.48% 41.66%,54.22% 42.13%,54.96% 42.61%,55.70% 43.08%,56.44% 43.56%,57.18% 44.03%,57.92% 44.51%,58.66% 44.98%,59.39% 45.46%,60.13% 45.93%,60.87% 46.40%,61.61% 46.88%,62.35% 47.35%,63.09% 47.83%,63.83% 48.30%,64.57% 48.78%,65.31% 49.25%,66.05% 49.73%,66.79% 50.20%,67.52% 50.68%,68.26% 51.15%,69.00% 51.63%,69.74% 52.10%,70.48% 52.58%,71.22% 53.05%,71.96% 53.53%,72.70% 54.00%,73.44% 54.48%,74.18% 54.95%,74.92% 55.43%,75.65% 55.90%,76.39% 56.38%,77.13% 56.85%,77.87% 57.33%,78.61% 57.80%,79.35% 58.27%,80.09% 58.75%,80.83% 59.22%,81.57% 59.70%,82.31% 60.17%,83.05% 60.65%,83.78% 61.12%,84.52% 61.60%,85.26% 62.07%,86.00% 62.55%,86.74% 63.02%,86.19% 63.12%,85.31% 63.12%,84.43% 63.12%,83.55% 63.12%,83.09% 63.29%,83.71% 63.91%,84.33% 64.53%,84.96% 65.15%,85.57% 65.78%,86.16% 66.43%,86.70% 67.13%,87.19% 67.85%,87.63% 68.61%,88.02% 69.40%,88.36% 70.21%,88.64% 71.04%,88.86% 71.89%,89.03% 72.75%,89.14% 73.62%,89.19% 74.50%,89.18% 75.38%,89.12% 76.25%,88.99% 77.12%,88.81% 77.98%,88.57% 78.83%,88.28% 79.65%,87.93% 80.46%,87.52% 81.24%,87.07% 81.99%,86.56% 82.71%,86.01% 83.39%,85.42% 84.04%,84.78% 84.64%,84.10% 85.20%,83.39% 85.72%,82.65% 86.18%,81.87% 86.60%,81.07% 86.96%,80.25% 87.27%,79.41% 87.52%,78.55% 87.71%,77.69% 87.85%,76.81% 87.93%,75.93% 87.95%,75.05% 87.91%,74.18% 87.81%,73.32% 87.65%,72.46% 87.44%,71.63% 87.17%,70.81% 86.84%,70.02% 86.46%,69.26% 86.03%,68.52% 85.55%,67.82% 85.02%,67.16% 84.44%,66.53% 83.83%,65.91% 83.21%,65.29% 82.59%,64.67% 81.96%,64.05% 81.34%,63.43% 80.72%,63.11% 80.83%,63.11% 81.71%,63.11% 82.59%,63.11% 83.47%,63.11% 84.34%,63.11% 85.22%,63.11% 86.10%,63.11% 86.98%,63.07% 87.86%,62.98% 88.73%,62.83% 89.59%,62.62% 90.45%,62.35% 91.28%,62.03% 92.10%,61.66% 92.89%,61.23% 93.66%,60.75% 94.40%,60.22% 95.10%,59.65% 95.76%,59.03% 96.39%,58.38% 96.97%,57.68% 97.51%,56.96% 98.00%,56.20% 98.44%,55.41% 98.83%,54.60% 99.17%,53.76% 99.45%,52.92% 99.67%,52.05% 99.84%,51.18% 99.95%,50.30% 100.00%,49.43% 99.99%,48.55% 99.92%,47.68% 99.80%,46.82% 99.61%,45.98% 99.37%,45.15% 99.08%,44.34% 98.72%,43.57% 98.32%,42.82% 97.86%,42.10% 97.36%,41.41% 96.80%,40.77% 96.21%,40.17% 95.57%,39.61% 94.89%,39.09% 94.18%,38.63% 93.43%,38.22% 92.66%,37.86% 91.86%,37.55% 91.04%,37.30% 90.19%,37.11% 89.34%,36.98% 88.47%,36.90% 87.59%,36.88% 86.72%,36.88% 85.84%,36.88% 84.96%,36.88% 84.08%,36.88% 83.20%,36.88% 82.33%,36.88% 81.45%,36.88% 80.57%,36.37% 80.93%,35.75% 81.55%,35.13% 82.17%,34.51% 82.79%,33.89% 83.41%,33.26% 84.03%,32.63% 84.64%,31.95% 85.20%,31.24% 85.72%,30.50% 86.18%,29.72% 86.60%,28.92% 86.96%,28.10% 87.27%,27.26% 87.52%,26.40% 87.71%,25.53% 87.85%,24.66% 87.93%,23.78% 87.95%,22.90% 87.91%,22.03% 87.81%,21.16% 87.65%,20.31% 87.44%,19.48% 87.17%,18.66% 86.85%,17.87% 86.47%,17.10% 86.03%,16.37% 85.55%,15.67% 85.02%,15.01% 84.44%,14.38% 83.83%,13.80% 83.17%,13.27% 82.47%,12.78% 81.74%,12.34% 80.98%,11.95% 80.19%,11.62% 79.38%,11.34% 78.55%,11.12% 77.70%,10.96% 76.83%,10.86% 75.96%,10.81% 75.09%,10.82% 74.21%,10.89% 73.33%,11.02% 72.47%,11.21% 71.61%,11.45% 70.76%,11.75% 69.94%,12.11% 69.14%,12.51% 68.36%,12.97% 67.61%,13.48% 66.89%,14.04% 66.21%,14.63% 65.57%,15.26% 64.95%,15.88% 64.33%,16.50% 63.71%,17.04% 63.12%,16.16% 63.12%,15.28% 63.12%,14.40% 63.12%,13.52% 63.12%,12.64% 63.11%,11.77% 63.05%,10.90% 62.93%,10.04% 62.76%,9.19% 62.52%,8.36% 62.23%,7.55% 61.88%,6.77% 61.48%,6.02% 61.03%,5.30% 60.53%,4.61% 59.98%,3.96% 59.39%,3.35% 58.76%,2.79% 58.09%,2.27% 57.38%,1.80% 56.64%,1.38% 55.86%,1.01% 55.07%,0.70% 54.25%,0.45% 53.41%,0.25% 52.55%,0.11% 51.68%,0.02% 50.81%,0.00% 49.93%,0.03% 49.06%,0.13% 48.18%,0.28% 47.32%,0.48% 46.46%,0.75% 45.63%,1.07% 44.81%,1.45% 44.02%,1.87% 43.25%,2.35% 42.51%,2.88% 41.81%,3.45% 41.14%,4.07% 40.52%,4.72% 39.93%,5.41% 39.39%,6.14% 38.90%,6.90% 38.46%,7.69% 38.07%,8.50% 37.73%,9.33% 37.45%,10.18% 37.22%,11.04% 37.06%,11.91% 36.95%,12.79% 36.90%,13.67% 36.89%,14.55% 36.89%,15.43% 36.89%,16.30% 36.89%,17.18% 36.89%,18.06% 36.89%,18.94% 36.89%,19.44% 36.74%,18.82% 36.11%,18.20% 35.49%,17.58% 34.87%,16.96% 34.25%,16.33% 33.63%,15.71% 33.01%,15.09% 32.39%,14.47% 31.77%,13.88% 31.11%,13.34% 30.42%,12.85% 29.70%,12.40% 28.94%,12.01% 28.16%,11.67% 27.35%,11.38% 26.52%,11.15% 25.67%,10.98% 24.81%,10.87% 23.94%,10.81% 23.06%,10.82% 22.18%,10.88% 21.31%,11.00% 20.44%,11.18% 19.58%,11.41% 18.73%,11.70% 17.90%,12.05% 17.10%,12.45% 16.31%,12.90% 15.56%,13.40% 14.84%,13.95% 14.16%,14.54% 13.51%,15.18% 12.90%,15.85% 12.34%,16.56% 11.82%,17.30% 11.35%,18.07% 10.93%,18.87% 10.57%,19.69% 10.26%,20.54% 10.00%,21.39% 9.80%,22.26% 9.66%,23.13% 9.58%,24.01% 9.56%,24.89% 9.59%,25.76% 9.69%,26.63% 9.84%,27.48% 10.05%,28.32% 10.31%,29.14% 10.63%,29.93% 11.01%,30.70% 11.44%,31.43% 11.92%,32.14% 12.45%,32.80% 13.02%,33.43% 13.63%,34.05% 14.25%,34.67% 14.87%,35.29% 15.50%,35.91% 16.12%,36.53% 16.74%,36.88% 16.70%,36.88% 15.82%,36.88% 14.94%,36.88% 14.06%,36.88% 13.18%,36.90% 12.31%,36.99% 11.43%,37.13% 10.57%,37.33% 9.71%,37.58% 8.87%,37.89% 8.05%,38.26% 7.25%,38.68% 6.48%,39.15% 5.74%,39.67% 5.03%,40.23% 4.36%,40.84% 3.72%,41.49% 3.13%,42.18% 2.59%,42.90% 2.09%,43.65% 1.63%,44.44% 1.23%,45.24% 0.89%,46.07% 0.60%,46.92% 0.36%,47.78% 0.19%,48.65% 0.07%,49.53% 0.01%,50.40% 0.01%,51.28% 0.06%,52.15% 0.18%,53.01% 0.35%,53.86% 0.58%,54.69% 0.87%,55.50% 1.21%,56.28% 1.61%,57.04% 2.05%,57.76% 2.55%,58.45% 3.10%,59.10% 3.69%,59.71% 4.32%,60.28% 4.99%,60.80% 5.69%,61.28% 6.43%,61.70% 7.20%,62.07% 8.00%,62.39% 8.82%,62.65% 9.66%,62.85% 10.51%,62.99% 11.38%,63.08% 12.25%,63.11% 13.13%,63.11% 14.01%,63.11% 14.88%,63.11% 15.76%,63.11% 16.64%,63.40% 16.80%,64.03% 16.18%,64.65% 15.56%,65.27% 14.94%,65.89% 14.31%,66.51% 13.69%,67.14% 13.08%,67.80% 12.50%,68.50% 11.97%,69.23% 11.49%,69.99% 11.05%,70.79% 10.67%,71.60% 10.34%,72.44% 10.07%,73.29% 9.86%,74.15% 9.70%,75.03% 9.60%,75.90% 9.56%,76.78% 9.58%,77.66% 9.65%,78.52% 9.79%,79.38% 9.98%,80.22% 10.23%,81.05% 10.53%,81.85% 10.89%,82.62% 11.31%,83.37% 11.77%,84.08% 12.28%,84.76% 12.84%,85.40% 13.45%,85.99% 14.09%,86.55% 14.77%,87.05% 15.49%,87.51% 16.24%,87.91% 17.02%,88.27% 17.83%,88.56% 18.65%,88.80% 19.50%,88.99% 20.36%,89.11% 21.22%,89.18% 22.10%,89.19% 22.98%,89.14% 23.85%,89.03% 24.73%,88.87% 25.59%,88.64% 26.44%,88.36% 27.27%,88.03% 28.08%,87.64% 28.87%,87.20% 29.63%,86.71% 30.36%,86.17% 31.05%,85.59% 31.71%,84.97% 32.33%,84.35% 32.95%,83.73% 33.57%,83.11% 34.19%,82.48% 34.81%,81.86% 35.43%,81.24% 36.06%,80.62% 36.68%,80.97% 36.89%,81.85% 36.89%,82.73% 36.89%,83.61% 36.89%,84.49% 36.89%,85.37% 36.89%,86.25% 36.89%,87.13% 36.90%,88.00% 36.94%,88.87% 37.04%,89.74% 37.20%,90.59% 37.42%,91.42% 37.70%,92.24% 38.03%,93.03% 38.42%,93.79% 38.85%,94.52% 39.34%,95.21% 39.88%,95.87% 40.46%,96.49% 41.08%,97.07% 41.74%,97.60% 42.44%,98.08% 43.18%,98.52% 43.94%,98.90% 44.73%,99.22% 45.55%,99.49% 46.38%,99.71% 47.23%,99.86% 48.10%,99.96% 48.97%,100.00% 49.85%,99.98% 50.72%,99.90% 51.60%,99.77% 52.47%,99.58% 53.32%,99.33% 54.16%,99.02% 54.99%,98.66% 55.79%,98.25% 56.56%,97.78% 57.31%,97.27% 58.02%,96.71% 58.70%,96.11% 59.33%,95.46% 59.93%,94.78% 60.48%,94.06% 60.99%,93.31% 61.44%,92.53% 61.85%,91.72% 62.20%,90.90% 62.50%,90.05% 62.74%,89.19% 62.92%,88.32% 63.04%,87.45% 63.11%,86.62% 62.95%,85.88% 62.47%,85.14% 62.00%,84.40% 61.52%,83.66% 61.05%,82.92% 60.57%,82.19% 60.10%,81.45% 59.63%,80.71% 59.15%,79.97% 58.68%,79.23% 58.20%,78.49% 57.73%,77.75% 57.25%,77.01% 56.78%,76.27% 56.30%,75.53% 55.83%,74.79% 55.35%,74.06% 54.88%,73.32% 54.40%,72.58% 53.93%,71.84% 53.45%,71.10% 52.98%,70.36% 52.50%,69.62% 52.03%,68.88% 51.55%,68.14% 51.08%,67.40% 50.60%,66.66% 50.13%,65.93% 49.65%,65.19% 49.18%,64.45% 48.70%,63.71% 48.23%,62.97% 47.75%,62.23% 47.28%,61.49% 46.80%,60.75% 46.33%,60.01% 45.85%,59.27% 45.38%,58.53% 44.91%,57.80% 44.43%,57.06% 43.96%,56.32% 43.48%,55.58% 43.01%,54.84% 42.53%,54.10% 42.06%,53.36% 41.58%,52.62% 41.11%,51.88% 40.63%,51.14% 40.16%,50.40% 39.68%,49.67% 39.21%,48.93% 38.73%,48.19% 38.26%,47.45% 37.78%,46.71% 37.31%,45.97% 36.83%,45.23% 36.36%,44.49% 35.88%,43.75% 35.41%,43.01% 34.93%,42.28% 34.46%,41.54% 33.98%,40.80% 33.51%,40.06% 33.03%,39.32% 32.56%,38.58% 32.08%,37.84% 31.61%,37.10% 31.14%,36.36% 30.66%,35.62% 30.19%,34.88% 29.71%,34.15% 29.24%,33.41% 28.76%,32.67% 28.29%,31.93% 27.81%,31.19% 27.34%,30.45% 26.86%,29.71% 26.39%,28.97% 25.91%,28.23% 25.44%,27.49% 24.96%,26.75% 24.49%,26.02% 24.01%,25.28% 23.54%);
}

/* OUTSIDE-CIRCLES */
.shape.circle.outside-r, .mold-shape.circle>.shape>.shape-right, .shape.semicircle.east.outside{
	-webkit-shape-outside: polygon(0% 0%,0% 6.72%,26.19% 8.72%,44.38% 12.82%,60.21% 18.89%,72.87% 26.60%,81.66% 35.56%,86.09% 45.29%,85.96% 55.27%,81.28% 64.97%,72.25% 73.87%,59.40% 81.50%,43.41% 87.47%,25.11% 91.45%,0% 93.21%,0% 100%,21.12% 100%,41.12% 100%,61.12% 100%,81.12% 100%,100% 100%,100% 89.44%,100% 79.44%,100% 69.44%,100% 59.44%,100% 49.44%,100% 39.44%,100% 29.44%,100% 19.44%,100% 9.44%,100% 0%,78.88% 0%,58.88% 0%,38.88% 0%);
	shape-outside: polygon(0% 0%,0% 6.72%,26.19% 8.72%,44.38% 12.82%,60.21% 18.89%,72.87% 26.60%,81.66% 35.56%,86.09% 45.29%,85.96% 55.27%,81.28% 64.97%,72.25% 73.87%,59.40% 81.50%,43.41% 87.47%,25.11% 91.45%,0% 93.21%,0% 100%,21.12% 100%,41.12% 100%,61.12% 100%,81.12% 100%,100% 100%,100% 89.44%,100% 79.44%,100% 69.44%,100% 59.44%,100% 49.44%,100% 39.44%,100% 29.44%,100% 19.44%,100% 9.44%,100% 0%,78.88% 0%,58.88% 0%,38.88% 0%);
	-webkit-clip-path: polygon(0% 0%,0% 6.72%,26.19% 8.72%,44.38% 12.82%,60.21% 18.89%,72.87% 26.60%,81.66% 35.56%,86.09% 45.29%,85.96% 55.27%,81.28% 64.97%,72.25% 73.87%,59.40% 81.50%,43.41% 87.47%,25.11% 91.45%,0% 93.21%,0% 100%,21.12% 100%,41.12% 100%,61.12% 100%,81.12% 100%,100% 100%,100% 89.44%,100% 79.44%,100% 69.44%,100% 59.44%,100% 49.44%,100% 39.44%,100% 29.44%,100% 19.44%,100% 9.44%,100% 0%,78.88% 0%,58.88% 0%,38.88% 0%);
	clip-path: polygon(0% 0%,0% 6.72%,26.19% 8.72%,44.38% 12.82%,60.21% 18.89%,72.87% 26.60%,81.66% 35.56%,86.09% 45.29%,85.96% 55.27%,81.28% 64.97%,72.25% 73.87%,59.40% 81.50%,43.41% 87.47%,25.11% 91.45%,0% 93.21%,0% 100%,21.12% 100%,41.12% 100%,61.12% 100%,81.12% 100%,100% 100%,100% 89.44%,100% 79.44%,100% 69.44%,100% 59.44%,100% 49.44%,100% 39.44%,100% 29.44%,100% 19.44%,100% 9.44%,100% 0%,78.88% 0%,58.88% 0%,38.88% 0%);
}
.shape.circle.outside-l, .mold-shape.circle>.shape>.shape-left, .shape.semicircle.west.outside{ 
	-webkit-shape-outside: polygon(13.40% 50%,15.68% 40.09%,22.46% 30.70%,33.37% 22.35%,47.80% 15.46%,64.99% 10.39%,84.05% 7.43%,100% 6.72%,100% 0%,69.44% 0%,49.44% 0%,29.44% 0%,0% 0%,0% 15.28%,0% 25.28%,0% 35.28%,0% 45.28%,0% 55.28%,0% 65.28%,0% 75.28%,0% 85.28%,0% 100%,30.56% 100%,50.56% 100%,70.56% 100%,100% 100%,100% 93.28%,82.95% 92.46%,63.97% 89.38%,46.91% 84.20%,32.66% 77.22%,21.97% 68.79%);
	shape-outside: polygon(13.40% 50%,15.68% 40.09%,22.46% 30.70%,33.37% 22.35%,47.80% 15.46%,64.99% 10.39%,84.05% 7.43%,100% 6.72%,100% 0%,69.44% 0%,49.44% 0%,29.44% 0%,0% 0%,0% 15.28%,0% 25.28%,0% 35.28%,0% 45.28%,0% 55.28%,0% 65.28%,0% 75.28%,0% 85.28%,0% 100%,30.56% 100%,50.56% 100%,70.56% 100%,100% 100%,100% 93.28%,82.95% 92.46%,63.97% 89.38%,46.91% 84.20%,32.66% 77.22%,21.97% 68.79%);
	-webkit-clip-path: polygon(13.40% 50%,15.68% 40.09%,22.46% 30.70%,33.37% 22.35%,47.80% 15.46%,64.99% 10.39%,84.05% 7.43%,100% 6.72%,100% 0%,69.44% 0%,49.44% 0%,29.44% 0%,0% 0%,0% 15.28%,0% 25.28%,0% 35.28%,0% 45.28%,0% 55.28%,0% 65.28%,0% 75.28%,0% 85.28%,0% 100%,30.56% 100%,50.56% 100%,70.56% 100%,100% 100%,100% 93.28%,82.95% 92.46%,63.97% 89.38%,46.91% 84.20%,32.66% 77.22%,21.97% 68.79%);
	-webkit-clip-path: polygon(13.40% 50%,15.68% 40.09%,22.46% 30.70%,33.37% 22.35%,47.80% 15.46%,64.99% 10.39%,84.05% 7.43%,100% 6.72%,100% 0%,69.44% 0%,49.44% 0%,29.44% 0%,0% 0%,0% 15.28%,0% 25.28%,0% 35.28%,0% 45.28%,0% 55.28%,0% 65.28%,0% 75.28%,0% 85.28%,0% 100%,30.56% 100%,50.56% 100%,70.56% 100%,100% 100%,100% 93.28%,82.95% 92.46%,63.97% 89.38%,46.91% 84.20%,32.66% 77.22%,21.97% 68.79%);
}