/* ProductBoard Lite */
.productboard-lite {
	display: flex; font-family: arial, sans-serif;
}
.productboard-lite .product {
	padding: 0.25rem; border: 1px solid #fff;
	margin: 0.25rem; width: 33.33%; max-width: 360px;
}
.productboard-lite .product .cover, .productboard-lite .product .pricetag,
.productboard-lite .product .description{
	display: block; 
}
.productboard-lite .product .cover {text-align: center;}
.productboard-lite .product .cover img{margin: 0 auto;}
.productboard-lite .product .cover h4 {font-size: 22px; font-weight: 600; margin: 0.5rem 0 0.5rem 0; text-align: left;}
.productboard-lite .product .pricetag { line-height: 150%; font-weight: 600; margin: 0;}
.productboard-lite .product .pricetag .price {font-size: 28px;}
.productboard-lite .product .pricetag .sale {
	background-color: #ff0000; color: #fff; margin: 0 0 0.5rem 0;
	font-size: 18px; padding: 4px; border-bottom-right-radius: 4px;
	display: inline-block; border-top-right-radius: 4px;
}
.productboard-lite .product .description { font-size: 1rem; line-height: 150%; margin: 0.5rem 0 0.5rem 0;}
.productboard-lite .product .linkbtn {
	text-align: center !important; font-size: 1.25rem; padding: 0.5rem; text-transform: uppercase;
	font-weight: 600; width: 100% !important; background: #333; display: block; border: 3px solid #000;
}
.productboard-lite .product .linkbtn:link, .productboard-lite .product .linkbtn:visited{color: #eee;}
.productboard-lite .product .linkbtn:hover {border:3px solid #eee;}