/* FILTERS Library 
 * a component of BUTCH
 * ====================
 */
 
 /* Blenders */
.multi-blend { mix-blend-mode: multiply; }
.screen-blend { mix-blend-mode: screen; }
.overlay-blend { mix-blend-mode: overlay; }
.darken-blend { mix-blend-mode: darken; }
.lighten-blend { mix-blend-mode: lighten; }
.dodge-blend { mix-blend-mode: color-dodge; }
.burn-blend { mix-blend-mode: color-burn; }
.hard-blend { mix-blend-mode: hard-light; }
.soft-blend { mix-blend-mode: soft-light; }
.diff-blend { mix-blend-mode: difference; }
.exc-blend { mix-blend-mode: exclusion; }
.hue-blend { mix-blend-mode: hue; }
.sat-blend { mix-blend-mode: saturation; }
.color-blend { mix-blend-mode: color; }
.lum-blend { mix-blend-mode: luminosity; }
.init-blend { mix-blend-mode: initial; }
.inherit-blend { mix-blend-mode: inherit; }
.isolate-blend { mix-blend-mode: isolate; }
.unblend { mix-blend-mode: unset !important; }

/* BASIC FILTERS */
.unfilter,.unfilter-h:hover{-webkit-filter:none; filter: none;}
.blur, img.blur, *.blur-h:hover {
	filter: blur(4px);-webkit-filter: blur(4px);-moz-filter: blur(4px);-o-filter: blur(4px);-ms-filter: blur(4px);
}
.blur-i, img.blur-i, *.blur-i-h:hover {
	filter: blur(6px);-webkit-filter: blur(6px);-moz-filter: blur(6px);-o-filter: blur(6px);-ms-filter: blur(6px);
}
.blur-d, img.blur-d, *.blur-d-h:hover {
	filter: blur(2px);-webkit-filter: blur(2px);-moz-filter: blur(2px);-o-filter: blur(2px);-ms-filter: blur(2px);
}
.darken, img.darken, *.darken-h:hover {
	filter: brightness(0.5);-webkit-filter: brightness(0.5);-moz-filter: brightness(0.5);-o-filter: brightness(0.5);-ms-filter: brightness(0.5);
}
.darken-i, img.darken-i, *.darken-i-h:hover {
	filter: brightness(0.75);-webkit-filter: brightness(0.75);-moz-filter: brightness(0.75);-o-filter: brightness(0.75);-ms-filter: brightness(0.75);
}
.darken-d, img.darken-d, *.darken-d-h:hover {
	filter: brightness(0.25);-webkit-filter: brightness(0.25);-moz-filter: brightness(0.25);-o-filter: brightness(0.25);-ms-filter: brightness(0.25);
}
.lighten, img.lighten, *.lighten-h:hover {
	filter: brightness(2);-webkit-filter: brightness(2);-moz-filter: brightness(2);-o-filter: brightness(2);-ms-filter: brightness(2);
}
.lighten-i, img.lighten-i, *.lighten-i-h:hover {
	filter: brightness(2.5);-webkit-filter: brightness(2.5);-moz-filter: brightness(2.5);-o-filter: brightness(2.5);-ms-filter: brightness(2.5);
}
.lighten-d, img.lighten-d, *.lighten-d-h:hover {
	filter: brightness(1.5);-webkit-filter: brightness(1.5);-moz-filter: brightness(1.5);-o-filter: brightness(1.5);-ms-filter: brightness(1.5);
}
.hue, img.hue, *.hue-h:hover {
	filter:hue-rotate(90deg);-webkit-filter: hue-rotate(90deg);-moz-filter: hue-rotate(90deg);-o-filter: hue-rotate(90deg);-ms-filter: hue-rotate(90deg);
}
.hue-i, img.hue-i, *.hue-i-h:hover {
	filter:hue-rotate(135deg);-webkit-filter: hue-rotate(135deg);-moz-filter: hue-rotate(135deg);-o-filter: hue-rotate(135deg);-ms-filter: hue-rotate(135deg);
}
.hue-d, img.hue-d, *.hue-d-h:hover {
	filter:hue-rotate(45deg);-webkit-filter: hue-rotate(45deg);-moz-filter: hue-rotate(45deg);-o-filter: hue-rotate(45deg);-ms-filter: hue-rotate(45deg);
}
.invert, img.invert, *.invert-h:hover {
	filter: invert(100%);-webkit-filter: invert(100%);-moz-filter: invert(100%);-o-filter: invert(100%);-ms-filter: invert(100%);
}
.grayscale, .greyscale, img.grayscale, img.greyscale, *.grayscale-h:hover, *.greyscale-h:hover {
	filter: grayscale(100%); -webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-o-filter: grayscale(100%);-ms-filter: grayscale(100%);
}
.grayscale-d, .greyscale-d, img.grayscale-d, img.greyscale-d, *.grayscale-d-h:hover, *.greyscale-d-h:hover {
	filter: grayscale(50%); -webkit-filter: grayscale(50%);-moz-filter: grayscale(50%);-o-filter: grayscale(50%);-ms-filter: grayscale(100%);
}
.sepia, img.sepia, *.sepia-h:hover {
	filter: sepia(100%);-webkit-filter: sepia(100%);-moz-filter: sepia(100%);-o-filter: sepia(100%);-ms-filter: sepia(100%);
}
.sepia-d, img.sepia-d, *.sepia-d-h:hover {
	filter: sepia(50%);-webkit-filter: sepia(50%);-moz-filter: sepia(50%);-o-filter: sepia(50%);-ms-filter: sepia(50%);
}
.saturate, img.saturate, *.saturate-h:hover {
	filter: saturate(150%);-webkit-filter: saturate(150%);-moz-filter: saturate(150%);-o-filter: saturate(150%);-ms-filter: saturate(150%);
}
.saturate-i, img.saturate-i, *.saturate-i-h:hover {
	filter: saturate(225%);-webkit-filter: saturate(225%);-moz-filter: saturate(225%);-o-filter: saturate(225%);-ms-filter: saturate(225%);
}
.saturate-d, img.saturate-d, *.saturate-d-h:hover {
	filter: saturate(50%);-webkit-filter: saturate(50%);-moz-filter: saturate(50%);-o-filter: saturate(50%);-ms-filter: saturate(50%);
}
.contrast, img.contrast, *.contrast-h:hover {
	filter: contrast(150%);-webkit-filter: contrast(150%);-moz-filter: contrast(150%);-o-filter: contrast(150%);-ms-filter: contrast(150%);
}
.contrast-i, img.contrast-i, *.contrast-i-h:hover {
	filter: contrast(200%);-webkit-filter: contrast(200%);-moz-filter: contrast(200%);-o-filter: contrast(200%);-ms-filter: contrast(200%);
}
.contrast-d, img.contrast-d, *.contrast-d-h:hover {
	filter: contrast(50%);-webkit-filter: contrast(50%);-moz-filter: contrast(50%);-o-filter: contrast(50%);-ms-filter: contrast(50%);
}

/* Background Filters */
.glassmorph { background: linear-gradient(107.18deg, rgba(255, 255, 255, 0.5) 1.84%, rgba(255, 255, 255, 0.2) 100%); 
	backdrop-filter: blur(8px); -webkit-backdrop-filter: blur(8px);
}
.grayscale-bg,.greyscale-bg { backdrop-filter: grayscale(1); -webkit-backdrop-filter: grayscale(1);}
.sepia-bg { backdrop-filter: sepia(100%); -webkit-backgrop-filter: sepia(100%);}
.saturate-bg { backdrop-filter: saturate(5); -webkit-backdrop-filter: saturate(5);}
.hue-bg { backdrop-filter: hue-rotate(180deg); -webkit-backdrop-filter: hue-rotate(180deg);}
.brighten-bg { backdrop-filter: brightness(150%); -webkit-backdrop-filter: brightness(150%);}
.darken-bg { backdrop-filter: brightness(60%); -webkit-backdrop-filter: brightness(60%);}
.invert-bg { backdrop-filter: invert(80%); -webkit-backdrop-filter: invert(80%);}


/* FANCY FILTERS */
.filter {display: inline-block; width: auto; line-height: 0; position:relative !important;}
.filter::after {position: absolute !important; content: ''; width: 100%; height: 100%; top:0; left:0; padding: 0; margin: 0;}
.amazon,.arctic,.baby-blue,.blue-rock,.blue-lagoon,.cali-sunset,.canary,.coal-paper,.cobalt-print,
.code-red,.desert,.fever-dream,.grey-rock,.hot-summer,.ibiza,.ocean-wave,
.old-wood,.rose-quartz,.sandstorm,.space-trip,.thaw-out,.vintage-may,.wetness {background:#fff;}

/* Amazon */
.filter.amazon::after {mix-blend-mode: multiply; background: #00b309; opacity: 1;}
.filter.amazon > * {
  -webkit-filter:    grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
          filter:    grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: none;
}
/* Arctic */
.filter.arctic::after {mix-blend-mode: multiply; background: #00e1fa; opacity: 0.13;}
.filter.arctic > * {
  -webkit-filter: brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
        filter: brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
  mix-blend-mode: none;
}
/* BLUEBIRD */
.filter.bluebird {background: #42a4ff;}
.filter.bluebird::after {mix-blend-mode: lighten; background: #002a8c; opacity: 1;}
.filter.bluebird > * {
  -webkit-filter: contrast(120%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
        filter: contrast(120%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: multiply;
}
/* BABY BLUE */
.filter.baby-blue::after {mix-blend-mode: multiply; background: #00ccfa; opacity: 1;}
.filter.baby-blue > * {
  -webkit-filter: grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(0%);
        filter: grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(0%);
  mix-blend-mode: none;
}
/* BLUE ROCK */
.filter.blue-rock::after {mix-blend-mode: multiply; background: #008efa; opacity: 0.15;}
.filter.blue-rock > * {
  -webkit-filter: contrast(128%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(120%) sepia(0%);
        filter: contrast(128%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(120%) sepia(0%);
  mix-blend-mode: none;
}
/* BLUE LAGOON */
.filter.blue-lagoon::after {mix-blend-mode: multiply; background: #00e1fa; opacity: 0.5;}
.filter.blue-lagoon > * {
  -webkit-filter: brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
        filter: brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
  mix-blend-mode: none;
}
/* BRANNAN */
.filter.brannan::after {mix-blend-mode: lighten; background: rgba(161, 44, 199, 0.31); }
.filter.brannan > * {
	-webkit-filter: contrast(140%) sepia(50%); filter: contrast(140%) sepia(50%);
}
/* CALI SUNSET */
.filter.cali-sunset::after {mix-blend-mode: multiply; background: #fa00cc; opacity: 0.15;}
.filter.cali-sunset > * {
  -webkit-filter: contrast(128%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(120%) sepia(0%);
        filter: contrast(128%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(120%) sepia(0%);
  mix-blend-mode: none;
}
/* CANARY */
.filter.canary::after {mix-blend-mode: multiply; background: #ffff00; opacity: 1;}
.filter.canary > * {
  -webkit-filter:  brightness(106%)  grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
        filter:  brightness(106%)  grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: none;
}
/* COAL PAPER */
.filter.coal-paper::after {mix-blend-mode: darken; background: #7d0000; opacity: 0.1;}
.filter.coal-paper > * {
  -webkit-filter: brightness(90%) contrast(125%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(50%);
        filter: brightness(90%) contrast(125%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(50%);
  mix-blend-mode: none;
}
/* COBALT */
.filter.cobalt-print::after {mix-blend-mode: lighten; background: #033dc5; opacity: 1;}
.filter.cobalt-print > * {
  -webkit-filter: contrast(120%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
        filter: contrast(120%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: none;
}
/* CODE RED! */
.filter.code-red::after {mix-blend-mode: multiply; background: #fa0000; opacity: 1;}
.filter.code-red > * {
  -webkit-filter: brightness(106%)  grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
        filter: brightness(106%)  grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: none;
}
/* DESERT */
.filter.desert::after {mix-blend-mode: hard-light; background: #fae500; opacity: 0.2;}
.filter.desert > * {
  -webkit-filter: brightness(110%) contrast(114%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
        filter: brightness(110%) contrast(114%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
  mix-blend-mode: none;
}
/* EARLYBIRD */
.filter.earlybird::after{
	background: radial-gradient(ellipse at center,rgba(208, 186, 142, 0.98) 0%, rgba(54, 3, 9, 0.99) 100%);
    mix-blend-mode: overlay;
}
/* FEVER DREAM */
.filter.fever-dream::after {mix-blend-mode: multiply; background: #ff0000; opacity: 0.13;}
.filter.fever-dream > * {
  -webkit-filter:   contrast(97%) grayscale(0%) hue-rotate(330deg) invert(0%) opacity(100%) saturate(111%) sepia(0%);
          filter:   contrast(97%) grayscale(0%) hue-rotate(330deg) invert(0%) opacity(100%) saturate(111%) sepia(0%);
  mix-blend-mode: none;
}
/* FIRESTORM */
.filter.firestorm::after{
	background: linear-gradient(45deg,rgb(255, 0, 0) 0%, rgb(253, 255, 0) 100%);
    mix-blend-mode: multiply;
	-webkit-filter:   contrast(90%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
          filter:   contrast(90%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
}
/* Grey Rock */
.filter.grey-rock::after {mix-blend-mode: none; background: #faaa00; opacity: 0.13;}
.filter.grey-rock > * {
  -webkit-filter:    grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
          filter:    grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: none;
}
/* Honey-Mustard */
.filter.honey-mustard {background: #ffcd45;}
.filter.honey-mustard::after {mix-blend-mode: lighten; background: #0d5c45; opacity: 1;}
.filter.honey-mustard > * {
  -webkit-filter:   contrast(125%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
          filter:   contrast(125%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: multiply;
}
/* HOT SUMMER */
.filter.hot-summer::after {mix-blend-mode: overlay; background: #fae900; opacity: 0.23;}
.filter.hot-summer > * {
  -webkit-filter: brightness(103%) contrast(114%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
        filter: brightness(103%) contrast(114%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
  mix-blend-mode: none;
}
/* IBIZA */
.filter.ibiza::after {mix-blend-mode: soft-light; background: #3a00fa; opacity: 0.5;}
.filter.ibiza > * {
  -webkit-filter: contrast(107%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(165%) sepia(50%);
        filter: contrast(107%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(165%) sepia(50%);
  mix-blend-mode: none;
}
/* INKWELL */
.filter.inkwell::after {background: rgba(0, 0, 0, 0);}
.filter.inkwell > *{
	-webkit-filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
  filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
}
/* LEAF */
.filter.leaf { background: #0665c4;}
.filter.leaf::after {mix-blend-mode: multiply; background: #f9ed3a; opacity: 1;}
.filter.leaf > * {
  -webkit-filter: contrast(79%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
    filter: contrast(79%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: lighten;
}
/* LOFI */
.filter.lofi::after{
	mix-blend-mode: multiply;
	background: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0) 70, rgba(34, 34, 34, 1));
	background: radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0) 70, rgba(34, 34, 34, 1));
}
.filter.lofi > * {
	-webkit-filter: contrast(150%) saturate(110%);
	filter: contrast(150%) saturate(110%);
}
/* MOON */
.filter.moon::after{background: #383838; mix-blend-mode: lighten;}
.filter.moon > * {
	  -webkit-filter: grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
        filter: grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
}
/* NEW80s */
.filter.new80s::after{
	background: linear-gradient(to bottom,rgb(255, 0, 134) 0%, rgb(0, 117, 255) 100%);
    mix-blend-mode: overlay;
}
/* OCEAN WAVE */
.filter.ocean-wave::after {mix-blend-mode: multiply; background: #00e5fa; opacity: 0.13;}
.filter.ocean > * {
  -webkit-filter:  brightness(105%) contrast(104%) grayscale(10%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(50%);
          filter:  brightness(105%) contrast(104%) grayscale(10%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(50%);
  mix-blend-mode: none;
}
/* OLD WOOD */
.filter.old-wood::after {mix-blend-mode: soft-light; background: #574400; opacity: 1;}
.filter.old-wood > * {
  -webkit-filter:  brightness(105%) contrast(102%) grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(9%);
          filter:  brightness(105%) contrast(102%) grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(9%);
  mix-blend-mode: none;
}
/* Princess */
.filter.princess {background: #c4ba86;}
.filter.princess::after {mix-blend-mode: lighten; background: #f430a9; opacity: 1;}
.filter.princess > * {
  -webkit-filter:    grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
          filter:    grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: hard-light;
}
/* Rose Quartz */
.filter.rose-quartz::after {mix-blend-mode: multiply; background: #fa00cc; opacity: 0.5;}
.filter.rose-quartz > * {
  -webkit-filter:    grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
          filter:    grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: none;
}
/* Sandstorm */
.filter.sandstorm::after {mix-blend-mode: multiply; background: #e3dca1; opacity: 1;}
.filter.sandstorm > * {
  -webkit-filter:   contrast(80%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
          filter:   contrast(80%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: none;
}
/* Seaside */
.filter.seaside::after{
	background: linear-gradient(to bottom,rgb(0, 255, 84) 0%, rgb(0, 61, 255) 100%);
    mix-blend-mode: color;
}
/* SOLAR */
.filter.solar:after{
    background: linear-gradient(to bottom,rgba(20, 0, 255, 0.65) 0%, rgba(0, 188, 255, 0.4) 100%);
    mix-blend-mode: exclusion;
}
/* Space Trip */
.filter.space-trip::after {mix-blend-mode: saturation; background: #faaa00; opacity: 1;}
.filter.space-trip > * {
  -webkit-filter:    grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(0%);
          filter:    grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(0%);
  mix-blend-mode: none;
}
/* STUDIO54 */
.filter.studio54 {background: #ff0000;}
.filter.studio54::after {mix-blend-mode: lighten; background: #002b96; opacity: 1;}
.filter.studio54 > * {
  -webkit-filter:    grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
          filter:    grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: multiply;
}
/* THAW */
.filter.thaw::after {mix-blend-mode: lighten; background: #6be9ff; opacity: 0.23;}
.filter.thaw > * {
  -webkit-filter:  brightness(110%) contrast(116%) grayscale(0%) hue-rotate(342deg) invert(0%) opacity(100%) saturate(84%) sepia(0%);
          filter:  brightness(110%) contrast(116%) grayscale(0%) hue-rotate(342deg) invert(0%) opacity(100%) saturate(84%) sepia(0%);
  mix-blend-mode: none;
}
/* TOASTER */
.filter.toaster::after {
	background: radial-gradient(ellipse at center,rgba(128, 78, 15, 0.99) 0%, rgba(59, 0, 59, 0.99) 100%);
    mix-blend-mode: screen;
}
.filter.toaster > *{
	-webkit-filter: contrast(150%) brightness(90%);
	filter: contrast(150%) brightness(90%);
}
/* Vintage May */
.filter.vintage-may::after {mix-blend-mode: none; background: #faaa00; opacity: 0.13;}
.filter.vintage-may > * {
  -webkit-filter: brightness(105%)  grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(50%);
        filter: brightness(105%)  grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(50%);
  mix-blend-mode: none;
}
/* Wetness */
.filter.wetness::after {mix-blend-mode: hard-light; background: #008efa; opacity: 0.15;}
.filter.wetness > * {
  -webkit-filter: contrast(128%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(120%) sepia(0%);
        filter: contrast(128%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(120%) sepia(0%);
  mix-blend-mode: none;
}
/* XPRO2 */
.filter.xpro2::after {
	mix-blend-mode: color-burn;
	background: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(224, 231, 230, 1) 40, rgba(43, 42, 161, 0.6));
	background: radial-gradient(50% 50%, circle closest-corner, rgba(224, 231, 230, 1) 40, rgba(43, 42, 161, 0.6));
}
.filter.xpro2 > * {-webkit-filter: sepia(30%); filter: sepia(30%);}
