/* bIcons - Brutalist Icons 2.3.3
NOTE: not all text editors support all symbols, so some symbols may appear as boxes. */
.bi:before { 
	display: inline-block;
  font: normal normal normal 14px/1 arial;
  font-size: inherit; text-rendering: auto; line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* bIcon Sizes */
.bi.bi-2x {font-size: 2em;}
.bi.bi-3x {font-size: 3em;}
.bi.bi-4x {font-size: 4em;}
.bi.bi-5x {font-size: 5em;}
.bi.bi-6x {font-size: 6em;}
/* Fluid Size Icon! */
@media screen and (min-width: 320px) {
  .bi.bi-fi { font-size: calc(16px + (160 - 16) * ((100vw - 300px) / (1600 - 300))); }
}
@media screen and (max-width: 319px) {
  .bi.bi-fi { font-size: 1.6rem; }
}

/* Danger Zone */
.bi-alert::before{content:"\2755";}
.bi-biohazard::before{content:"\2623";}
.bi-black-flag::before{content:"\1F3F4";}
.bi-bomb::before{content:"\1F4A3";}
.bi-danger::before{content:"\1F6A7";}
.bi-dead::before{content:"\2620";}
.bi-explode::before{content:"\1F4A5";}
.bi-radioactive::before{content:"\2622";}
.bi-red-alert::before{content:"\2757";}
.bi-red-flag::before{content:"\1F6A9";}
.bi-red-light::before{content:"\1F6A8";}
.bi-restricted::before{content:"\26D4";}
.bi-sos::before{content:"\1F198";}
.bi-warning::before{content:"\⚠";}
.bi-wrong::before{content:"\274C";}
.bi-yield::before{content:"\⛛";}

/* Directional */
.bi-converge-right::before{content:"\269E";}
.bi-converge-left::before{content:"\269F";}
.bi-left::before{content:"\⬅";}
.bi-right::before{content:"\➡";}
.bi-up::before{content:"\25B4";}
.bi-down::before{content:"\25BE";}
.bi-charrow::before{content:"\➲";}
.bi-farrow::before{content:"\➠";}
.bi-point-left::before{content:"\☚";}
.bi-point-right::before{content:"\☛";}
.bi-two-way::before{content:"\⛖";}
.bi-two-way-o::before{content:"\⛗";}
.bi-down-right::before{content:"\27A5";}
.bi-up-right::before{content:"\27A6";}
.bi-next::before{content:"\2771";}
.bi-prev::before{content:"\2770";}

/* Sports and Rec */
.bi-archery::before{content:"\1F3F9";}
.bi-baseball::before{content:"\26BE";}
.bi-basketball::before{content:"\1F3C0";}
.bi-beach::before{content:"\⛱";}
.bi-bicycle::before{content:"\1F6B4";}
.bi-billiards::before{content:"\1F3B1";}
.bi-birthday::before{content:"\1F382";}
.bi-bowling::before{content:"\1F3B3";}
.bi-canoe::before{content:"\1F6F6";}
.bi-celebrate::before{content:"\1F942";}
.bi-christmas::before{content:"\1F384";}
.bi-dating::before{content:"\1F49E";}
.bi-dining::before{content:"\1F37D";}
.bi-drama::before{content:"\1F3AD";}
.bi-football::before{content:"\1F3C8";}
.bi-gaming::before{content:"\1F3AE";}
.bi-golf::before{content:"\26F3";}
.bi-halloween::before{content:"\1F383";}
.bi-lift::before{content:"\1F3CB";}
.bi-model::before{content:"\1F483";}
.bi-movies::before{content:"\1F3A5";}
.bi-party::before{content:"\1F389";}
.bi-rowing::before{content:"\1F6A3";}
.bi-run::before{content:"\🏃";}
.bi-sailboat::before{content:"\26F5";}
.bi-soccer::before{content:"\26BD";}
.bi-surf::before{content:"\1F3C4";}
.bi-swim::before{content:"\1F3CA";}
.bi-tennis::before{content:"\🎾";}
.bi-volleyball::before{content:"\1F3D0";}
.bi-walk::before{content:"\1F6B6";}

/* Objects */
.bi-airplane::before{content:"\2708";}
.bi-alarm::before{content:"\⏰";}
.bi-anchor::before{content:"\2693";}
.bi-article::before{content:"\1F4F0";}
.bi-atm::before{content:"\1F3E7";}
.bi-award::before{content:"\1F3C5";}
.bi-badge::before{content:"\1F396";}
.bi-balloon::before{content:"\1F388";}
.bi-battery::before{content:"\1F50B";}
.bi-bike::before{content:"\1F6B2";}
.bi-books::before{content:"\1F4DA";}
.bi-book-open::before{content:"\1F4D6";}
.bi-book-red::before{content:"\1F4D5";}
.bi-book-blue::before{content:"\1F4D8";}
.bi-book-green::before{content:"\1F4D7";}
.bi-book-yellow::before{content:"\1F4D2";}
.bi-briefcase::before{content:"\1F4BC";}
.bi-bulb::before,.idea::before{content:"\1F4A1";}
.bi-camera::before{content:"\1F4F7";}
.bi-candle::before{content:"\🕯";}
.bi-card::before{content:"\1F4B3";}
.bi-castle::before{content:"\1F3F0";}
.bi-chains::before{content:"\26D3";}
.bi-church::before{content:"\26EA";}
.bi-computer::before{content:"\1F4BB";}
.bi-cosmetic::before{content:"\1F484";}
.bi-diamond::before{content:"\1F48E";}
.bi-dice::before{content:"\1F3B2";}
.bi-door::before{content:"\1F6AA";}
.bi-factory::before{content:"\1F3ED";}
.bi-flashlight::before{content:"\1F526";}
.bi-fountain::before{content:"\26F2";}
.bi-fuel::before{content:"\26FD";}
.bi-gift::before{content:"\1F381";}
.bi-cap::before,.bi-edu::before,.bi-grad::before{content:"\1F393";}
.bi-guitar::before{content:"\1F3B8";}
.bi-hammer::before{content:"\1F528";}
.bi-home::before,.bi-house::before{content:"\1F3E0";}
.bi-key::before{content:"\1F511";}
.bi-knife::before{content:"\1F52A";}
.bi-map::before, .bi-world::before{content:"\1F5FA";}
.bi-mic::before{content:"\1F3A4";}
.bi-notepad::before{content:"\1F5D2";}
.bi-palette::before{content:"\1F3A8";}
.bi-piano::before{content:"\1F3B9";}
.bi-pick::before{content:"\26CF";}
.bi-plug::before,.bi-plugin::before{content:"\1F50C";}
.bi-poop::before,.bi-shit::before{content:"\1F4A9";}
.bi-radio::before{content:"\1F4FB";}
.bi-robot::before{content:"\1F916";}
.bi-ruler::before{content:"\1F4CF";}
.bi-saxaphone::before{content:"\1F3B7";}
.bi-school::before{content:"\1F3EB";}
.bi-ship::before{content:"\⛴";}
.bi-shower::before{content:"\1F6BF";}
.bi-skull::before{content:"\1F480";}
.bi-tag::before{content:"\1F516";}
.bi-target::before{content:"\1F3AF";}
.bi-ticket::before{content:"\1F3AB";}
.bi-toilet::before{content:"\1F6BD";}
.bi-trophy::before{content:"\1F3C6";}
.bi-truck::before{content:"\26DF";}
.bi-trumpet::before{content:"\1F3BA";}
.bi-tv::before{content:"\1F4FA";}
.bi-umbrella::before{content:"\☂";}
.bi-vhs::before{content:"\1F4FC";}
.bi-violin::before{content:"\1F3BB";}
.bi-wrench::before{content:"\1F527";}

/* Freakshow */
.bi-alien::before{content:"\1F47D";}
.bi-bat::before{content:"\1F987";}
.bi-clown::before{content:"\1F921";}
.bi-evil::before{content:"\1F608";}
.bi-fairy::before{content:"\1F9DA";}
.bi-freak::before{content:"\1F479";}
.bi-genie::before{content:"\1F9DE";}
.bi-ghost::before{content:"\1F47B";}
.bi-mermaid::before{content:"\1F9DC";}
.bi-sick::before{content:"\1F922";}
.bi-spider::before{content:"\1F577";}
.bi-unicorn::before{content:"\1F984";}
.bi-web::before{content:"\1F578";}
.bi-wizard::before{content:"\1F9D9";}
.bi-vampire::before{content:"\1F9DB";}
.bi-zombie::before{content:"\1F9DF";}

/* Currencies */
.bi-bitcoin::before{content:"\20BF";}
.bi-euro::before{content:"\20AC";}
.bi-kip::before{content:"\20AD";}
.bi-lira::before{content:"\20A4";}
.bi-peso::before{content:"\20B1";}
.bi-won::before{content:"\20A9";}

/* Religion and Philosophy */
.bi-communist::before{content:"\262D";}
.bi-cross::before{content:"\2670";}
.bi-faith::before{content:"\🕊";}
.bi-islam::before{content:"\262A";}
.bi-jew::before{content:"\2721";}
.bi-khanda::before{content:"\262C";}
.bi-peace::before{content:"\262E";}
.bi-pentagram::before{content:"\26E4";}
.bi-pentagram-i::before{content:"\26E7";}
.bi-yin-yang::before{content:"\262F";}

/* Misc Symbols */
.bi-amp::before{content:"\26A1";}
.bi-alternate::before{content:"\26D5";}
.bi-atomic::before{content:"\269B";}
.bi-audio::before{content:"\1F3A7";}
.bi-awareness::before{content:"\1F397";}
.bi-balance::before,.bi-justice::before{content:"\2696";}
.bi-heart-black::before{content:"\1F5A4";}
.bi-bowtie::before{content:"\⋈";}
.bi-celsius::before{content:"\2103";}
.bi-farenheit::before{content:"\2109";}
.bi-comet::before{content:"\1F320";}
.bi-core::before,.bi-fisheye::before{content:"\25C9";}
.bi-divorce::before{content:"\26AE";}
.bi-family::before{content:"\1F46A";}
.bi-female::before{content:"\♀";}
.bi-fleur::before{content:"\269C";}
.bi-free::before{content:"\1F193";}
.bi-gay::before{content:"\26A3";}
.bi-global::before{content:"\1F310";}
.bi-handicap::before{content:"\267F";}
.bi-heat::before{content:"\2668";}
.bi-heart::before,.bi-love::before{content:"\2764";}
.bi-heart-o::before,.bi-love-o::before{content:"\2661";}
.bi-heart-blue::before{content:"\1F499";}
.bi-heart-yellow::before{content:"\1F49B";}
.bi-heart-red::before{content:"\1F9E1";}
.bi-heart-green::before{content:"\1F49A";}
.bi-heart-purple::before {content:"\1F49C";}
.bi-history::before{content:"\210D";}
.bi-infinity::before{content:"\∞";}
.bi-king::before{content:"\♚";}
.bi-launch::before,.bi-rocket::before{content:"\1F680";}
.bi-lesbian::before{content:"\26A2";}
.bi-loz::before{content:"\25C8";}
.bi-male::before{content:"\♂";}
.bi-marriage::before{content:"\26AD";}
.bi-medical::before{content:"\☤";}
.bi-men::before{content:"\1F6B9";}
.bi-music::before{content:"\♫";}
.bi-new::before{content:"\1F195";}
.bi-no-smoking::before{content:"\1F6AD";}
.bi-smoking::before{content:"\1F6AC";}
.bi-numero::before{content:"\2116";}
.bi-ohm::before{content:"\Ω";}
.bi-real::before,.bi-100::before{content:"\1F4AF";}
.bi-partners::before{content:"\26AF";}
.bi-per::before{content:"\214C";}
.bi-pinwheel::before{content:"\2735";}
.bi-prescribe::before{content:"\211E";}
.bi-queen::before{content:"\♛";}
.bi-recycle::before{content:"\♻";}
.bi-reference::before{content:"\203B";}
.bi-sleep::before{content:"\1F4A4";}
.bi-sol::before{content:"\1F506";}
.bi-sparkle::before{content:"\2734";}
.bi-speak::before{content:"\🗣";}
.bi-superstar::before{content:"\1F31F";}
.bi-tel::before{content:"\℡";}
.bi-temperature::before{content:"\🌡";}
.bi-underage::before{content:"\1F51E";}
.bi-unisex::before{content:"\1F6BB";}
.bi-wait::before{content:"\⏳";}
.bi-women::before{content:"\1F6BA";}
.bi-wonder::before,.bi-magic::before{content:"\2728";}

/* Emoticons */
.bi-happy::before{content:"\☺";}
.bi-sad::before{content:"\☹";}

/* UI and Actions */
.bi-action::before{content:"\1F3AC";}
.bi-play::before{content:"\23EF";}
.bi-pause::before{content:"\23F8";}
.bi-stop::before{content:"\23F9";}
.bi-rec::before{content:"\23FA";}
.bi-ff::before{content:"\23E9";}
.bi-seek-next::before{content:"\23ED";}
.bi-rewind::before{content:"\23EA";}
.bi-seek-prev::before{content:"\23EE";}
.bi-shuffle::before{content:"\1F500";}
.bi-repeat::before{content:"\1F501";}
.bi-repeat-once::before{content:"\1F502";}
.bi-sync::before,.bi-refresh::before{content:"\1F504";}
.bi-increase::before{content:"\1F53C";}
.bi-decrease::before{content:"\1F53D";}
.bi-top::before{content:"\1F51D";}
.bi-back::before{content:"\1F519";}
.bi-verify::before{content:"\2705";}
.bi-box::before{content:"\☐";}
.bi-box-check::before{content:"\☑";}
.bi-box-x::before{content:"\☒";}
.bi-check::before{content:"\2714";}
.bi-create::before{content:"\1F4AB";}
.bi-add::before{content:"\271A";}
.bi-cut::before{content:"\2702";}
.bi-delete::before{content:"\2718";}
.bi-phone::before{content:"\260E";}
.bi-phone-o::before{content:"\260F";}
.bi-call::before{content:"\1F4DE";}
.bi-email::before{content:"\2709";}
.bi-mailbox::before{content:"\1F4EA";}
.bi-clear::before{content:"\❎";}
.bi-close::before,.bi-exit::before{content:"\2716";}
.bi-announce::before,.bi-megaphone::before{content:"\1F4E2";}
.bi-broadcast::before{content:"\1F4E1";}
.bi-compress::before{content:"\1F5DC";}
.bi-directory::before,.bi-folder::before{content:"\1F4C2";}
.bi-navigate::before{content:"\26EF";}
.bi-notify::before,.bi-bell::before{content:"\1F514";}
.bi-unnotify::before{content:"\1F515";}
.bi-fill::before{content:"\25CD";}
.bi-flag::before{content: "\2691"; }
.bi-flag-o::before{content: "\2690";}
.bi-grid::before{content:"\25A6";}
.bi-time::before{content:"\⏱";}
.bi-lock::before{content:"\1F512";}
.bi-unlock::before{content:"\1F513";}
.bi-encrypt::before{content:"\1F510";}
.bi-download::before{content:"\1F4E5";}
.bi-upload::before{content:"\1F4E4";}
.bi-mute::before{content:"\1F507";}
.bi-vol-l::before{content:"\1F508";}
.bi-vol-m::before{content:"\1F509";}
.bi-vol-h::before{content:"\1F50A";}
.bi-watch::before{content:"\1F441";}
.bi-calendar::before{content:"\1F4C5";}
.bi-date::before{content:"\1F4C6";}
.bi-package::before{content:"\1F4E6";}
.bi-attach::before{content:"\1F4CE";}
.bi-clipboard::before{content:"\1F4CB";}
.bi-control::before{content:"\26EE";}
.bi-corners::before{content:"\26F6";}
.bi-hub::before,.bi-network::before{content:"\2749";}
.bi-pk::before,.bi-primary-key::before{content:"\26BF";}
.bi-look::before{content:"\1F440";}
.bi-thought::before{content:"\1F4AD";}
.bi-isolate::before,.bi-conjunction::before{content:"\260C";}
.bi-join::before,.bi-opposition::before{content:"\260D";}
.bi-pencil::before,.bi-edit::before{content:"\270E";}
.bi-edit-active::before{content:"\270F";}
.bi-sign::before{content:"\2712";}
.bi-compose::before{content:"\270D";}
.bi-forum::before{content:"\1F5E8";}
.bi-gear::before{content:"\26ED";}
.bi-file::before{content:"\1F4C4";}
.bi-file-edit::before{content:"\1F4DD";}
.bi-script::before{content:"\1F4C3";}
.bi-read::before{content:"\1F4DC";}
.bi-pin::before{content:"\1F4CC";}
.bi-pinpoint::before{content:"\1F4CD";}
.bi-save::before{content:"\1F4BE";}
.bi-star::before{content:"\2605";}
.bi-star-o::before{content:"\2606";}
.bi-favorite::before{content:"\2B50";}
.bi-tools::before{content:"\1F6E0";}
.bi-bar-graph::before,.bi-stats::before{content:"\1F4CA";}
.bi-charts::before,.bi-analytics::before{content:"\1F4C8";}
.bi-cart::before,.bi-shop::before{content:"\1F6D2";}
.bi-chat::before{content:"\1F4AC";}
.bi-approve::before{content:"\1F44D";}
.bi-disapprove::before{content:"\1F44E";}
.bi-wave::before{content:"\👋";}
.bi-f-off::before{content:"\1F595";}
.bi-halt::before{content:"\270B";}
.bi-video::before{content:"\1F3A6";}
.bi-zoom-left::before{content:"\1F50D";}
.bi-zoom-right::before{content:"\1F50E";}

/* layout */
.bi-columns::before,.bi-cols::before{content:"\2637";}
.bi-rows::before{content:"\2630";}
.bi-cols-over-rows::before{content:"\2631";}
.bi-cols-between-rows::before{content:"\2632";}
.bi-cols-under-rows::before{content:"\2634";}
.bi-row-over-cols::before{content:"\2636";}
.bi-row-between-cols::before{content:"\2635";}
.bi-row-under-cols::before{content:"\2633";}

/* Nature */
.bi-autumn::before,.bi-fall::before{content:"\1F342";}
.bi-cactus::before{content:"\1F335";}
.bi-camp::before,.bi-camping::before{content:"\26FA";}
.bi-cloud::before{content:"\☁";}
.bi-clover::before{content:"\🍀";}
.bi-eggplant::before,.bi-dick::before{content:"\1F346";}
.bi-daisy::before{content:"\1F33C";}
.bi-eagle::before{content:"\1F985";}
.bi-earth::before{content:"\1F30E";}
.bi-exotic::before{content:"\🌺";}
.bi-fire::before,.bi-hot::before{content:"\1F525";}
.bi-flower::before{content:"\✿";}
.bi-galaxy::before{content:"\1F30C";}
.bi-hurricane::before{content:"\1F300";}
.bi-leaf::before{content:"\🍁";}
.bi-mountain::before{content:"\1F5FB";}
.bi-ocean::before{content:"\1F30A";}
.bi-palm::before{content:"\1F334";}
.bi-pine::before{content:"\1F332";}
.bi-peach::before,.bi-ass::before,.bi-butt::before{content:"\1F351";}
.bi-rain::before{content: "\⛆";}
.bi-rainbow::before{content:"\1F308";}
.bi-rose::before{content:"\1F339";}
.bi-snake::before{content:"\🐍";}
.bi-snowflake::before{content:"\2744";}
.bi-shamrock::before{content: "\☘";}
.bi-shooting-star::before{content:"\🌠";}
.bi-sprout::before{content:"\1F331";}
.bi-sun::before{content: "\☀";}
.bi-weather::before{content: "\⛅";}
.bi-sunflower::before{content:"\1F33B";}
.bi-sunset-land::before{content:"\1F304";}
.bi-sunset-sea::before{content:"\1F305";}
.bi-thunderstorm::before,.bi-t-storm::before{content: "\⛈";}
.bi-tornado::before{content:"\1F32A";}
.bi-tree::before{content:"\1F333";}
.bi-tulip::before{content:"\1F337";}
.bi-volcano::before{content:"\1F30B";}
.bi-water::before{content:"\1F4A7";}
.bi-wet::before{content:"\1F4A6";}

/* Food */
.bi-apple::before{content:"\1F34E";}
.bi-bacon::before{content:"\1F953";}
.bi-banana::before{content:"\1F34C";}
.bi-beer::before{content:"\1F37A";}
.bi-bread::before{content:"\1F35E";}
.bi-burger::before, .bi-hamburger::before{content:"\1F354";}
.bi-carrot::before{content:"\1F955";}
.bi-cheese::before{content:"\1F9C0";}
.bi-cherry::before{content:"\1F352";}
.bi-coconut::before{content:"\1F965";}
.bi-coffee::before, .bi-covfefe::before { content: "\2615";}
.bi-cone::before{content:"\1F366";}
.bi-corn::before{content:"\1F33D";}
.bi-cookie::before{content:"\1F36A";}
.bi-donut::before{content:"\1F369";}
.bi-drink::before{content:"\1F964";}
.bi-drumstick::before{content:"\1F357";}
.bi-grape::before,.bi-grapes::before{content:"\1F347";}
.bi-honey::before{content:"\1F36F";}
.bi-hotdog::before{content:"\1F32D";}
.bi-kiwi::before{content:"\1F95D";}
.bi-lemon::before{content:"\1F34B";}
.bi-martini::before{content:"\1F378";}
.bi-mushroom::before{content:"\1F344";}
.bi-orange::before{content:"\1F34A";}
.bi-pancake::before,.bi-pancakes::before{content:"\1F95E";}
.bi-pear::before{content:"\1F350";}
.bi-pickle::before{content:"\1F952";}
.bi-pie::before{content:"\1F967";}
.bi-pineapple::before{content:"\1F34D";}
.bi-pizza::before{content:"\1F355";}
.bi-potato::before{content:"\1F954";}
.bi-pretzel::before{content:"\1F968";}
.bi-salad::before{content:"\1F957";}
.bi-sandwich::before,.bi-sammich::before {content:"\1F96A";}
.bi-steak::before{content:"\1F969";}
.bi-strawberry::before{content:"\1F353";}
.bi-sushi::before{content:"\1F363";}
.bi-taco::before{content:"\1F32E";}
.bi-tomato::before{content:"\1F345";}
.bi-watermelon::before{content:"\1F349";}
.bi-wine::before{content:"\1F377";}

/* Astrology */
.bi-aquarius::before{content:"\2652";}
.bi-aries::before{content:"\2648";}
.bi-cancer::before{content:"\264B";}
.bi-capricorn::before{content:"\2651";}
.bi-gemini::before{content:"\264A";}
.bi-leo::before{content:"\264C";}
.bi-libra::before{content:"\264E";}
.bi-pisces::before{content:"\2653";}
.bi-saggitarius::before{content:"\2650";}
.bi-scorpius::before{content:"\264F";}
.bi-taurus::before{content:"\2649";}
.bi-virgo::before{content:"\264D";}
.bi-mercury::before{content:"\263F";}
.bi-jupiter::before{content:"\2643";}
.bi-saturn::before{content:"\2644";}
.bi-uranus::before{content:"\2645";}
.bi-neptune::before{content:"\2646";}
.bi-pluto::before{content:"\2647";}
.bi-ceres::before{content:"\26B3";}
.bi-chiron::before{content:"\26B7";}
.bi-juno::before{content:"\26B5";}
.bi-lilith::before{content:"\26B8";}
.bi-pallas::before{content:"\26B4";}
.bi-vesta::before{content:"\26B6";}