/* bIcons - Brutalist Icons 2.1.1
NOTE: not all text editors support all symbols, so some symbols may appear as boxes. */
.bi:before { 
	display: inline-block;
  font: normal normal normal 24px/1 arial;
  font-size: inherit; text-rendering: auto; line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* General */
.bi-bowling::before{content:"\🎳";}
.bi-camera::before{content:"\📷";}
.bi-door::before{content:"\🚪";}
.bi-umbrella::before{content:"\☂";}
.bi-bulb::before,.idea::before{content:"\💡";}
.bi-comet::before{content:"\☄";}
.bi-balance::before{content:"\⚖";}
.bi-cross::before{content:"\♰";}
.bi-islam::before{content:"\☪";}
.bi-peace::before{content:"\☮";}
.bi-yin-yang::before{content:"\☯";}
.bi-wonder::before,.bi-magic::before{content:"\✨";}
.bi-happy::before{content:"\☺";}
.bi-sad::before{content:"\☹";}
.bi-heart::before,.bi-love::before{content:"\❤";}
.bi-heart-o::before,.bi-love-o::before{content:"\♡";}
.bi-jew::before{content:"\✡";}
.bi-music::before{content:"\♫";}
.bi-black-flag::before{content:"\🏴";}
.bi-red-flag::before{content:"\🚩";}
.bi-handicap::before{content:"\♿";}
.bi-heat::before{content:"\♨";}
.bi-pick::before{content:"\⛏";}
.bi-amp::before{content:"\⚡";}
.bi-reference::before{content:"\※";}
.bi-truck::before{content:"\⛟";}
.bi-ship::before{content:"\⛴";}
.bi-two-way::before{content:"\⛖";}
.bi-two-way-o::before{content:"\⛗";}
.bi-yield::before{content:"\⛛";}
.bi-medical::before{content:"\☤";}
.bi-warning::before{content:"\⚠";}
.bi-restricted::before{content:"\⛔";}
.bi-communist::before{content:"\☭";}
.bi-dead::before{content:"\☠";}
.bi-radioactive::before{content:"\☢";}
.bi-biohazard::before{content:"\☣";}
.bi-anchor::before{content:"\⚓";}
.bi-card::before{content:"\💳";}
.bi-chains::before{content:"\⛓";}
.bi-converge-right::before{content:"\⚞";}
.bi-converge-left::before{content:"\⚟";}
.bi-drama::before{content:"\🎭";}
.bi-soccer::before{content:"\⚽";}
.bi-baseball::before{content:"\⚾";}
.bi-golf::before{content:"\⛳";}
.bi-fountain::before{content:"\⛲";}
.bi-beach::before{content:"\⛱";}
.bi-sailboat::before{content:"\⛵";}
.bi-airplane::before{content:"\✈";}
.bi-umbrella::before{content:"\☔";}
.bi-church::before{content:"\⛪";}
.bi-fuel::before{content:"\⛽";}
.bi-recycle::before{content:"\♻";}
.bi-king::before{content:"\♚";}
.bi-queen::before{content:"\♛";}
.bi-male::before{content:"\♂";}
.bi-female::before{content:"\♀";}
.bi-gay::before{content:"\⚣";}
.bi-lesbian::before{content:"\⚢";}
.bi-divorce::before{content:"\⚮";}
.bi-marriage::before{content:"\⚭";}
.bi-partners::before{content:"\⚯";}
.bi-temperature::before{content:"\🌡";}
.bi-pentagram::before{content:"\⛤";}
.bi-pentagram-i::before{content:"\⛧";}
.bi-point-left::before{content:"\☚";}
.bi-point-right::before{content:"\☛";}
.bi-red-alert::before{content:"\❗";}
.bi-alert::before{content:"\❕";}
.bi-wait::before{content:"\⏳";}
.bi-alarm::before{content:"\⏰";}
.bi-sleep::before{content:"\💤";}
.bi-target::before{content:"\🎯";}
.bi-toilet::before{content:"\🚽";}
.bi-underage::before{content:"\🔞";}
.bi-poop::before,.bi-shit::before{content:"\💩";}
.bi-birthday::before{content:"\🎂";}
.bi-evil::before{content:"\👿";}
.bi-gaming::before{content:"\🎮";}
.bi-gift::before{content:"\🎁";}
.bi-bat::before{content:"\🦇";}
.bi-christmas::before{content:"\🎄";}
.bi-ghost::before{content:"\👻";}
.bi-halloween::before{content:"\🎃";}
.bi-skull::before{content:"\💀";}
.bi-unicorn::before{content:"\🦄";}
.bi-vampire::before{content:"\🧛";}
.bi-alien::before{content:"\👽";}

.bi-left::before{content:"\⬅";}
.bi-right::before{content:"\➡";}
.bi-up::before{content:"\⬆";}
.bi-down::before{content:"\⬇";}
.bi-charrow::before{content:"\➲";}
.bi-farrow::before{content:"\➠";}

.bi-launch::before{content:"\🚀";}
.bi-model::before{content:"\💃";}
.bi-run::before{content:"\🏃";}
.bi-surf::before{content:"\🏄";}
.bi-swim::before{content:"\🏊";}
.bi-lift::before{content:"\🏋";}
.bi-look::before{content:"\👀";}
.bi-row::before{content:"\🚣";}

.bi-action::before{content:"\🎬";}
.bi-archery::before{content:"\🏹";}
.bi-audio::before{content:"\🎧";}
.bi-award::before{content:"\🏅";}
.bi-awareness::before{content:"\🎗";}
.bi-badge::before{content:"\🎖";}
.bi-balloon::before{content:"\🎈";}
.bi-basketball::before{content:"\🏀";}
.bi-battery::before{content:"\🔋";}
.bi-bicycle::before{content:"\🚴";}
.bi-billiards::before{content:"\🎱";}
.bi-bike::before{content:"\🚲";}
.bi-bitcoin::before{content:"\₿";}
.bi-books::before{content:"\📚";}
.bi-candle::before{content:"\🕯";}
.bi-canoe::before{content:"\🛶";}
.bi-celebrate::before{content:"\🥂";}
.bi-computer::before{content:"\💻";}
.bi-cosmetic::before{content:"\💄";}
.bi-dice::before{content:"\🎲";}
.bi-euro::before{content:"\€";}
.bi-faith::before{content:"\🕊";}
.bi-lira::before{content:"\₤";}
.bi-diamond::before{content:"\💎";}
.bi-prescribe::before{content:"\℞";}
.bi-global::before{content:"\🌐";}
.bi-bomb::before{content:"\💣";}
.bi-bowtie::before{content:"\⋈";}
.bi-explode::before{content:"\💥";}
.bi-briefcase::before{content:"\💼";}
.bi-new::before{content:"\🆕";}
.bi-factory::before{content:"\🏭";}
.bi-flashlight::before{content:"\🔦";}
.bi-football::before{content:"\🏈";}
.bi-free::before{content:"\🆓";}
.bi-danger::before{content:"\🚧";}
.bi-dining::before{content:"\🍽";}
.bi-cap::before,.bi-edu::before,.bi-grad::before{content:"\🎓";}
.bi-fairy::before{content:"\🧚";}
.bi-freak::before{content:"\👹";}
.bi-genie::before{content:"\🧞";}
.bi-guitar::before{content:"\🎸";}
.bi-hammer::before{content:"\🔨";}
.bi-history::before{content:"\ℍ";}
.bi-home::before,.bi-house::before{content:"\🏠";}
.bi-infinity::before{content:"\∞";}
.bi-key::before{content:"\🔑";}
.bi-knife::before{content:"\🔪";}
.bi-map::before{content:"\🗺";}
.bi-men::before{content:"\🚹";}
.bi-mic::before{content:"\🎤";}
.bi-movies::before{content:"\🎥";}
.bi-ohm::before{content:"\Ω";}
.bi-mermaid::before{content:"\🧜";}
.bi-no-smoking::before{content:"\🚭";}
.bi-palette::before{content:"\🎨";}
.bi-party::before{content:"\🎉";}
.bi-peso::before{content:"\₱";}
.bi-piano::before{content:"\🎹";}
.bi-plug::before{content:"\🔌";}
.bi-radio::before{content:"\📻";}
.bi-dating::before{content:"\💞";}
.bi-ruler::before{content:"\📏";}
.bi-school::before{content:"\🏫";}
.bi-shower::before{content:"\🚿";}
.bi-speak::before{content:"\🗣";}
.bi-spider::before{content:"\🕷";}
.bi-superstar::before{content:"\🌟";}
.bi-tel::before{content:"\℡";}
.bi-tennis::before{content:"\🎾";}
.bi-ticket::before{content:"\🎫";}
.bi-trophy::before{content:"\🏆";}
.bi-tv::before{content:"\📺";}
.bi-vhs::before{content:"\📼";}
.bi-unisex::before{content:"\🚻";}
.bi-volleyball::before{content:"\🏐";}
.bi-walk::before{content:"\🚶";}
.bi-web::before{content:"\🕸";}
.bi-wizard::before{content:"\🧙";}
.bi-women::before{content:"\🚺";}
.bi-wrench::before{content:"\🔧";}
.bi-zombie::before{content:"\🧟";}
/* Interface and Actions */
.bi-play::before{content:"\⏯";}
.bi-pause::before{content:"\⏸";}
.bi-stop::before{content:"\⏹";}
.bi-rec::before{content:"\⏺";}
.bi-ff::before{content:"\⏩";}
.bi-seek-next::before{content:"\⏭";}
.bi-rewind::before{content:"\⏪";}
.bi-seek-prev::before{content:"\⏮";}
.bi-shuffle::before{content:"\🔀";}
.bi-repeat::before{content:"\🔁";}
.bi-repeat-once::before{content:"\🔂";}
.bi-sync::before{content:"\🔄";}
.bi-increase::before{content:"\🔼";}
.bi-decrease::before{content:"\🔽";}
.bi-top::before{content:"\🔝";}
.bi-back::before{content:"\🔙";}
.bi-verify::before{content:"\✅";}
.bi-box::before{content:"\☐";}
.bi-box-check::before{content:"\☑";}
.bi-box-x::before{content:"\☒";}
.bi-check::before{content:"\✔";}
.bi-create::before{content:"\💫";}
.bi-cut::before{content:"\✂";}
.bi-phone::before{content:"\☎";}
.bi-phone-o::before{content:"\☏";}
.bi-email::before{content:"\✉";}
.bi-wrong::before{content:"\❌";}
.bi-clear::before{content:"\❎";}
.bi-close::before,.bi-exit::before{content:"\✖";}
.bi-announce::before,.bi-megaphone::before{content:"\📢";}
.bi-broadcast::before{content:"\📡";}
.bi-compress::before{content:"\🗜";}
.bi-directory::before,.bi-folder::before{content:"\📂";}
.bi-navigate::before{content:"\⛯";}
.bi-notify::before{content:"\🔔";}
.bi-unnotify::before{content:"\🔕";}
.bi-flag::before{content: "\⚑"; }
.bi-flag-o::before{content: "\⚐";}
.bi-time::before{content:"\⏱";}
.bi-lock::before{content:"\🔒";}
.bi-unlock::before{content:"\🔓";}
.bi-download::before{content:"\📥";}
.bi-upload::before{content:"\📤";}
.bi-mute::before{content:"\🔇";}
.bi-vol-l::before{content:"\🔈";}
.bi-vol-m::before{content:"\🔉";}
.bi-vol-h::before{content:"\🔊";}
.bi-watch::before{content:"\👁";}
.bi-calendar::before{content:"\📅";}
.bi-package::before{content:"\📦";}
.bi-attach::before{content:"\📎";}
.bi-clipboard::before{content:"\📋";}
.bi-control::before{content:"\⛮";}
.bi-corners::before{content:"\⛶";}
.bi-isolate::before,.bi-conjunction::before{content:"\☌";}
.bi-join::before,.bi-opposition::before{content:"\☍";}
.bi-pencil::before,.bi-edit::before{content:"\✎";}
.bi-compose::before{content:"\✍";}
.bi-forum::before{content:"\🗨";}
.bi-gear::before{content:"\⛭";}
.bi-file::before{content:"\📄";}
.bi-pin::before{content:"\📌";}
.bi-pinpoint::before{content:"\📍";}
.bi-save::before{content:"\💾";}
.bi-star::before{content:"\★";}
.bi-star-o::before{content:"\☆";}
.bi-tools::before{content:"\🛠";}
.bi-bar-graph::before{content:"\📊";}
.bi-cart::before,.bi-shop::before{content:"\🛒";}
.bi-chat::before{content:"\💬";}
.bi-approve::before{content:"\👍";}
.bi-disapprove::before{content:"\👎";}
.bi-wave::before{content:"\👋";}
/* Nature */
.bi-autumn::before,.bi-fall::before{content:"\🍂";}
.bi-cactus::before{content:"\🌵";}
.bi-camp::before,.bi-camping::before{content:"\⛺";}
.bi-cloud::before{content:"\☁";}
.bi-clover::before{content:"\🍀";}
.bi-eggplant::before,.bi-dick::before{content:"\🍆";}
.bi-daisy::before{content:"\🌼";}
.bi-eagle::before{content:"\🦅";}
.bi-earth::before{content:"\🌎";}
.bi-exotic::before{content:"\🌺";}
.bi-fire::before,.bi-hot::before{content:"\🔥";}
.bi-flower::before{content:"\✿";}
.bi-galaxy::before{content:"\🌌";}
.bi-hurricane::before{content:"\🌀";}
.bi-leaf::before{content:"\🍁";}
.bi-mountain::before{content:"\🗻";}
.bi-ocean::before{content:"\🌊";}
.bi-palm::before{content:"\🌴";}
.bi-pine::before{content:"\🌲";}
.bi-peach::before,.bi-ass::before,.bi-butt::before{content:"\🍑";}
.bi-rain::before{content: "\⛆";}
.bi-rainbow::before{content:"\🌈";}
.bi-rose::before{content:"\🌹";}
.bi-snake::before{content:"\🐍";}
.bi-snowflake::before{content:"\❄";}
.bi-shamrock::before{content: "\☘";}
.bi-shooting-star::before{content:"\🌠";}
.bi-sprout::before{content:"\🌱";}
.bi-sun::before{content: "\☀";}
.bi-weather::before{content: "\⛅";}
.bi-sunflower::before{content:"\🌻";}
.bi-sunset-land::before{content:"\🌄";}
.bi-sunset-sea::before{content:"\🌅";}
.bi-thunderstorm::before,.bi-t-storm::before{content: "\⛈";}
.bi-tornado::before{content:"\🌪";}
.bi-tree::before{content:"\🌳";}
.bi-tulip::before{content:"\🌷";}
.bi-volcano::before{content:"\🌋";}
.bi-water::before{content:"\💧";}
.bi-wet::before{content:"\💦";}
/* Food */
.bi-apple::before{content:"\🍎";}
.bi-bacon::before{content:"\🥓";}
.bi-banana::before{content:"\🍌";}
.bi-beer::before{content:"\🍺";}
.bi-bread::before{content:"\🍞";}
.bi-burger::before{content:"\🍔";}
.bi-carrot::before{content:"\🥕";}
.bi-cheese::before{content:"\🧀";}
.bi-cherry::before{content:"\🍒";}
.bi-coconut::before{content:"\🥥";}
.bi-coffee::before, .bi-covfefe::before { content: "\☕";}
.bi-cone::before{content:"\🍦";}
.bi-corn::before{content:"\🌽";}
.bi-cookie::before{content:"\🍪";}
.bi-donut::before{content:"\🍩";}
.bi-drink::before{content:"\🥤";}
.bi-grape::before,.bi-grapes::before{content:"\🍇";}
.bi-honey::before{content:"\🍯";}
.bi-hotdog::before{content:"\🌭";}
.bi-kiwi::before{content:"\🥝";}
.bi-lemon::before{content:"\🍋";}
.bi-mushroom::before{content:"\🍄";}
.bi-orange::before{content:"\🍊";}
.bi-pear::before{content:"\🍐";}
.bi-pickle::before{content:"\🥒";}
.bi-pineapple::before{content:"\🍍";}
.bi-pizza::before{content:"\🍕";}
.bi-potato::before{content:"\🥔";}
.bi-pretzel::before{content:"\🥨";}
.bi-salad::before{content:"\🥗";}
.bi-sandwich::before,.bi-sammich::before {content:"\🥪";}
.bi-strawberry::before{content:"\🍓";}
.bi-taco::before{content:"\🌮";}
.bi-tomato::before{content:"\🍅";}
.bi-watermelon::before{content:"\🍉";}
.bi-wine::before{content:"\🍷";}
/* Horoscopes */
.bi-aquarius::before{content:"\♒";}
.bi-aries::before{content:"\♈";}
.bi-cancer::before{content:"\♋";}
.bi-capricorn::before{content:"\♑";}
.bi-gemini::before{content:"\♊";}
.bi-leo::before{content:"\♌";}
.bi-libra::before{content:"\♎";}
.bi-pisces::before{content:"\♓";}
.bi-saggitarius::before{content:"\♐";}
.bi-scorpius::before{content:"\♏";}
.bi-taurus::before{content:"\♉";}
.bi-virgo::before{content:"\♍";}