/* FLAVORS Library 2.1
======================== */

/* Whites */
.vanilla, .white { background-color: #fff !important; }
.vanilla-t, .white-t, .vanilla-text, .white-text { color: #fff !important; }
.vanilla-t-s, .white-t-s, .vanilla-text-shadow, .white-text-shadow { text-shadow: 2px 2px #fff !important; }
.vanilla-b, .white-b, .vanilla-border, .white-border { border-color: #fff !important; }
.vanilla-o, .white-o, .vanilla-outline, .white-outline { outline-color: #fff !important; }
.vanilla-bean { background-color: #FBFBEF !important; }
.vanilla-bean-t, .vanilla-bean-text { color: #FBFBEF !important; }
.vanilla-bean-t-s, .vanilla-bean-text-shadow { text-shadow: 2px 2px #FBFBEF !important; }
.vanilla-bean-b, .vanilla-bean-border { border-color: #FBFBEF !important; }
.vanilla-bean-o, .vanilla-bean-outline { outline-color: #FBFBEF !important; }
.coconut { background-color: #f7f9e0 !important; }
.coconut-t, .coconut-text { color: #f7f9e0 !important; }
.coconut-t-s, .coconut-text-shadow { text-shadow: 2px 2px #f7f9e0 !important; }
.coconut-b, .coconut-border { border-color: #f7f9e0 !important; }
.coconut-o, .coconut-outline { outline-color: #f7f9e0 !important; }
.rice { background-color: #f4f1e4 !important; }
.rice-t, .rice-text { color: #f4f1e4 !important; }
.rice-t-s, .rice-text-shadow { text-shadow: 2px 2px #f4f1e4 !important; }
.rice-b, .rice-border { border-color: #f4f1e4 !important; }
.rice-o, .rice-outline { outline-color: #f4f1e4 !important; }

/* Shades of Grey */
.silver { background-color: #C0C0C0 !important; }
.silver-t, .silver-text { color: #C0C0C0 !important; }
.silver-t-s, .silver-text-shadow { text-shadow: 2px 2px #C0C0C0 !important; }
.silver-b, .silver-border { border-color: #c0c0c0 !important; }
.silver-o, .silver-outline { outline-color: #c0c0c0 !important; }
.smoke { background-color: #d9dddc !important; }
.smoke-t, .smoke-text { color: #d9dddc !important; }
.smoke-t-s, .smoke-text-shadow { text-shadow: 2px 2px #d9dddc !important; }
.smoke-b, .smoke-border { border-color: #d9dddc !important; }
.smoke-o, .smoke-outline { outline-color: #d9dddc !important; }
.grey, .gray { background-color: #808080 !important; }
.grey-t, .gray-t, .grey-text, .gray-text { color: #808080 !important; }
.grey-t-s, .gray-t-s, .grey-text-shadow, .gray-text-shadow { text-shadow: 2px 2px #808080 !important; }
.grey-b, .gray-b, .gray-border, .grey-border { border-color: #808080 !important; }
.grey-o, .gray-o, .grey-outline, .gray-outline { outline-color: #808080 !important; }
.black { background-color: #000 !important; }
.black-t, .black-text { color: #000 !important; }
.black-t-s, .black-text-shadow { text-shadow: 2px 2px #000 !important; }
.black-b, .black-border { border-color: #000 !important; }
.black-o, .black-outline { outline-color: #000 !important; }
.ash { background-color: #544c4a !important; }
.ash-t, .ash-text { color: #544c4a !important; }
.ash-t-s, .ash-text-shadow { text-shadow: 2px 2px #544c4a !important; }
.ash-b, .ash-border { border-color: #544c4a !important; }
.ash-o, .ash-outline { outline-color: #544c4a !important; }
.charcoal { background-color: #2e2e2e !important; }
.charcoal-t, .charcoal-text { color: #2e2e2e !important; }
.charcoal-t-s, .charcoal-text-shadow { text-shadow: 2px 2px #2e2e2e !important; }
.charcoal-b, .charcoal-border { border-color: #2e2e2e !important; }
.charcoal-o, .charcoal-outline { outline-color: #2e2e2e !important; }
.mushroom { background-color: #cfd8dc !important; }
.mushroom-t, .mushroom-text { color: #cfd8dc !important; }
.mushroom-t-s, .mushroom-text-shadow { text-shadow: 2px 2px #cfd8dc !important; }
.mushroom-b, .mushroom-border { border-color: #cfd8dc !important; }
.mushroom-o, .mushroom-outline { outline-color: #cfd8dc !important; }
.platinum { background-color: #e6e6e6 !important; }
.platinum-t, .platinum-text { color: #e6e6e6 !important; }
.platinum-t-s, .platinum-text-shadow { text-shadow: 2px 2px #e6e6e6 !important; }
.platinum-b, .platinum-border { border-color: #e6e6e6 !important; }
.platinum-o, .platinum-outline { outline-color: #e6e6e6 !important; }

/* Reds */
.red, .tomato { background-color: #ff0000 !important; }
.red-t, .tomato-t, .red-text, .tomato-text { color: #ff0000 !important; }
.red-t-s, .tomato-t-s, .red-text-shadow, .tomato-text-shadow { text-shadow: 2px 2px #ff0000 !important; }
.red-b, .tomato-b, .red-border, .tomato-border { border-color: #ff0000 !important; }
.red-o, .tomato-o, .red-outline, .tomato-outline { outline-color: #ff0000 !important; }
.strawberry { background-color: #FE2E2E !important; }
.strawberry-t, .strawberry-text { color: #FE2E2E !important; }
.strawberry-t-s, .strawberry-text-shadow { text-shadow: 2px 2px #fe2e2e !important; }
.strawberry-b, .strawberry-border { border-color: #FE2E2E !important; }
.strawberry-o, .strawberry-outline { outline-color: #FE2E2E !important; }
.blood, .maroon { background-color: #800000 !important; }
.blood-t, .maroon-t, .blood-text, .maroon-text { color: #800000 !important; }
.blood-t-s, .maroon-t-s, .blood-text-shadow, .maroon-text-shadow { text-shadow: 2px 2px #800000 !important; }
.blood-b, .maroon-b, .blood-border, .maroon-border { border-color: #800000 !important; }
.blood-o, .maroon-o, .blood-outline, .maroon-outline { outline-color: #800000 !important; }
.blood-orange { background-color: #dd2c00 !important; }
.blood-orange-t, .blood-orange-text { color: #dd2c00 !important; }
.blood-orange-t-s, .blood-orange-text-shadow { text-shadow: 2px 2px #dd2c00 !important; }
.blood-orange-b, .blood-orange-border { border-color: #dd2c00 !important; }
.blood-orange-o, .blood-orange-outline { outline-color: #dd2c00 !important; }
.cherry { background-color: #b52026 !important; }
.cherry-t, .cherry-text { color: #b52026 !important; }
.cherry-t-s, .cherry-text-shadow { text-shadow: 2px 2px #b52026 !important; }
.cherry-b, .cherry-border { border-color: #b52026 !important; }
.cherry-o, .cherry-outline { outline-color: #b52026 !important; }
.chilli, .chili { background-color: #c21807 !important; }
.chili-t, .chilli-t, .chili-text, .chilli-text { color: #c21807 !important; }
.chilli-t-s, .chili-t-s, .chilli-text-shadow, .chili-text-shadow { text-shadow: 2px 2px #c21807 !important; }
.chilli-border, .chili-border { border-color: #c21807 !important; }
.chilli-o, .chili-o, .chili-outline, .chilli-outline { outline-color: #c21807 !important; }
.sangria, .black-cherry { background-color: #5e1914 !important; }
.sangria-t, .black-cherry-t, .sangria-text, .black-cherry-text { color: #5e1914 !important; }
.sangria-t-s, .black-cherry-t-s, .sangria-text-shadow, .black-cherry-text-shadow { text-shadow: 2px 2px #5e1914 !important; }
.sangria-b, .black-cherry-b, .sangria-border, .black-cherry-border { border-color: #5e1914 !important; }
.sangria-o, .black-cherry-o, .sangria-outline, .black-cherry-outline { outline-color: #5e1914 !important; }
.fruit-punch { background-color: #6f0215 !important; }
.fruit-punch-t, .fruit-punch-text { color: #6f0215 !important; }
.fruit-punch-t-s, .fruit-punch-text-shadow { text-shadow: 2px 2px #6f0215 !important; }
.fruit-punch-b, .fruit-punch-border { border-color: #6f0215 !important; }
.fruit-punch-o, .fruit-punch-outline { outline-color: #6f0215 !important; }
.grapefruit { background-color: #f25f53 !important; }
.grapefruit-t, .grapefruit-text { color: #f25f53 !important; }
.grapefruit-t-s, .grapefruit-text-shadow { text-shadow: 2px 2px #f25f53 !important; }
.grapefruit-b, .grapefruit-border { border-color: #f25f53 !important; }
.grapefruit-o, .grapefruit-outline { outline-color: #f25f53 !important; }
.mahogany { background-color: #420d09 !important; }
.mahogany-t, .mahogany-text{ color: #420d09 !important; }
.mahogany-t-s, .mahogany-text-shadow { text-shadow: 2px 2px #420d09 !important; }
.mahogany-b, .mahogany-border { border-color: #420d09 !important; }
.mahogany-o, .mahogany-outline { outline-color: #420d09 !important; }

/* Oranges */
.orange { background-color: #fc6600 !important; }
.orange-t, .orange-text { color: #ff9800 !important; }
.orange-t-s, .orange-text-shadow { text-shadow: 2px 2px #ff9800 !important; }
.orange-b, .orange-border { border-color: #ff9800 !important; }
.orange-o, .orange-outline { outline-color: #ff9800 !important; }
.pumpkin, .pumpkin-spice { background-color: #e65100 !important; }
.pumpkin-t, .pumpkin-text, .pumpkin-spice-text { color: #e65100 !important; }
.pumpkin-t-s, .pumpkin-spice-t-s, .pumpkin-text-shadow, .pumpkin-spice-text-shadow { text-shadow: 2px 2px #e65100 !important; }
.pumpkin-b, .pumpkin-spice-b, .pumpkin-border, .pumpkin-spice-border { border-color: #e65100 !important; }
.pumpkin-o, .pumpkin-spice-o, .pumpkin-outline, .pumpkin-spice-outline { outline-color: #e65100 !important; }
.mango { background-color: #ffab40 !important; }
.mango-t, .mango-text { color: #ffab40 !important; }
.mango-t-s, .mango-text-shadow { text-shadow: 2px 2px #ffab40 !important; }
.mango-b, .mango-border { border-color: #ffab40 !important; }
.mango-o, .mango-outline { outline-color: #ffab40 !important; }
.tangerine { background-color: #f9812a !important; }
.tangerine-t, .tangerine-text { color: #f9812a !important; }
.tangerine-t-s, .tangerine-text-shadow { text-shadow: 2px 2px #f9812a !important; }
.tangerine-b, .tangerine-border { border-color: #f9812a !important; }
.tangerine-o, .tangerine-outline { outline-color: #f9812a !important; }
.peach { background-color: #ffab91 !important; }
.peach-t, .peach-text { color: #ffab91 !important; }
.peach-t-s, .peach-text-shadow { text-shadow: 2px 2px #ffab91 !important; }
.peach-b, .peach-border { border-color: #ffab91 !important; }
.peach-o, .peach-outline { outline-color: #ffab91 !important; }
.carrot { background-color: #ef6c00 !important; }
.carrot-t, .carrot-text { color: #ef6c00 !important; }
.carrot-t-s, .carrot-text-shadow { text-shadow: 2px 2px #ef6c00 !important; }
.carrot-b, .carrot-border { border-color: #ef6c00 !important; }
.carrot-o, .carrot-outline { outline-color: #ef6c00 !important; }
.fire { background-color: #fda50f !important; }
.fire-t, .fire-text { color: #fda50f !important; }
.fire-t-s, .fire-text-shadow { text-shadow: 2px 2px #fda50f !important; }
.fire-b, .fire-border { border-color: #fda50f !important; }
.fire-o, .fire-outline { outline-color: #fda50f !important; }
.squash { background-color: #c95c0a !important; }
.squash-t, .squash-text { color: #c95c0a !important; }
.squash-t-s, .squash-text-shadow { text-shadow: 2px 2px #c95c0a !important; }
.squash-b, .squash-border { border-color: #c95c0a !important; }
.squash-o, .squash-outline { outline-color: #c95c0a !important; }
.rust { background-color: #B43104 !important; }
.rust-t, .rust-text { color: #B43104 !important; }
.rust-t-s, .rust-text-shadow { text-shadow: 2px 2px #b43104 !important; }
.rust-b, .rust-border { border-color: #b43104 !important; }
.rust-o, .rust-outline { outline-color: #b43104 !important; }
.deep-orange { background-color: #ff4000 !important; }
.deep-orange-t, .deep-orange-text { color: #ff4000 !important; }
.deep-orange-t-s, .deep-orange-text-shadow { text-shadow: 2px 2px #ff4000 !important; }
.deep-orange-b, .deep-orange-border { border-color: #ff4000 !important; }
.deep-orange-o, .deep-orange-outline { outline-color: #ff4000 !important; }
.bbq { background-color: #5a140c !important; }
.bbq-t, .bbq-text { color: #5a140c !important; }
.bbq-t-s, .bbq-text-shadow { text-shadow: 2px 2px #5a140c !important; }
.bbq-b, .bbq-border { border-color: #5a140c !important; }
.bbq-o, .bbq-outline { outline-color: #5a140c !important; }

/* Pinks */ 
.pink { background-color: #e91e63 !important; }
.pink-t, .pink-text { color: #e91e63 !important; }
.pink-t-s, .pink-text-shadow { text-shadow: 2px 2px #e91e63 !important; }
.pink-b, .pink-border { border-color: #e91e63 !important; }
.pink-o, .pink-outline { outline-color: #e91e63 !important; }
.pink-champagne { background-color: #d986a2 !important; }
.pink-champagne-t, .pink-champagne-text { color: #d986a2 !important; }
.pink-champagne-t-s, .pink-champagne-text-shadow { text-shadow: 2px 2px #d986a2 !important; }
.pink-champagne-b, .pink-champagne-border { border-color: #d986a2 !important; }
.pink-champagne-o, .pink-champagne-outline { outline-color: #d986a2 !important; }
.cotton-candy { background-color: #ff80ab !important; }
.cotton-candy-t, .cotton-candy-text { color: #ff80ab !important; }
.cotton-candy-t-s, .cotton-candy-text-shadow { text-shadow: 2px 2px #ff80ab !important; }
.cotton-candy-b, .cotton-candy-border { border-color: #ff80ab !important; }
.cotton-candy-o, .cotton-candy-outline { outline-color: #ff80ab !important; }
.bubble-gum { background-color: #f8bbd0 !important; }
.bubble-gum-t, .bubble-gum-text { color: #f8bbd0 !important; }
.bubble-gum-t-s, .bubble-gum-text-shadow { text-shadow: 2px 2px #f8bbd0 !important; }
.bubble-gum-b, .bubble-gum-border { border-color: #f8bbd0 !important; }
.bubble-gum-o, .bubble-gum-outline { outline-color: #f8bbd0 !important; }
.raspberry { background-color: #ad1457 !important; }
.raspberry-t, .raspberry-text { color: #ad1457 !important; }
.raspberry-t-s, .raspberry-text-shadow { text-shadow: 2px 2px #ad1457 !important; }
.raspberry-b, .raspberry-border { border-color: #ad1457 !important; }
.raspberry-o, .raspberry-outline { outline-color: #ad1457 !important; }
.salmon { background-color: #fa8072 !important; }
.salmon-t, .salmon-text { color: #fa8072 !important; }
.salmon-t-s, .salmon-text-shadow { text-shadow: 2px 2px #fa8072 !important; }
.salmon-b, .salmon-border { border-color: #fa8072 !important; }
.salmon-o, .salmon-outline { outline-color: #fa8072 !important; }

/* Purples */ 
.purple { background-color: #800080 !important; }
.purple-t, .purple-text { color: #800080 !important; }
.purple-t-s, .purple-text-shadow { text-shadow: 2px 2px #800080 !important; }
.purple-b, .purple-border { border-color: #800080 !important; }
.purple-o, .purple-outline { outline-color: #800080 !important; }
.grape { background-color: #4a148c !important; }
.grape-t, .grape-text { color: #4a148c !important; }
.grape-t-s, .grape-text-shadow { text-shadow: 2px 2px #4a148c !important; }
.grape-b, .grape-border { border-color: #4a148c !important; }
.grape-o, .grape-outline { outline-color: #4a148c !important; }
.eggplant { background-color: #7b1fa2 !important; }
.eggplant-t, .eggplant-text { color: #7b1fa2 !important; }
.eggplant-t-s, .eggplant-text-shadow { text-shadow: 2px 2px #7b1fa2 !important; }
.eggplant-b, .eggplant-border { border-color: #7b1fa2 !important; }
.eggplant-o, .eggplant-outline { outline-color: #7b1fa2 !important; }
.light-purple, .lavender { background-color: #D0A9F5 !important; }
.light-purple-t, .lavender-t, .light-purple-text, .lavender-text { color: #D0A9F5 !important; }
.light-purple-t-s, .lavender-t-s, .light-purple-text-shadow, .lavender-text-shadow { text-shadow: 2px 2px #D0A9F5 !important; }
.light-purple-b, .lavender-b, .light-purple-border, .lavender-border { border-color: #D0A9F5 !important; }
.light-purple-o, .lavender-o, .light-purple-outline, .lavender-outline { outline-color: #d0a9f5 !important; }
.plum, .deep-plum { background-color: #240B3B !important; }
.plum-t, .plum-text, .deep-plum-t, .deep-plum-text { color: #240B3B !important; }
.plum-t-s, .plum-text-shadow, .deep-plum-t-s, .deep-plum-text-shadow { text-shadow: 2px 2px #240B3B !important; }
.plum-b, .plumb-border, .deep-plum-b, .deep-plum-border { border-color: #240B3B !important; }
.plum-o, .plum-outline, .deep-plum-o, .deep-plum-outline { outline-color: #240b3b !important; }
.blackberry { background-color: #200f1f !important; }
.blackberry-t, .blackberry-text { color: #200f1f !important; }
.blackberry-t-s, .blackberry-text-shadow { text-shadow: 2px 2px #200f1f !important; }
.blackberry-b, .blackberry-border { border-color: #200f1f !important; }
.blackberry-o, .blackberry-outline { outline-color: #200f1f !important; }
.lilac { background-color: #E3CEF6 !important; }
.lilac-t, .lilac-text { color: #E3CEF6 !important; }
.lilac-t-s, .lilac-text-shadow { text-shadow: 2px 2px #E3CEF6 !important; }
.lilac-b, .lilac-border { border-color: #E3CEF6 !important; }
.lilac-o, .lilac-outline { outline-color: #E3CEF6 !important; }
.mauve { background-color: #8a2be2 !important; }
.mauve-t, .mauve-text { color: #8a2be2 !important; }
.mauve-t-s, .mauve-text-shadow { text-shadow: 2px 2px #8a2be2 !important; }
.mauve-b, .mauve-border { border-color: #8a2be2 !important; }
.mauve-o, .mauve-outline { outline-color: #8a2be2 !important; }

/* Blues */
.blue { background-color: #0000FF !important; }
.blue-t, .blue-text { color: #0000FF !important; }
.blue-t-s, .blue-text-shadow { text-shadow: 2px 2px #0000ff !important; }
.blue-b, .blue-border { border-color: #0000FF !important; }
.blue-o, .blue-outline { outline-color: #0000ff !important; }
.blue-candy { background-color: #2196f3 !important; }
.blue-candy-t, .blue-candy-text { color: #2196f3 !important; }
.blue-candy-t-s, .blue-candy-text-shadow { text-shadow: 2px 2px #2196f3 !important; }
.blue-candy-b, .blue-candy-border { border-color: #2196f3 !important; }
.blue-candy-o, .blue-candy-outline { outline-color: #2196f3 !important; }
.blueberry { background-color: #485B88 !important; }
.blueberry-t, .blueberry-text { color: #485B88 !important; }
.blueberry-t-s, .blueberry-text-shadow { text-shadow: 2px 2px #485B88 !important; }
.blueberry-b, .blueberry-border { border-color: #485b88 !important; }
.blueberry-o, .blueberry-outline { outline-color: #485b88 !important; }
.light-blue, .water { background-color: #ADD8E6 !important; }
.light-blue-t, .water-t, .light-blue-text, .water-text { color: #ADD8E6 !important; }
.light-blue-t-s, .water-t-s, .light-blue-text-shadow, .water-text-shadow { text-shadow: 2px 2px #ADD8E6 !important; }
.light-blue-b, .water-b, .light-blue-border, .water-border { border-color: #ADD8E6 !important; }
.light-blue-o, .water-o, .light-blue-outline, .water-outline { outline-color: #add8e6 !important; }
.pool-water { background-color: #81d4fa !important; }
.pool-water-t, .pool-water-text { color: #81d4fa !important; }
.pool-water-t-s, .pool-water-text-shadow { text-shadow: 2px 2px #81d4fa !important; }
.pool-water-b, .pool-water-border { border-color: #81d4fa !important; }
.pool-water-o, .pool-water-outline { outline-color: #81d4fa !important; }
.navy, .navy-blue { background-color: #000080 !important; }
.navy-t, .navy-blue-t, .navy-text, .navy-blue-text { color: #000080 !important; }
.navy-t-s, .navy-blue-t-s, .navy-text-shadow, .navy-blue-text-shadow { text-shadow: 2px 2px #000080 !important; }
.navy-b, .navy-blue-b, .navy-border, .navy-blue-border { border-color: #000080 !important; }
.navy-o, .navy-blue-o, .navy-outline, .navy-blue-outline { outline-color: #000080 !important; }
.azure { background-color: #0080fe !important; }
.azure-t, .azure-text { color: #0080fe !important; }
.azure-t-s, .azure-text-shadow { text-shadow: 2px 2px #0080fe !important; }
.azure-b, .azure-border { border-color: #0080fe !important; }
.azure-o, .azure-outline { outline-color: #0080fe !important; }
.cornflower { background-color: #6693f5 !important; }
.cornflower-t, .cornflower-text { color: #6693f5 !important; }
.cornflower-t-s, .cornflower-text-shadow { text-shadow: 2px 2px #6693f5 !important; }
.cornflower-b, .cornflower-border { border-color: #6693f5 !important; }
.cornflower-o, .cornflower-outline { outline-color: #6693f5 !important; }
.sky { background-color: #95c8d8 !important; }
.sky-t, .sky-text { color: #95c8d8 !important; }
.sky-t-s, .sky-text-shadow { text-shadow: 2px 2px #95c8d8 !important; }
.sky-b, .sky-border { border-color: #95c8d8 !important; }
.sky-o, .sky-outline { outline-color: #95c8d8 !important; }
.midnight { background-color: #0B243B !important; }
.midnight-t, .midnight-text { color: #0B243B !important; }
.midnight-t-s, .midnight-text-shadow { text-shadow: 2px 2px #0B243B !important; }
.midnight-b, .midnight-border { border-color: #0B243B !important; }
.midnight-o, .midnight-outline { outline-color: #0b243b !important; }
.pastel-blue { background-color: #A9BCF5 !important; }
.pastel-blue-t, .pastel-blue-text { color: #A9BCF5 !important; }
.pastel-blue-t-s, .pastel-blue-text-shadow { text-shadow: 2px 2px #A9BCF5 !important; }
.pastel-blue-b, .pastel-blue-border { border-color: #a9bcf5 !important; }
.pastel-blue-o, .pastel-blue-outline { outline-color: #a9bcf5 !important; }

/* Browns */
.brown { background-color: #795548 !important; }
.brown-t, .brown-text { color: #795548 !important; }
.brown-t-s, .brown-text-shadow { text-shadow: 2px 2px #795548 !important; }
.brown-b, .brown-border { border-color: #795548 !important; }
.brown-o, .brown-outline { outline-color: #795548 !important; }
.chocolate { background-color: #4c3428 !important; }
.chocolate-t, .chocolate-text { color: #4c3428 !important; }
.chocolate-t-s, .chocolate-text-shadow { text-shadow: 2px 2px #4c3428 !important; }
.chocolate-b, .chocolate-border { border-color: #4c3428 !important; }
.chocolate-o, .chocolate-outline { outline-color: #4c3428 !important; }
.dark-chocolate { background-color: #3e2723 !important; }
.dark-chocolate-t, .dark-chocolate-text { color: #3e2723 !important; }
.dark-chocolate-t-s, .dark-chocolate-text-shadow { text-shadow: 2px 2px #3e2723 !important; }
.dark-chocolate-b, .dark-chocolate-border { border-color: #3e2723 !important; }
.dark-chocolate-o, .dark-chocolate-outline { outline-color: #3e2723 !important; }
.light-brown, .cappuccino { background-color: #be9b7b !important; }
.light-brown-t, .cappuccino-t, .light-brown-text, .cappuccino-text { color: #be9b7b !important; }
.light-brown-t-s, .cappuccino-t-s, .light-brown-text-shadow, .cappuccino-text-shadow { text-shadow: 2px 2px #be9b7b !important; }
.light-brown-b, .cappuccino-b, .light-brown-border, .cappuccino-border { border-color: #be9b7b !important; }
.light-brown-o, .cappuccino-o, .light-brown-outline, .cappuccino-outline { outline-color : #be9b7b !important; }
.coffee { background-color: #6F4E37 !important; }
.coffee-t, .coffee-text { color: #6F4E37 !important; }
.coffee-t-s, .coffee-text-shadow { text-shadow: 2px 2px #6F4E37 !important; }
.coffee-b, .coffee-border { border-color: #6F4E37 !important; }
.coffee-o, .coffee-outline { outline-color: #6F4E37 !important; }
.wheat { background-color: #dac3a1 !important; }
.wheat-t, .wheat-text { color: #dac3a1 !important; }
.wheat-t-s, .wheat-text-shadow { text-shadow: 2px 2px #dac3a1 !important; }
.wheat-b, .wheat-border { border-color: #dac3a1 !important; }
.wheat-o, .wheat-outline { outline-color: #dac3a1 !important; }
.peanut, .peanut-butter { background-color: #c29963 !important; }
.peanut-t, .peanut-butter-t, .peanut-text, .peanut-butter-text { color: #c29963 !important; }
.peanut-t-s, .peanut-butter-t-s, .peanut-text-shadow, .peanut-butter-text-shadow { text-shadow: 2px 2px #c29963 !important; }
.peanut-b, .peanut-butter-b, .peanut-border, .peanut-butter-border { border-color: #c29963 !important; }
.peanut-o, .peanut-butter-o, .peanut-outline, .peanut-butter-outline { outline-color: #c29963 !important; }
.cider { background-color: #b3672b !important; }
.cider-t, .cider-text { color: #b3672b !important; }
.cider-t-s, .cider-text-shadow { text-shadow: 2px 2px #b3672b !important; }
.cider-b, .cider-border { border-color: #b3672b !important; }
.cider-o, .cider-outline { outline-color: #b3672b !important; }
.sand { background-color: #c2b280 !important; }
.sand-t, .sand-text { color: #c2b280 !important; }
.sand-t-s, .sand-text-shadow { text-shadow: 2px 2px #c2b280 !important; }
.sand-b, .sand-border { border-color: #c2b280 !important; }
.sand-o, .sand-outline { outline-color: #c2b280 !important; }
.steak { background-color: #583722 !important; }
.steak-t, .steak-text { color: #583722 !important; }
.steak-t-s, .steak-text-shadow { text-shadow: 2px 2px #583722 !important; }
.steak-b, .steak-border { border-color: #583722 !important; }
.steak-o, .steak-outline { outline-color: #583722 !important; }
.spice { background-color: #793802 !important; }

/* Greens */
.green, .cucumber { background-color: #008000 !important; } 
.green-t, .cucumber-t, .green-text, .cucumber-text { color: #008000 !important; }
.green-t-s, .cucumber-t-s, .green-text-shadow, .cucumber-text-shadow { text-shadow: 2px 2px #008000 !important; }
.green-b, .cucumber-b, .green-border, .cucumber-border { border-color: #008000 !important; }
.green-o, .cucumber-o, .green-outline, .cucumber-outline { outline-color: #008000 !important; }
.pear, .green-apple { background-color:  #5BC236 !important; }
.pear-t, .green-apple-t, .pear-text, .green-apple-text { color:  #5BC236 !important; }
.pear-t-s, .green-apple-t-s, .pear-text-shadow, .green-apple-text-shadow { text-shadow: 2px 2px #5BC236 !important; }
.pear-b, .green-apple-b, .pear-border, .green-apple-border { border-color: #5BC236 !important; }
.pear-o, .green-apple-o, .pear-outline, .green-apple-outline { outline-color: #5BC236 !important; }
.pickle { background-color: #597d35 !important; }
.pickle-t, .pickle-text { color: #597d35 !important; }
.pickle-t-s, .pickle-text-shadow { text-shadow: 2px 2px #597d35 !important; }
.pickle-b, .pickle-border { border-color: #597d35 !important; }
.pickle-o, .pickle-outline { outline-color: #597d35 !important; }
.lime { background-color: #00ff00 !important; }
.lime-t, .lime-text { color: #00ff00 !important; }
.lime-t-s, .lime-text-shadow { text-shadow: 2px 2px #00ff00 !important; }
.lime-b, .lime-border { border-color: #00ff00 !important; }
.lime-o, .lime-outline { outline-color: #00ff00 !important; }
.kiwi { background-color: #58FA82 !important; }
.kiwi-t, .kiwi-text { color: #58FA82 !important; }
.kiwi-t-s, .kiwi-text-shadow { text-shadow: 2px 2px #f8fa82 !important; }
.kiwi-b, .kiwi-border { border-color: #f8FA82 !important; }
.kiwi-o, .kiwi-outline { outline-color: #f8fa82 !important; }
.olive { background-color: #808000 !important; }
.olive-t, .olive-text { color: #808000 !important; }
.olive-t-s, .olive-text-shadow { text-shadow: 2px 2px #808000 !important; }
.olive-b, .olive-border { border-color: #808000 !important; }
.olive-o, .olive-outline { outline-color: #808000 !important; }
.pistachio { background-color: #81c784 !important; }
.pistachio-t, .pistachio-text { color: #81c784 !important; }
.pistachio-t-s, .pistachio-text-shadow { text-shadow: 2px 2px #81c784 !important; }
.pistachio-b, .pistachio-border { border-color: #81c784 !important; }
.pistachio-o, .pistachio-outline { outline-color: #81c784 !important; }
.mint { background-color: #99edc3 !important; }
.mint-t, .mint-text { color: #99edc3 !important; }
.mint-t-s, .mint-text-shadow { text-shadow: 2px 2px #99edc3 !important; }
.mint-b, .mint-border { border-color: #99edc3 !important; }
.mint-o, .mint-outline { outline-color: #99edc3 !important; }
.seaweed { background-color: #2C4F29 !important; }
.seaweed-t, .seaweed-text { color: #2C4F29 !important; }
.seaweed-t-s, .seaweed-text-shadow { text-shadow: 2px 2px #2C4F29 !important; }
.seaweed-b, .seaweed-border { border-color: #2C4F29 !important; }
.seaweed-o, .seaweed-outline { outline-color: #2C4F29 !important; }
.spinach { background-color: #1b5e20 !important; }
.spinach-t, .spinach-text { color: #1b5e20 !important; }
.spinach-t-s, .spinach-text-shadow { text-shadow: 2px 2px #1b5e20 !important; }
.spinach-b, .spinach-border { border-color: #1b5e20 !important; }
.spinach-o, .spinach-outline { outline-color: #1b5e20 !important; }

/* Yellows */ 
.yellow, .lemon { background-color: #ffff00 !important; }
.lemon-t, .yellow-t, .yellow-text, .lemon-text { color: #ffff00 !important; }
.yellow-t-s, .lemon-t-s, .yellow-text-shadow, .lemon-text-shadow { text-shadow: 2px 2px #ffff00 !important; }
.yellow-b, .lemon-b, .yellow-border, .lemon-border { border-color: #ffff00 !important; }
.yellow-o, .lemon-o, .yellow-outline, .lemon-outline { outline-color: #ffff00 !important; }
.banana { background-color: #F4FA58 !important; }
.banana-t, .banana-text { color: #F4FA58 !important; }
.banana-t-s, .banana-text-shadow { text-shadow: 2px 2px #F4FA58 !important; }
.banana-b, .banana-border { border-color: #F4FA58 !important; }
.banana-o, .banana-outline { outline-color: #F4FA58 !important; }
.beer { background-color: #fbb117 !important; }
.beer-t, .beer-text { color: #fbb117 !important; }
.beer-b, .beer-border { border-color: #fbb117 !important; }
.beer-o, .beer-outline { outline-color: #fbb117 !important; }
.butter { background-color: #F2F5A9 !important; }
.butter-t, .butter-text { color: #F2F5A9 !important; }
.butter-t-s, .butter-text-shadow { text-shadow: 2px 2px #F2F5A9 !important; }
.butter-b, .butter-border { border-color: #F2F5A9 !important; }
.butter-o, .butter-outline { outline-color: #F2F5A9 !important; }
.cheddar { background-color: #F7B92A !important; }
.cheddar-t, .cheddar-text { color: #F7B92A !important; }
.cheddar-t-s, .cheddar-text-shadow { text-shadow: 2px 2px #F7B92A !important; }
.cheddar-b, .cheddar-border { border-color: #F7B92A !important; }
.cheddar-o, .cheddar-outline { outline-color: #F7B92A !important; }
.caramel { background-color: #c68e17 !important; }
.caramel-t, .caramel-text { color: #c68e17 !important; }
.caramel-t-s, .caramel-text-shadow { text-shadow: 2px 2px #c68e17 !important; }
.caramel-b, .caramel-border { border-color: #c68e17 !important; }
.caramel-o, .caramel-outline { outline-color: #c68e17 !important; }
.honey, .amber { background-color: #ffc107 !important; }
.honey-t, .honey-text, .amber-text { color: #ffc107 !important; }
.honey-t-s, .amber-t-s, .honey-text-shadow, .amber-text-shadow { text-shadow: 2px 2px #ffc107 !important; }
.honey-b, .amber-b, .honey-border, .amber-border { border-color: #ffc107 !important; }
.honey-o, .amber-o, .honey-outline, .amber-outline { outline-color: #ffc107 !important; }
.pineapple { background-color: #FFE874 !important; }
.pineapple-t, .pineapple-text { color: #FFE874 !important; }
.pineapple-t-s, .pineabble-text-shadow { text-shadow: 2px 2px #FFE874 !important; }
.pineapple-b, .pineapple-border { border-color: #FFE874 !important; }
.pineapple-o, .pineapple-outline { outline-color: #ffe874 !important; }
.mustard { background-color: #ffdb58 !important; }
.mustard-t, .mustard-text { color: #ffdb58 !important; }
.mustard-t-s, .mustard-text-shadow { text-shadow: 2px 2px #ffdb58 !important; }
.mustard-b, .mustard-border { border-color: #ffdb58 !important; }
.mustard-o, .mustard-outline { outline-color: #ffdb58 !important; }

/* MIXED FLAVORS */
.mono, .monochrome { background-color: #fff !important; color: #000 !important; }
.spinach-carrot { background-color: #1b5e20 !important; color: #ef6c00 !important; }
.strawberry-banana { background-color: #FE2E2E !important; color: #F4FA58 !important; }
.orange-cream { background-color: #FFA500 !important; color: #fff !important; }
.blueberry-pomegranate { background-color: #485B88 !important; color: #800000 !important; }
.lemon-lime { background-color: #ffff00 !important; color: #00ff00 !important; }
.honey-blueberry { color: #485B88 !important; background-color: #ffc107 !important; }
.chocolate-strawberry { color: #FE2E2E !important; background-color: #4c3428 !important; }
.bbq-fire { color: #fda50f !important; background-color: #5a140c !important; }
.pumpkin-butter, .pumpkin-spice-butter { color: #F2F5A9 !important; background-color: #e65100 !important; }
.vanilla-chocolate { background-color: #ffffff !important; color: #4c3428 !important; }
.olive-mushroom { background-color: #808000 !important; color: #cfd8dc !important; }
.raspberry-bubble-gum { background-color: #ad1457 !important; color: #f8bbd0 !important; }
.mint-chocolate { background-color: #99edc3 !important; color: #4c3428 !important; }
.peach-plum { background-color: #ffab91 !important; color: #800080 !important; }
.cherry-vanilla { background-color: #b52026 !important; color: #fff !important; }
.grape-pool-water { background-color: #4a148c !important; color: #81d4fa !important; }
.chocolate-peanut, .chocolate-peanut-butter { background-color: #4c3428 !important; color: #c29963 !important; }
.pear-blueberry, .green-apple-blueberry { background-color: #5BC236 !important; color: #485B88 !important; }
.silver-blood { background-color: #C0C0C0 !important; color: #800000 !important; }
.mango-cherry { background-color: #ffab40 !important; color: #b52026 !important; }
.sweden { background-color: #0000ff !important; color: #ffff00 !important; }
.success { background-color: #a5d6a7 !important; color: #008000 !important; }
.warning { background-color: #F2F5A9 !important; color: #b47000!important; }
.alert { background-color: #FE2E2E !important; color: #800000 !important; }
.info { background-color: #ADD8E6 !important; color: #2196f3 !important; }
.disabled { background-color: #e6e6e6 !important; color: #808080 !important; }
.ready { background-color: #ffab40 !important; color: #e65100 !important; }

/* GRADIENTS */
.happiness, .strawberry-banana-gradient {
	background: #FE2E2E; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#FE2E2E, #F4FA58); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FE2E2E, #F4FA58); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FE2E2E, #F4FA58); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FE2E2E, #F4FA58); /* Standard syntax */
}
.monogradient, .monochrome-gradient {
	background: #FFFFFF; background: -webkit-linear-gradient(#FFFFFF, #000000); 
	background: -o-linear-gradient(#FFFFFF, #000000); 
	background: -moz-linear-gradient(#FFFFFF, #000000); 
	background: linear-gradient(#FFFFFF, #000000); 
}
.swedish, .sweden-gradient { 
	background: #0000ff; background: -webkit-linear-gradient(#0000ff, #ffff00); 
	background: -o-linear-gradient(#0000ff, #ffff00); 
	background: -moz-linear-gradient(#0000ff, #ffff00); 
	background: linear-gradient(#0000ff, #ffff00);
}
.cherry-delight, .vanilla-cherry-gradient {
	background: #FFFFFF; background: -webkit-linear-gradient(#FFFFFF, #b52026); 
	background: -o-linear-gradient(#FFFFFF, #b52026); 
	background: -moz-linear-gradient(#FFFFFF, #b52026); 
	background: linear-gradient(#FFFFFF, #b52026); 
}
.pina-colada, .orange-cream-gradient {
	background: #FFE874; background: -webkit-linear-gradient(#FFE874, #f7f9e0); 
	background: -o-linear-gradient(#FFE874, #f7f9e0); 
	background: -moz-linear-gradient(#FFE874, #v); 
	background: linear-gradient(#FFE874, #f7f9e0); 
}
.deep-desire, .blueberry-pomegranate-gradient {
	background: #485B88; background: -webkit-linear-gradient(135deg, #485B88, #800000); 
	background: -o-linear-gradient(135deg, #485B88, #800000); 
	background: -moz-linear-gradient(135deg, #485B88, #800000); 
	background: linear-gradient(135deg, #485B88, #800000); 
}
.sprite, .lemon-lime-gradient {
	background: #ffff00; background: -webkit-linear-gradient(#ffff00, #00ff00); 
	background: -o-linear-gradient(#ffff00, #00ff00); 
	background: -moz-linear-gradient(#ffff00, #00ff00); 
	background: linear-gradient(#ffff00, #00ff00); 
}
.vanilla-chip, .vanilla-chocolate-gradient {
	background: #ffffff; background: -webkit-linear-gradient(#ffffff, #4c3428); 
	background: -o-linear-gradient(#ffffff, #4c3428); 
	background: -moz-linear-gradient(#ffffff, #4c3428); 
	background: linear-gradient(#ffffff, #4c3428); 
}
.aqua, .water-blueberry-gradient {
	background: #ADD8E6; background: -webkit-linear-gradient(#ADD8E6, #485B88); 
	background: -o-linear-gradient(#ADD8E6, #485B88); 
	background: -moz-linear-gradient(#ADD8E6, #485B88); 
	background: linear-gradient(#ADD8E6, #485B88); 
}
.fresh, .kiwi-cucumber-gradient {
	background: #58FA82; background: -webkit-linear-gradient(#58FA82, #008000); 
	background: -o-linear-gradient(#58FA82, #008000); 
	background: -moz-linear-gradient(#58FA82, #008000); 
	background: linear-gradient(#58FA82, #008000); 
}
.passion, .bubble-gum-grape-gradient {
	background: #f8bbd0; background: -webkit-linear-gradient(69deg, #f8bbd0, #4a148c); 
	background: -o-linear-gradient(69deg, #f8bbd0, #4a148c); 
	background: -moz-linear-gradient(69deg, #f8bbd0, #4a148c); 
	background: linear-gradient(69deg, #f8bbd0, #4a148c);
}
.neapolitan {
	background: #4c3428; background: -webkit-linear-gradient(255deg, #4c3428, #4c3428, #FE2E2E, #FE2E2E, #FBFBEF, #FBFBEF); 
	background: -o-linear-gradient(255deg, #4c3428, #4c3428, #FE2E2E, #FE2E2E, #FBFBEF, #FBFBEF); 
	background: -moz-linear-gradient(255deg, #4c3428, #4c3428, #FE2E2E, #FE2E2E, #FBFBEF, #FBFBEF); 
	background: linear-gradient(255deg, #4c3428, #4c3428, #FE2E2E, #FE2E2E, #FBFBEF, #FBFBEF);
}
.vampire, .blood-black-gradient {
	background: #800000; background: -webkit-linear-gradient(#800000, #000000); 
	background: -o-linear-gradient(#800000, #000000); 
	background: -moz-linear-gradient(#800000, #000000); 
	background: linear-gradient(#800000, #000000);
}
.mint-chip, .mint-chocolate-gradient {
	background: #a5d6a7; background: -webkit-linear-gradient(#a5d6a7, #4c3428); 
	background: -o-linear-gradient(#a5d6a7, #4c3428); 
	background: -moz-linear-gradient(#a5d6a7, #4c3428); 
	background: linear-gradient(#a5d6a7, #4c3428);
}
.pride, .pride-gradient, .rainbow {
	background: #ff0000; 
	/* To make this gradient vertical, remove the "to right" from the color array below */
	background: -webkit-linear-gradient(to right, #ff0000, #ff9800, #ffff00, #008000, #0000FF, #800080); 
	background: -o-linear-gradient(to right, #ff0000, #ff9800, #ffff00, #008000, #0000FF, #800080); 
	background: -moz-linear-gradient(to right, #ff0000, #ff9800, #ffff00, #008000, #0000FF, #800080); 
	background: linear-gradient(to right, #ff0000, #ff9800, #ffff00, #008000, #0000FF, #800080);
}
.watermelon { 
	background: #d03b3b; 
	background: -webkit-linear-gradient(#1c6123, #d5f3d8, #d03b3b, #d03b3b, #d5f3d8, #1c6123); 
	background: -o-linear-gradient(#1c6123, #d5f3d8, #d03b3b, #d03b3b, #d5f3d8, #1c6123); 
	background: -moz-linear-gradient(#1c6123, #d5f3d8, #d03b3b, #d03b3b, #d5f3d8, #1c6123); 
	background: linear-gradient(#1c6123, #d5f3d8, #d03b3b, #d03b3b, #d5f3d8, #1c6123);
}
.dragonfruit {
	background: #e0e0e0; 
	background: -webkit-linear-gradient(#5eb81b, #d5036f, #e0e0e0, #e0e0e0, #e0e0e0, #e0e0e0, #d5036f, #5eb81b); 
	background: -o-linear-gradient(#5eb81b, #d5036f, #e0e0e0, #e0e0e0, #e0e0e0, #e0e0e0, #d5036f, #5eb81b); 
	background: -moz-linear-gradient(#5eb81b, #d5036f, #e0e0e0, #e0e0e0, #e0e0e0, #e0e0e0, #d5036f, #5eb81b); 
	background: linear-gradient(#5eb81b, #d5036f, #e0e0e0, #e0e0e0, #e0e0e0, #e0e0e0, #d5036f, #5eb81b);
}
.oreo {
	background: #271f13; background: -webkit-linear-gradient(#271f13, #271f13, #efefef, #efefef, #271f13, #271f13); 
	background: -o-linear-gradient(#271f13, #271f13, #efefef, #efefef, #271f13, #271f13); 
	background: -moz-linear-gradient(#271f13, #271f13, #efefef, #efefef, #271f13, #271f13); 
	background: linear-gradient(#271f13, #271f13, #efefef, #efefef, #271f13, #271f13);
}
.peppermint {
	background: #ffffff; background: -webkit-linear-gradient(#ff0000, #ffffff, #ffffff, #ff0000, #ffffff, #ffffff, #ff0000); 
	background: -o-linear-gradient(#ff0000, #ffffff, #ffffff, #ff0000, #ffffff, #ffffff, #ff0000); 
	background: -moz-linear-gradient(#ff0000, #ffffff, #ffffff, #ff0000, #ffffff, #ffffff, #ff0000); 
	background: linear-gradient(#ff0000, #ffffff, #ffffff, #ff0000, #ffffff, #ffffff, #ff0000);
}
.bacon {
	background: #bd8865; 
	background: -webkit-linear-gradient(#3b1210, #bd8865, #bd8865, #761d1d, #761d1d, #bd8865, #bd8865, #3b1210); 
	background: -o-linear-gradient(#3b1210, #bd8865, #bd8865, #761d1d, #761d1d, #bd8865, #bd8865, #3b1210); 
	background: -moz-linear-gradient(#3b1210, #bd8865, #bd8865, #761d1d, #761d1d, #bd8865, #bd8865, #3b1210); 
	background: linear-gradient(#3b1210, #bd8865, #bd8865, #761d1d, #761d1d, #bd8865, #bd8865, #3b1210);
}
.halloween {
	background: #fc6600; background: -webkit-linear-gradient(#000000, #fc6600); 
	background: -o-linear-gradient(#000000, #fc6600); 
	background: -moz-linear-gradient(#000000, #fc6600); 
	background: linear-gradient(#000000, #fc6600);
}
.octoberfest {
	background: #fbb117; background: -webkit-linear-gradient(310deg, #000000, #fc6600, #fbb117); 
	background: -o-linear-gradient(310deg, #000000, #fc6600, #fbb117); 
	background: -moz-linear-gradient(310deg, #000000, #fc6600, #fbb117); 
	background: linear-gradient(310deg, #000000, #fc6600, #fbb117);
}
.caramel-apple {
	background: #c68e17; background: -webkit-linear-gradient(#c68e17, #5BC236, #5BC236); 
	background: -o-linear-gradient(#c68e17, #5BC236, #5BC236); 
	background: -moz-linear-gradient(#c68e17, #5BC236, #5BC236); 
	background: linear-gradient(#c68e17, #5BC236, #5BC236);
}
.ireland {
	background: #f62828; background: -webkit-linear-gradient(125deg, #00713d, #ffffff, #f37736); 
	background: -o-linear-gradient(125deg, #00713d, #ffffff, #f37736); 
	background: -moz-linear-gradient(125deg, #00713d, #ffffff, #f37736);
	background: linear-gradient(125deg, #00713d, #ffffff, #f37736);
}
.autumn {
	background: #f17b13;
	background: -webkit-linear-gradient(135deg, #ffb800, #f17b13, #f17b13, #bf3c10, #bf2a10, #b01804); 
	background: -o-linear-gradient(135deg, #ffb800, #f17b13, #f17b13, #bf3c10, #bf2a10, #b01804); 
	background: -moz-linear-gradient(135deg, #ffb800, #f17b13, #f17b13, #bf3c10, #bf2a10, #b01804);
	background: linear-gradient(135deg, #ffb800, #f17b13, #f17b13, #bf3c10, #bf2a10, #b01804);
}
.winter {
	background: #058195;
	background: -webkit-linear-gradient(135deg, #5dafb0, #058195, #344f75); 
	background: -o-linear-gradient(135deg, #5dafb0, #058195, #344f75); 
	background: -moz-linear-gradient(135deg, #5dafb0, #058195, #344f75);
	background: linear-gradient(135deg, #5dafb0, #058195, #344f75);
}
.spring {
	background: #e2f945;
	background: -webkit-linear-gradient(140deg, #e2f945, #6fdf32, #27f2ca, #148b03); 
	background: -o-linear-gradient(140deg, #e2f945, #6fdf32, #27f2ca, #148b03); 
	background: -moz-linear-gradient(140deg, #e2f945, #6fdf32, #27f2ca, #148b03);
	background: linear-gradient(140deg, #e2f945, #6fdf32, #27f2ca, #148b03);
}
.summer {
	background: #f17b13; background: -webkit-linear-gradient(150deg, #fbe025, #32effa); 
	background: -o-linear-gradient(150deg, #fbe025, #32effa); 
	background: -moz-linear-gradient(150deg, #fbe025, #32effa);
	background: linear-gradient(150deg, #fbe025, #32effa);
}
.lush {
	background: #3d7821; background: -webkit-linear-gradient(150deg, #3d7821, #a8e063); 
	background: -o-linear-gradient(150deg, #3d7821, #a8e063); 
	background: -moz-linear-gradient(150deg, #3d7821, #a8e063);
	background: linear-gradient(150deg, #3d7821, #a8e063);
}
.hottie {
	background: #ff512f; background: -webkit-linear-gradient(120deg, #ff512f, #dd2476); 
	background: -o-linear-gradient(120deg, #ff512f, #dd2476); 
	background: -moz-linear-gradient(120deg, #ff512f, #dd2476);
	background: linear-gradient(120deg, #ff512f, #dd2476);
}
.river {
	background: #43cea2; background: -webkit-linear-gradient(100deg, #43cea2, #185a9d); 
	background: -o-linear-gradient(100deg, #43cea2, #185a9d); 
	background: -moz-linear-gradient(100deg, #43cea2, #185a9d);
	background: linear-gradient(100deg, #43cea2, #185a9d);
}
.sunset {
	background: #ff704d; background: -webkit-linear-gradient(110deg, #ff704d, #feb781); 
	background: -o-linear-gradient(110deg, #ff704d, #feb781); 
	background: -moz-linear-gradient(110deg, #ff704d, #feb781);
	background: linear-gradient(110deg, #ff704d, #feb781);
}
.dusk {
	background: #ffd89b; background: -webkit-linear-gradient(120deg, #ffd89b, #19547b); 
	background: -o-linear-gradient(120deg, #ffd89b, #19547b); 
	background: -moz-linear-gradient(120deg, #ffd89b, #19547b);
	background: linear-gradient(120deg, #ffd89b, #19547b);
}
.virgin {
	background: #7b4397; background: -webkit-linear-gradient(160deg, #7b4397, #dc2430); 
	background: -o-linear-gradient(160deg, #7b4397, #dc2430); 
	background: -moz-linear-gradient(160deg, #7b4397, #dc2430);
	background: linear-gradient(160deg, #7b4397, #dc2430);
}
.shades {
	background: #bdc3c7; background: -webkit-linear-gradient(170deg, #bdc3c7, #2c3e50); 
	background: -o-linear-gradient(170deg, #bdc3c7, #2c3e50); 
	background: -moz-linear-gradient(170deg, #bdc3c7, #2c3e50);
	background: linear-gradient(170deg, #bdc3c7, #2c3e50);
}
.liminal {
	background: #222234; background: -webkit-linear-gradient(101deg, #222234, #425466, #425466, #222234); 
	background: -o-linear-gradient(101deg, #222234, #425466, #425466, #222234); 
	background: -moz-linear-gradient(101deg, #222234, #425466, #425466, #222234);
	background: linear-gradient(101deg, #222234, #425466, #425466, #222234);
}